Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

netbox: add postgres configuration file (#1795)
  roles/netbox/tasks/config-postgres.yml
  roles/netbox/templates/docker-compose.yml.j2
  roles/netbox/templates/postgresql.conf.j2
Due: ansible-collection-services-molecule-netbox

netbox: add DPU device role (#1793)
  roles/netbox/templates/initializers/device_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: use version 4.2.2
  roles/netbox/defaults/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: add more device roles
  roles/netbox/templates/initializers/device_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: rename out-of-band role to oob
  roles/netbox/templates/initializers/prefix_vlan_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add more device roles (#1798)
  roles/netbox/templates/initializers/device_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: rename out-of-band role to oob (#1799)
  roles/netbox/templates/initializers/prefix_vlan_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

Update custom fields in netbox
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: update custom fields (#1802)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

Remove kubernetes-monitoring role
  roles/kubernetes_monitoring/README.md
  roles/kubernetes_monitoring/defaults/main.yml
  roles/kubernetes_monitoring/meta/main.yml
  roles/kubernetes_monitoring/tasks/config-kubernetes-monitoring.yml
  roles/kubernetes_monitoring/tasks/config-openstack-exporter.yml
  roles/kubernetes_monitoring/tasks/deploy-kubernetes-monitoring.yml
  roles/kubernetes_monitoring/tasks/deploy-openstack-exporter.yml
  roles/kubernetes_monitoring/tasks/main.yml
  roles/kubernetes_monitoring/templates/kubernetes_monitoring.yml.j2
  roles/kubernetes_monitoring/templates/openstack_exporter.yml.j2
Due: none

Remove kubernetes-monitoring role (#1806)
  roles/kubernetes_monitoring/README.md
  roles/kubernetes_monitoring/defaults/main.yml
  roles/kubernetes_monitoring/meta/main.yml
  roles/kubernetes_monitoring/tasks/config-kubernetes-monitoring.yml
  roles/kubernetes_monitoring/tasks/config-openstack-exporter.yml
  roles/kubernetes_monitoring/tasks/deploy-kubernetes-monitoring.yml
  roles/kubernetes_monitoring/tasks/deploy-openstack-exporter.yml
  roles/kubernetes_monitoring/tasks/main.yml
  roles/kubernetes_monitoring/templates/kubernetes_monitoring.yml.j2
  roles/kubernetes_monitoring/templates/openstack_exporter.yml.j2
Due: none

manager: add hubble wrapper script
  roles/manager/tasks/config-wrapper.yml
  roles/manager/templates/wrapper/hubble.j2
Due: ansible-collection-services-molecule-manager

manager: add hubble wrapper script (#1807)
  roles/manager/tasks/config-wrapper.yml
  roles/manager/templates/wrapper/hubble.j2
Due: ansible-collection-services-molecule-manager

chrony: use nts by default
  roles/chrony/defaults/main.yml
Due: ansible-collection-services-molecule-chrony

dnsmasq: make it possible to not set a DHCP range
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: none

dnsmasq: allow multiple dhcp ranges
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: none

dnsmasq: allow multiple dhcp ranges (#1817)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: none

netbox: remove oob custom fields
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: remove oob custom fields (#1821)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add out-of-band tag
  roles/netbox/templates/initializers/tags.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add out-of-band tag (#1822)
  roles/netbox/templates/initializers/tags.yml.j2
Due: ansible-collection-services-molecule-netbox

Add netbox custom field for ironic parameters
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

Add share volume to conductor container
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

zuul: add zookeeper volumes
  roles/zuul/defaults/main.yml
  roles/zuul/templates/docker-compose.yaml.j2
Due: ansible-collection-services-molecule-zuul

zuul: use zookeeper 3.8.4
  roles/zuul/defaults/main.yml
Due: ansible-collection-services-molecule-zuul

zuul: bump zuul, nodepool and mariadb versions
  roles/zuul/defaults/main.yml
Due: ansible-collection-services-molecule-zuul

zuul: remove tibeer from samples
  roles/zuul/defaults/main.yml
Due: ansible-collection-services-molecule-zuul

zuul: remove tibeer from samples (#1829)
  roles/zuul/defaults/main.yml
Due: ansible-collection-services-molecule-zuul

zuul: use a named volume for mariadb by default
  roles/zuul/defaults/main.yml
Due: ansible-collection-services-molecule-zuul

zuul: use a named volume for mariadb by default (#1830)
  roles/zuul/defaults/main.yml
Due: ansible-collection-services-molecule-zuul

zuul: use version 12.0.0 for zuul
  roles/zuul/defaults/main.yml
Due: ansible-collection-services-molecule-zuul

zuul: use version 12.0.0 for zuul (#1831)
  roles/zuul/defaults/main.yml
Due: ansible-collection-services-molecule-zuul

zuul: add ipv6 network to services external services
  roles/zuul/defaults/main.yml
  roles/zuul/templates/docker-compose.yaml.j2
Due: ansible-collection-services-molecule-zuul

zuul: add ipv6 network to services external services (#1827)
  roles/zuul/defaults/main.yml
  roles/zuul/templates/docker-compose.yaml.j2
Due: ansible-collection-services-molecule-zuul

zuul: fix typo
  roles/zuul/defaults/main.yml
Due: ansible-collection-services-molecule-zuul
