Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-keycloak, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openldap, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: ansible-molecule
  vars:
    ansible_role: adminer
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-auditd:
  parent: ansible-molecule
  vars:
    ansible_role: auditd
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-bird:
  parent: ansible-molecule
  vars:
    ansible_role: bird
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-cephclient:
  parent: ansible-molecule
  vars:
    ansible_role: cephclient
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-cgit:
  parent: ansible-molecule
  vars:
    ansible_role: cgit
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-chrony:
  parent: ansible-molecule
  vars:
    ansible_role: chrony
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-clamav:
  parent: ansible-molecule
  vars:
    ansible_role: clamav
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-containerd:
  parent: ansible-molecule
  vars:
    ansible_role: containerd
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-dnsdist:
  parent: ansible-molecule
  vars:
    ansible_role: dnsdist
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-docker:
  parent: ansible-molecule
  vars:
    ansible_role: docker
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-fail2ban:
  parent: ansible-molecule
  vars:
    ansible_role: fail2ban
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-falco:
  parent: ansible-molecule
  vars:
    ansible_role: falco
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-frr:
  parent: ansible-molecule
  vars:
    ansible_role: frr
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-hddtemp:
  parent: ansible-molecule
  vars:
    ansible_role: hddtemp
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-homer:
  parent: ansible-molecule
  vars:
    ansible_role: homer
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-journald:
  parent: ansible-molecule
  vars:
    ansible_role: journald
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-keycloak:
  parent: ansible-molecule
  vars:
    ansible_role: keycloak
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-lldpd:
  parent: ansible-molecule
  vars:
    ansible_role: lldpd
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-manager:
  parent: ansible-molecule
  vars:
    ansible_role: manager
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-metering:
  parent: ansible-molecule
  vars:
    ansible_role: metering
    ansible_molecule_ansible_version: 9.1.0

Add metrics configuration option for Zookeeper
  roles/zuul/defaults/main.yml
  roles/zuul/templates/docker-compose.yaml.j2
  roles/zuul/templates/zoo.cfg.j2
Due: ansible-collection-services-molecule-zuul

docker wrappers: make INTERACTIVE=false work
  roles/cephclient/templates/wrapper/ceph-authtool.j2
  roles/cephclient/templates/wrapper/ceph.j2
  roles/cephclient/templates/wrapper/crushtool.j2
  roles/cephclient/templates/wrapper/rados.j2
  roles/cephclient/templates/wrapper/radosgw-admin.j2
  roles/cephclient/templates/wrapper/rbd.j2
  roles/manager/templates/wrapper/osism.j2
  roles/openstackclient/templates/openstack.j2
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-openstackclient

docker: ensure that some packages are not installed
  roles/docker/tasks/install-docker-Debian.yml
Due: ansible-collection-services-molecule-docker

manager: make redis stateless
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Renaming containerd variables to meet ansible-lint-6.22.2 requirements
  molecule/delegated/tests/containerd.py
  roles/containerd/README.rst
  roles/containerd/defaults/main.yml
  roles/containerd/tasks/install-Debian.yml
Due: ansible-collection-services-molecule-containerd

Test new Ansible linter
  .ansible-lint
  .zuul.yaml
Due: none

Renaming nexus variables to meet ansible-lint-6.22.2 requirements
  .zuul.yaml
  molecule/delegated/tests/containerd.py
  molecule/delegated/tests/nexus.py
  molecule/delegated/vars/nexus.yml
  roles/containerd/tasks/install-Debian.yml
  roles/netbox/defaults/main.yml
  roles/netbox/tasks/config-netbox.yml
  roles/netbox/tasks/config.yml
  roles/nexus/README.rst
  roles/nexus/defaults/main.yml
  roles/nexus/tasks/call-script.yml
  roles/nexus/tasks/config.yml
  roles/nexus/tasks/initialize.yml
  roles/nexus/tasks/service.yml
  roles/nexus/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus

Renaming netbox, adminer and metering variables to meet ansible-lint-6.22.2 requirements
  .zuul.yaml
  molecule/delegated/tests/adminer.py
  molecule/delegated/tests/metering.py
  molecule/delegated/tests/netbox.py
  molecule/delegated/vars/adminer.yml
  molecule/delegated/vars/metering.yml
  molecule/delegated/vars/netbox.yml
  roles/adminer/README.rst
  roles/adminer/defaults/main.yml
  roles/adminer/tasks/main.yml
  roles/adminer/templates/docker-compose.yml.j2
  roles/metering/README.rst
  roles/metering/defaults/main.yml
  roles/metering/tasks/container-Debian.yml
  roles/netbox/defaults/main.yml
  roles/netbox/tasks/config-postgres.yml
  roles/netbox/tasks/service.yml
  roles/netbox/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox

Renaming manager variables to meet ansible-lint-6.22.2 requirements
  .zuul.yaml
  roles/adminer/defaults/main.yml
Due: ansible-collection-services-molecule-adminer

Revert "Renaming manager variables to meet ansible-lint-6.22.2 requirements"
  .zuul.yaml
  roles/adminer/defaults/main.yml
Due: ansible-collection-services-molecule-adminer

Renaming manager variables to meet ansible-lint-6.22.2 requirements
  .zuul.yaml
  molecule/delegated/tests/manager.py
  molecule/delegated/vars/manager.yml
  roles/adminer/defaults/main.yml
  roles/manager/README.rst
  roles/manager/defaults/main.yml
  roles/manager/handlers/main.yml
  roles/manager/tasks/config-ansible.yml
  roles/manager/tasks/config-ara.yml
  roles/manager/tasks/config-celery.yml
  roles/manager/tasks/config-netbox.yml
  roles/manager/tasks/config-vault.yml
  roles/manager/tasks/config-wrapper.yml
  roles/manager/tasks/config.yml
  roles/manager/tasks/initialize-vault.yml
  roles/manager/tasks/initialize.yml
  roles/manager/tasks/install-Debian.yml
  roles/manager/tasks/service.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/templates/env/ara-server.env.j2
  roles/manager/templates/env/ara.env.j2
  roles/manager/templates/env/mariadb.env.j2
  roles/manager/templates/env/netbox.env.j2
  roles/manager/templates/env/vault.env.j2
  roles/manager/templates/wrapper/osism-ansible.j2
  roles/manager/templates/wrapper/osism-ceph.j2
  roles/manager/templates/wrapper/osism-custom.j2
  roles/manager/templates/wrapper/osism-generic.j2
  roles/manager/templates/wrapper/osism-infrastructure.j2
  roles/manager/templates/wrapper/osism-kolla.j2
  roles/manager/templates/wrapper/osism-manager.j2
  roles/manager/templates/wrapper/osism-monitoring.j2
  roles/manager/templates/wrapper/osism-openstack.j2
  roles/manager/templates/wrapper/osism-run-without-secrets.j2
  roles/manager/templates/wrapper/osism-run.j2
  roles/manager/templates/wrapper/osism-state.j2
  roles/manager/templates/wrapper/osism-validate.j2
  roles/metering/defaults/main.yml
  roles/metering/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering

Renaming keycloak variables to meet ansible-lint-6.22.2 requirements
  .zuul.yaml
  molecule/delegated/tests/keycloak.py
  molecule/delegated/vars/keycloak.yml
  roles/keycloak/README.rst
  roles/keycloak/defaults/main.yml
  roles/keycloak/tasks/config.yml
  roles/keycloak/tasks/service.yml
  roles/keycloak/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-keycloak

manager: make redis stateless (#1281)
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Renaming jornald variables to meet ansible-lint-6.22.2 requirements
  .zuul.yaml
  molecule/delegated/tests/journald.py
  roles/journald/README.rst
  roles/journald/defaults/main.yml
  roles/journald/templates/journald.conf.j2
Due: ansible-collection-services-molecule-journald

Renaming chrony variables to meet ansible-lint-6.22.2 requirements
  .zuul.yaml
  roles/chrony/README.rst
  roles/chrony/defaults/main.yml
Due: ansible-collection-services-molecule-chrony

docker: always update the package cache
  roles/docker/tasks/install-docker-Debian.yml
Due: ansible-collection-services-molecule-docker

docker: always update the package cache (#1282)
  roles/docker/tasks/install-docker-Debian.yml
Due: ansible-collection-services-molecule-docker

scaphandre: run privileged
  roles/scaphandre/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-scaphandre

scaphandre: run privileged (#1283)
  roles/scaphandre/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-scaphandre

Renaming homer variables to meet ansible-lint-6.22.2 requirements
  .zuul.yaml
  molecule/delegated/tests/homer.py
  molecule/delegated/vars/homer.yml
  roles/homer/README.rst
  roles/homer/defaults/main.yml
  roles/homer/tasks/main.yml
  roles/homer/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-homer

Renaming docker variables to meet ansible-lint-6.22.2 requirements
  .zuul.yaml
  molecule/delegated/tests/docker.py
  molecule/delegated/tests/homer.py
  molecule/delegated/vars/docker.yml
  roles/docker/README.rst
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-Debian.yml
  roles/docker/tasks/service.yml
  roles/docker/templates/containerd_config.toml.j2
Due: ansible-collection-services-molecule-docker, ansible-collection-services-molecule-homer

Renaming dnsdist variables to meet ansible-lint-6.22.2 requirements
  molecule/delegated/tests/dnsdist.py
  molecule/delegated/vars/dnsdist.yml
  roles/dnsdist/README.rst
  roles/dnsdist/defaults/main.yml
  roles/dnsdist/tasks/config.yml
  roles/dnsdist/tasks/service.yml
  roles/dnsdist/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-dnsdist

Renaming auditd, cephclient and cgit variables to meet ansible-lint-6.22.2 requirements
  .zuul.yaml
  molecule/delegated/tests/auditd.py
  molecule/delegated/tests/cephclient/container.py
  molecule/delegated/tests/cgit.py
  molecule/delegated/vars/cephclient.yml
  molecule/delegated/vars/cgit.yml
  roles/auditd/README.rst
  roles/auditd/defaults/main.yml
  roles/auditd/tasks/install-Debian.yml
  roles/cephclient/README.rst
  roles/cephclient/defaults/main.yml
  roles/cephclient/tasks/container-Debian.yml
  roles/cephclient/templates/docker-compose.yml.j2
  roles/cgit/README.rst
  roles/cgit/defaults/main.yml
  roles/cgit/tasks/config.yml
  roles/cgit/tasks/service.yml
  roles/cgit/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit

Fix variables in README.rst files
  roles/manager/README.rst
  roles/manager/defaults/main.yml
  roles/metering/README.rst
  roles/netbox/README.rst
  roles/openldap/README.rst
  roles/openstack_health_monitor/README.rst
  roles/openstackclient/README.rst
  roles/phpmyadmin/README.rst
  roles/scaphandre/README.rst
  roles/squid/README.rst
  roles/tang/README.rst
  roles/thanos_sidecar/README.rst
  roles/traefik/README.rst
  roles/virtualbmc/README.rst
Due: ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-openldap, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-virtualbmc

Add task in cephclient role to rm old architecture-dependent repo
  roles/cephclient/tasks/package-Debian.yml
Due: ansible-collection-services-molecule-cephclient

Add task in openstackclient role to rm old architecture-dependent repo
  molecule/delegated/vars/openstackclient.yml
  roles/openstackclient/tasks/package-Debian.yml
Due: ansible-collection-services-molecule-openstackclient

Add task in netdata role to rm old architecture-dependent repo
  molecule/delegated/vars/openstackclient.yml
  roles/netdata/tasks/install-Debian.yml
Due: ansible-collection-services-molecule-netdata

Add task in docker role to rm old architecture-dependent repo
  roles/docker/tasks/install-docker-Debian.yml
Due: ansible-collection-services-molecule-docker

Add task in containerd role to rm old architecture-dependent repo
  roles/containerd/tasks/install-Debian.yml
Due: ansible-collection-services-molecule-containerd

Add task in osquery role to rm old architecture-dependent repo
  roles/osquery/tasks/install-Debian.yml
Due: ansible-collection-services-molecule-osquery

Add task in falco role to rm old architecture-dependent repo
  roles/falco/tasks/install-Debian.yml
Due: ansible-collection-services-molecule-falco

Add tasks to remove old architecture-dependent repository (#1287)
  roles/cephclient/tasks/package-Debian.yml
  roles/containerd/tasks/install-Debian.yml
  roles/docker/tasks/install-docker-Debian.yml
  roles/falco/tasks/install-Debian.yml
  roles/netdata/tasks/install-Debian.yml
  roles/openstackclient/tasks/package-Debian.yml
  roles/osquery/tasks/install-Debian.yml
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-bird: any of: ^roles\/bird\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/bird.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-keycloak: any of: ^roles\/keycloak\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/keycloak.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openldap: any of: ^roles\/openldap\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openldap.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/zuul.*$
