Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-keycloak, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openldap, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: ansible-molecule
  vars:
    ansible_role: adminer
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-auditd:
  parent: ansible-molecule
  vars:
    ansible_role: auditd
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-bird:
  parent: ansible-molecule
  vars:
    ansible_role: bird
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-cephclient:
  parent: ansible-molecule
  vars:
    ansible_role: cephclient
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-cgit:
  parent: ansible-molecule
  vars:
    ansible_role: cgit
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-chrony:
  parent: ansible-molecule
  vars:
    ansible_role: chrony
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-clamav:
  parent: ansible-molecule
  vars:
    ansible_role: clamav
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-containerd:
  parent: ansible-molecule
  vars:
    ansible_role: containerd
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-dnsdist:
  parent: ansible-molecule
  vars:
    ansible_role: dnsdist
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-docker:
  parent: ansible-molecule
  vars:
    ansible_role: docker
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-fail2ban:
  parent: ansible-molecule
  vars:
    ansible_role: fail2ban
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-falco:
  parent: ansible-molecule
  vars:
    ansible_role: falco
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-frr:
  parent: ansible-molecule
  vars:
    ansible_role: frr
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-hddtemp:
  parent: ansible-molecule
  vars:
    ansible_role: hddtemp
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-homer:
  parent: ansible-molecule
  vars:
    ansible_role: homer
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-journald:
  parent: ansible-molecule
  vars:
    ansible_role: journald
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-keycloak:
  parent: ansible-molecule
  vars:
    ansible_role: keycloak
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-lldpd:
  parent: ansible-molecule
  vars:
    ansible_role: lldpd
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-manager:
  parent: ansible-molecule
  vars:
    ansible_role: manager
    ansible_molecule_ansible_version: 9.2.0

ansible-collection-services-molecule-metering:
  parent: ansible-molecule
  vars:
    ansible_role: metering
    ansible_molecule_ansible_version: 9.2.0

Fix fail2ban role
  .zuul.yaml
  roles/fail2ban/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-fail2ban

Fix tuned role
  .zuul.yaml
Due: none

Fix auditd role
  molecule/delegated/prepare/auditd.yml
  molecule/delegated/tests/auditd.py
  roles/auditd/defaults/main.yml
  roles/auditd/handlers/main.yml
  roles/auditd/tasks/install-Debian.yml
  roles/auditd/tasks/install-RedHat.yml
  roles/auditd/tasks/main.yml
  roles/auditd/vars/jammy.yml
Due: ansible-collection-services-molecule-auditd

Fix docker role
  .zuul.yaml
  molecule/delegated/prepare/docker.yml
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-RedHat.yml
  roles/docker/tasks/main.yml
Due: ansible-collection-services-molecule-docker

Adding smartd to CentOS
  .zuul.yaml
  molecule/delegated/prepare/smartd.yml
  roles/smartd/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-smartd

Adding rsyslog support for CentOS
  .zuul.yaml
  molecule/delegated/prepare/rsyslog.yml
  molecule/delegated/tests/rsyslog.py
  roles/rsyslog/tasks/install-RedHat.yml
  roles/rsyslog/tasks/main.yml
  roles/rsyslog/templates/rsyslog.conf.j2
  roles/rsyslog/vars/Debian.yml
  roles/rsyslog/vars/RedHat.yml
Due: ansible-collection-services-molecule-rsyslog

Fix docker role
  README.md
  molecule/delegated/prepare/docker.yml
  molecule/delegated/tests/docker/__init__.py
  molecule/delegated/tests/docker/debian.py
  molecule/delegated/tests/docker/main.py
  molecule/delegated/tests/docker/redhat.py
  molecule/delegated/tests/util/util.py
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-Debian.yml
  roles/docker/tasks/install-docker-RedHat.yml
  roles/docker/tasks/main.yml
  roles/docker/tasks/service.yml
  roles/docker/vars/Debian.yml
  roles/docker/vars/RedHat.yml
Due: ansible-collection-services-molecule-docker

Adding rsyslog support for CentOS
  molecule/delegated/prepare/rsyslog.yml
  molecule/delegated/tests/rsyslog.py
  roles/rsyslog/tasks/install-RedHat.yml
  roles/rsyslog/tasks/main.yml
  roles/rsyslog/templates/rsyslog.conf.j2
  roles/rsyslog/vars/Debian.yml
  roles/rsyslog/vars/RedHat.yml
Due: ansible-collection-services-molecule-rsyslog

Adding smartd to CentOS
  molecule/delegated/prepare/smartd.yml
  roles/smartd/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-smartd

Adding RNG support for CentOS
  .zuul.yaml
  molecule/delegated/prepare/rng.yml
Due: none

Adding osquery support for CentOS
  .zuul.yaml
  README.md
  molecule/delegated/prepare/osquery.yml
  molecule/delegated/tests/osquery/__init__.py
  molecule/delegated/tests/osquery/debian.py
  molecule/delegated/tests/osquery/main.py
  molecule/delegated/tests/osquery/redhat.py
  molecule/delegated/tests/util/util.py
  roles/osquery/defaults/main.yml
  roles/osquery/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-osquery

Adding RNG support for CentOS
  molecule/delegated/prepare/rng.yml
Due: none

Adding osquery support for CentOS
  README.md
  molecule/delegated/prepare/osquery.yml
  molecule/delegated/tests/osquery/__init__.py
  molecule/delegated/tests/osquery/debian.py
  molecule/delegated/tests/osquery/main.py
  molecule/delegated/tests/osquery/redhat.py
  molecule/delegated/tests/util/util.py
  roles/osquery/defaults/main.yml
  roles/osquery/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-osquery

Switch branch version of collection commons
  molecule/delegated/collections.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-keycloak, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openldap, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Fix chrony role
  molecule/delegated/prepare/chrony.yml
Due: none

Fix homer role
  molecule/delegated/prepare/homer.yml
Due: none

Fix adminer role
  molecule/delegated/prepare/adminer.yml
Due: none

Adding support for netdata on CentOS
  .zuul.yaml
  README.md
  molecule/delegated/prepare/netdata.yml
  molecule/delegated/tests/netdata/__init__.py
  molecule/delegated/tests/netdata/debian.py
  molecule/delegated/tests/netdata/main.py
  molecule/delegated/tests/netdata/redhat.py
  roles/netdata/defaults/main.yml
  roles/netdata/tasks/install-RedHat.yml
  roles/netdata/tasks/main.yml
Due: ansible-collection-services-molecule-netdata

Import custom CA cert into Java keystore
  roles/keycloak/templates/codecentric-keycloak.yml.j2
Due: ansible-collection-services-molecule-keycloak

Import custom CA cert into Java keystore (#1321)
  roles/keycloak/templates/codecentric-keycloak.yml.j2
Due: ansible-collection-services-molecule-keycloak

Added lldpd support for CentOS
  .zuul.yaml
  molecule/delegated/prepare/lldpd.yml
  roles/lldpd/tasks/install-RedHat.yml
  roles/lldpd/templates/auditd.conf.j2
  roles/lldpd/templates/rules/20-neo23x0.rules.j2
Due: ansible-collection-services-molecule-lldpd

Fix cephclient role
  molecule/delegated/prepare/cephclient.yml
  molecule/delegated/tests/cephclient/package.py
  molecule/delegated/tests/cephclient/package_debian.py
  roles/cephclient/defaults/main.yml
  roles/cephclient/tasks/container.yml
  roles/cephclient/tasks/main.yml
  roles/cephclient/tasks/package-Debian.yml
  roles/cephclient/tasks/package-RedHat.yml
Due: ansible-collection-services-molecule-cephclient

Added support for journald on CentOS
  .zuul.yaml
  molecule/delegated/prepare/journald.yml
Due: none

Added lldpd support for CentOS
  molecule/delegated/prepare/lldpd.yml
  roles/lldpd/tasks/install-RedHat.yml
  roles/lldpd/templates/auditd.conf.j2
  roles/lldpd/templates/rules/20-neo23x0.rules.j2
Due: ansible-collection-services-molecule-lldpd

Added support for journald on CentOS
  molecule/delegated/prepare/journald.yml
Due: none

Added hddtemp support for CentOS
  .zuul.yaml
  molecule/delegated/prepare/hddtemp.yml
  roles/hddtemp/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-hddtemp

Fix cgit role
  molecule/delegated/prepare/cgit.yml
Due: none

Added support for frr on CentOS
  .zuul.yaml
  molecule/delegated/prepare/frr.yml
  roles/frr/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-frr

Added virtualbmc support for CentOS
  .zuul.yaml
  molecule/delegated/prepare/virtualbmc.yml
Due: none

Fix containerd role
  molecule/delegated/prepare/containerd.yml
  molecule/delegated/tests/containerd/__init__.py
  molecule/delegated/tests/containerd/debian.py
  molecule/delegated/tests/containerd/main.py
  roles/containerd/defaults/main.yml
  roles/containerd/tasks/install-RedHat.yml
  roles/containerd/tasks/main.yml
  roles/containerd/tasks/service.yml
Due: ansible-collection-services-molecule-containerd

Added hddtemp support for CentOS
  molecule/delegated/prepare/hddtemp.yml
  roles/hddtemp/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-hddtemp

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-bird: any of: ^roles\/bird\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/bird.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-keycloak: any of: ^roles\/keycloak\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/keycloak.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openldap: any of: ^roles\/openldap\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openldap.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/zuul.*$
