Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-gnmic, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-dnsmasq: any of: ^roles\/dnsmasq\/.*$, ^molecule\/delegated\/tests\/dnsmasq.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-gnmic: any of: ^roles\/gnmic\/.*$, ^molecule\/delegated\/tests\/gnmic.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-httpd: any of: ^roles\/httpd\/.*$, ^molecule\/delegated\/tests\/httpd.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

Harden prometheus-frr-exporter teardown and bind handling
  molecule/delegated/tests/frr.py
  roles/frr/defaults/main.yml
  roles/frr/handlers/main.yml
  roles/frr/tasks/exporter.yml
  roles/frr/tasks/main.yml
  roles/frr/templates/prometheus-frr-exporter.j2
Due: ansible-collection-services-molecule-frr

Add molecule coverage for prometheus-frr-exporter
  molecule/delegated/tests/frr.py
  molecule/delegated/vars/frr.yml
Due: ansible-collection-services-molecule-frr

Add optional prometheus-frr-exporter service to frr role
  roles/frr/defaults/main.yml
  roles/frr/handlers/main.yml
  roles/frr/tasks/exporter.yml
  roles/frr/tasks/main.yml
  roles/frr/templates/prometheus-frr-exporter.j2
Due: ansible-collection-services-molecule-frr

squid: manage base squid.conf to own the http_port listener
  molecule/delegated/tests/squid.py
  roles/squid/tasks/main.yml
  roles/squid/templates/docker-compose.yml.j2
  roles/squid/templates/osism.conf.j2
  roles/squid/templates/squid.conf.j2
Due: ansible-collection-services-molecule-squid

netbox: don't restart during initial migration
  roles/netbox/tasks/restart-service.yml
Due: ansible-collection-services-molecule-netbox

molecule: capture container logs on failure
  .zuul.yaml
  playbooks/collect-container-logs.yml
Due: none

smartd: skip empty device type/options in smartd.conf
  roles/smartd/templates/smartd.conf.j2
Due: ansible-collection-services-molecule-smartd

smartd: validate smartd_devices via argument_specs
  roles/smartd/meta/argument_specs.yml
Due: ansible-collection-services-molecule-smartd

smartd: cover DEVICESCAN render in molecule test
  molecule/delegated/prepare/smartd.yml
  molecule/delegated/tests/smartd.py
Due: ansible-collection-services-molecule-smartd

smartd: support the RedHat family properly
  roles/smartd/defaults/main.yml
  roles/smartd/files/smartmontools-sysconfig
  roles/smartd/tasks/main.yml
  roles/smartd/vars/Debian.yml
  roles/smartd/vars/RedHat.yml
Due: ansible-collection-services-molecule-smartd

smartd: clarify smartd_devicescan only applies when managed
  roles/smartd/defaults/main.yml
Due: ansible-collection-services-molecule-smartd

smartd: cover /etc/smartd.conf rendering in molecule test
  molecule/delegated/tests/smartd.py
  molecule/delegated/vars/smartd.yml
Due: ansible-collection-services-molecule-smartd

smartd: make /etc/smartd.conf configurable via variables
  roles/smartd/defaults/main.yml
  roles/smartd/tasks/main.yml
  roles/smartd/templates/smartd.conf.j2
Due: ansible-collection-services-molecule-smartd

falco: drop obsolete kmod driver workflow
  molecule/delegated/tests/falco/debian.py
  roles/falco/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-falco

falco: drop obsolete kmod driver workflow (#2120)
  molecule/delegated/tests/falco/debian.py
  roles/falco/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-falco

manager: stop update-manager masking failures
  molecule/delegated/tests/manager.py
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

Fix project-board automation for fork PRs
  .github/workflows/add-to-project.yml
Due: none

manager: warn when container drops venv overrides
  molecule/delegated/tests/manager.py
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

manager: forward ANSIBLE_ASK_VAULT_PASS to seed
  molecule/delegated/tests/manager.py
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

manager: wire update-manager container path
  molecule/delegated/tests/manager.py
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

cephclient: remove rook install type
  .github/renovate.json
  roles/cephclient/defaults/main.yml
  roles/cephclient/tasks/main.yml
  roles/cephclient/tasks/rook.yml
  roles/cephclient/templates/wrapper/rook.j2
Due: ansible-collection-services-molecule-cephclient

cephclient: remove rook install type (#2129)
  .github/renovate.json
  roles/cephclient/defaults/main.yml
  roles/cephclient/tasks/main.yml
  roles/cephclient/tasks/rook.yml
  roles/cephclient/templates/wrapper/rook.j2
Due: ansible-collection-services-molecule-cephclient

httpd: switch sonic firmware install to dynamic-url
  roles/httpd/defaults/main.yml
  roles/httpd/templates/ztp.json.j2
Due: ansible-collection-services-molecule-httpd

httpd: switch sonic firmware install to dynamic-url (#2131)
  roles/httpd/defaults/main.yml
  roles/httpd/templates/ztp.json.j2
Due: ansible-collection-services-molecule-httpd

squid: add support for network host mode
  roles/squid/defaults/main.yml
  roles/squid/templates/docker-compose.yml.j2
  roles/squid/templates/osism.conf.j2
Due: ansible-collection-services-molecule-squid

renovate: track and batch role image defaults
  .github/renovate.json
Due: none

renovate: track and batch role image defaults (#2133)
  .github/renovate.json
Due: none

openstackclient,cephclient: track deployed series
  molecule/delegated/tests/cephclient/main.py
  molecule/delegated/vars/cephclient.yml
  molecule/delegated/vars/openstackclient.yml
  roles/cephclient/defaults/main.yml
  roles/openstackclient/defaults/main.yml
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-openstackclient

manager: default ARA DB CONN_MAX_AGE to 0
  roles/manager/defaults/main.yml
  roles/manager/templates/env/ara-server.env.j2
Due: ansible-collection-services-molecule-manager

kepler: pin, mirror, and Renovate-track image
  .github/renovate.json
  roles/kepler/defaults/main.yml
Due: none

thanos_sidecar: drop the role and service
  .zuul.yaml
  molecule/delegated/tests/thanos_sidecar.py
  roles/thanos_sidecar/README.md
  roles/thanos_sidecar/defaults/main.yml
  roles/thanos_sidecar/handlers/main.yml
  roles/thanos_sidecar/meta/main.yml
  roles/thanos_sidecar/tasks/config.yml
  roles/thanos_sidecar/tasks/main.yml
  roles/thanos_sidecar/tasks/service.yml
  roles/thanos_sidecar/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-thanos_sidecar
