Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: ansible-molecule
  vars:
    ansible_role: adminer
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-auditd:
  parent: ansible-molecule
  vars:
    ansible_role: auditd
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-bird:
  parent: centos-molecule
  nodeset:
    nodes:
    - name: ubuntu-jammy-large
      label: ubuntu-jammy-large
    - name: centos-9-stream
      label: centos-9-stream
  vars:
    ansible_role: bird
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-cephclient:
  parent: ansible-molecule
  vars:
    ansible_role: cephclient
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-cgit:
  parent: ansible-molecule
  vars:
    ansible_role: cgit
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-chrony:
  parent: ansible-molecule
  vars:
    ansible_role: chrony
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-clamav:
  parent: centos-molecule
  nodeset:
    nodes:
    - name: ubuntu-jammy-large
      label: ubuntu-jammy-large
    - name: centos-9-stream
      label: centos-9-stream
  vars:
    ansible_role: clamav
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-containerd:
  parent: ansible-molecule
  vars:
    ansible_role: containerd
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-dnsdist:
  parent: ansible-molecule
  vars:
    ansible_role: dnsdist
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-docker:
  parent: ansible-molecule
  vars:
    ansible_role: docker
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-fail2ban:
  parent: centos-molecule
  nodeset:
    nodes:
    - name: ubuntu-jammy-large
      label: ubuntu-jammy-large
    - name: centos-9-stream
      label: centos-9-stream
  vars:
    ansible_role: fail2ban
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-falco:
  parent: ansible-molecule
  vars:
    ansible_role: falco
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-frr:
  parent: ansible-molecule
  vars:
    ansible_role: frr
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-hddtemp:
  parent: ansible-molecule
  vars:
    ansible_role: hddtemp
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-homer:
  parent: ansible-molecule
  vars:
    ansible_role: homer
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-journald:
  parent: ansible-molecule
  vars:
    ansible_role: journald
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-lldpd:
  parent: ansible-molecule
  vars:
    ansible_role: lldpd
    ansible_molecule_ansible_version: 9.3.0

Fix clamav role
  .zuul.yaml
  molecule/delegated/tests/clamav/__init__.py
  molecule/delegated/tests/clamav/clamav.py
  molecule/delegated/tests/clamav/debian.py
  roles/clamav/defaults/main.yml
  roles/clamav/tasks/initialize.yml
  roles/clamav/tasks/install-RedHat.yml
  roles/clamav/tasks/main.yml
  roles/clamav/vars/Debian.yml
  roles/clamav/vars/RedHat.yml
Due: ansible-collection-services-molecule-clamav

Fix auditd role
  molecule/delegated/prepare/auditd.yml
  molecule/delegated/tests/auditd.py
  roles/auditd/defaults/main.yml
  roles/auditd/handlers/main.yml
  roles/auditd/tasks/install-Debian.yml
  roles/auditd/tasks/install-RedHat.yml
  roles/auditd/tasks/main.yml
  roles/auditd/vars/jammy.yml
Due: ansible-collection-services-molecule-auditd

Fix homer role
  molecule/delegated/prepare/homer.yml
Due: none

Fix docker role
  README.md
  molecule/delegated/prepare/docker.yml
  molecule/delegated/tests/docker/__init__.py
  molecule/delegated/tests/docker/debian.py
  molecule/delegated/tests/docker/main.py
  molecule/delegated/tests/docker/redhat.py
  molecule/delegated/tests/util/util.py
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-Debian.yml
  roles/docker/tasks/install-docker-RedHat.yml
  roles/docker/tasks/main.yml
  roles/docker/tasks/service.yml
  roles/docker/vars/Debian.yml
  roles/docker/vars/RedHat.yml
Due: ansible-collection-services-molecule-docker

Added thanos_sidecar support for CentOS
  .zuul.yaml
  molecule/delegated/prepare/thanos_sidecar.yml
  roles/thanos_sidecar/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-thanos_sidecar

Adding support for netdata on CentOS
  .zuul.yaml
  README.md
  molecule/delegated/prepare/netdata.yml
  molecule/delegated/tests/netdata/__init__.py
  molecule/delegated/tests/netdata/debian.py
  molecule/delegated/tests/netdata/main.py
  molecule/delegated/tests/netdata/redhat.py
  roles/netdata/defaults/main.yml
  roles/netdata/tasks/config.yml
  roles/netdata/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-netdata

Add rook_operator
  roles/rook_operator/README.md
  roles/rook_operator/README.rst
  roles/rook_operator/defaults/main.yml
  roles/rook_operator/meta/main.yml
  roles/rook_operator/tasks/config.yml
  roles/rook_operator/tasks/deploy.yml
  roles/rook_operator/tasks/main.yml
  roles/rook_operator/tasks/namespace.yml
  roles/rook_operator/templates/operator.yml.j2
Due: none

Add rook_operator (#1337)
  roles/rook_operator/README.md
  roles/rook_operator/README.rst
  roles/rook_operator/defaults/main.yml
  roles/rook_operator/meta/main.yml
  roles/rook_operator/tasks/config.yml
  roles/rook_operator/tasks/deploy.yml
  roles/rook_operator/tasks/main.yml
  roles/rook_operator/tasks/namespace.yml
  roles/rook_operator/templates/operator.yml.j2
Due: none

manager: drop bifrost integration
  roles/manager/README.rst
  roles/manager/defaults/main.yml
  roles/manager/templates/env/netbox.env.j2
  roles/netbox/templates/initializers/tags.yml.j2
Due: ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox

manager: drop bifrost integration (#1339)
  roles/manager/README.rst
  roles/manager/defaults/main.yml
  roles/manager/templates/env/netbox.env.j2
  roles/netbox/templates/initializers/tags.yml.j2
Due: ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox

docker: make role usable on Debian
  molecule/delegated/tests/docker.py
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-Debian.yml
Due: ansible-collection-services-molecule-docker

docker: make role usable on Debian (#1340)
  molecule/delegated/tests/docker.py
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-Debian.yml
Due: ansible-collection-services-molecule-docker

Add rockylinux runner
  molecule/delegated/molecule.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Testing centos runner
  .zuul.yaml
Due: none

Add support for CentOS for first roles
  .zuul.yaml
  molecule/delegated/molecule.yml
  molecule/delegated/prepare/bird.yml
  molecule/delegated/prepare/clamav.yml
  molecule/delegated/prepare/fail2ban.yml
  molecule/delegated/prepare/tuned.yml
  roles/clamav/defaults/main.yml
  roles/clamav/tasks/initialize.yml
  roles/clamav/tasks/main.yml
  roles/clamav/vars/Debian.yml
  roles/clamav/vars/RedHat.yml
  roles/fail2ban/tasks/install-RedHat.yml
  roles/tuned/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Add CentOS support for role bird
  molecule/delegated/tests/bird/__init__.py
  molecule/delegated/tests/bird/debian.py
  molecule/delegated/tests/bird/main.py
  molecule/delegated/tests/bird/redhat.py
  roles/bird/tasks/install-Debian.yml
  roles/bird/tasks/install-RedHat.yml
  roles/bird/tasks/main.yml
Due: ansible-collection-services-molecule-bird

Remove bird role
  README.md
  molecule/delegated/prepare/bird.yml
  molecule/delegated/tests/bird.py
  molecule/delegated/vars/bird.yml
  molecule/delegated/verify/bird.yml
  roles/bird/README.md
  roles/bird/README.rst
  roles/bird/defaults/main.yml
  roles/bird/handlers/main.yml
  roles/bird/meta/main.yml
  roles/bird/tasks/install-Debian.yml
  roles/bird/tasks/main.yml
  roles/bird/templates/bird.conf.j2
Due: ansible-collection-services-molecule-bird

Add CentOS support for role clamav
  molecule/delegated/tests/clamav/__init__.py
  molecule/delegated/tests/clamav/debian.py
  molecule/delegated/tests/clamav/main.py
  roles/clamav/defaults/main.yml
  roles/clamav/tasks/initialize.yml
  roles/clamav/tasks/install-RedHat.yml
  roles/clamav/tasks/main.yml
  roles/clamav/vars/Debian.yml
  roles/clamav/vars/RedHat.yml
Due: ansible-collection-services-molecule-clamav

Add CentOS support for role fail2ban
  roles/fail2ban/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-fail2ban

Add CentOS support for role auditd
  molecule/delegated/prepare/auditd.yml
  molecule/delegated/tests/auditd.py
  roles/auditd/defaults/main.yml
  roles/auditd/tasks/install-Debian.yml
  roles/auditd/tasks/install-RedHat.yml
  roles/auditd/tasks/main.yml
  roles/auditd/vars/jammy.yml
Due: ansible-collection-services-molecule-auditd

Add CentOS support for role docker
  README.md
  molecule/delegated/prepare/docker.yml
  molecule/delegated/tests/docker/__init__.py
  molecule/delegated/tests/docker/debian.py
  molecule/delegated/tests/docker/main.py
  molecule/delegated/tests/docker/redhat.py
  molecule/delegated/tests/util/util.py
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-Debian.yml
  roles/docker/tasks/install-docker-RedHat.yml
  roles/docker/tasks/main.yml
  roles/docker/tasks/service.yml
  roles/docker/vars/Debian.yml
  roles/docker/vars/RedHat.yml
Due: ansible-collection-services-molecule-docker

Add CentOS support for role cephclient
  molecule/delegated/prepare/cephclient.yml
  molecule/delegated/tests/cephclient/package.py
  molecule/delegated/tests/cephclient/package_debian.py
  roles/cephclient/defaults/main.yml
  roles/cephclient/tasks/container.yml
  roles/cephclient/tasks/main.yml
  roles/cephclient/tasks/package-Debian.yml
  roles/cephclient/tasks/package-RedHat.yml
Due: ansible-collection-services-molecule-cephclient

Add CentOS support for role cgit
  molecule/delegated/prepare/cgit.yml
Due: none

Add CentOS support for role adminer
  molecule/delegated/prepare/adminer.yml
Due: none

Add CentOS support for role rsyslog
  molecule/delegated/prepare/rsyslog.yml
  molecule/delegated/tests/rsyslog.py
  roles/rsyslog/tasks/install-RedHat.yml
  roles/rsyslog/tasks/main.yml
  roles/rsyslog/templates/rsyslog.conf.j2
  roles/rsyslog/vars/Debian.yml
  roles/rsyslog/vars/RedHat.yml
Due: ansible-collection-services-molecule-rsyslog

Remove all package cache updates from prepare steps
  molecule/delegated/prepare/adminer.yml
  molecule/delegated/prepare/auditd.yml
  molecule/delegated/prepare/bird.yml
  molecule/delegated/prepare/cephclient.yml
  molecule/delegated/prepare/cgit.yml
  molecule/delegated/prepare/chrony.yml
  molecule/delegated/prepare/clamav.yml
  molecule/delegated/prepare/containerd.yml
  molecule/delegated/prepare/dnsdist.yml
  molecule/delegated/prepare/docker.yml
  molecule/delegated/prepare/fail2ban.yml
  molecule/delegated/prepare/falco.yml
  molecule/delegated/prepare/frr.yml
  molecule/delegated/prepare/hddtemp.yml
  molecule/delegated/prepare/homer.yml
  molecule/delegated/prepare/journald.yml
  molecule/delegated/prepare/lldpd.yml
  molecule/delegated/prepare/manager.yml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/prepare/netbox.yml
  molecule/delegated/prepare/nexus.yml
  molecule/delegated/prepare/openstackclient.yml
  molecule/delegated/prepare/osquery.yml
  molecule/delegated/prepare/phpmyadmin.yml
  molecule/delegated/prepare/rng.yml
  molecule/delegated/prepare/rsyslog.yml
  molecule/delegated/prepare/scaphandre.yml
  molecule/delegated/prepare/smartd.yml
  molecule/delegated/prepare/squid.yml
  molecule/delegated/prepare/thanos_sidecar.yml
  molecule/delegated/prepare/traefik.yml
  molecule/delegated/prepare/tuned.yml
  molecule/delegated/prepare/virtualbmc.yml
  molecule/delegated/prepare/wireguard.yml
Due: none

Add CentOS support for role openstackclient
  molecule/delegated/prepare/openstackclient.yml
  roles/openstackclient/defaults/main.yml
  roles/openstackclient/tasks/container-RedHat.yml
  roles/openstackclient/tasks/package-RedHat.yml
  roles/openstackclient/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-openstackclient

Add CentOS support for role rng
  molecule/delegated/prepare/rng.yml
Due: none

Add CentOS support for role nexus
  molecule/delegated/prepare/nexus.yml
Due: none

Add CentOS support for role thanos_sidecar
  molecule/delegated/prepare/thanos_sidecar.yml
  roles/thanos_sidecar/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-thanos_sidecar

Add CentOS support for role manager
  molecule/delegated/prepare/manager.yml
  roles/manager/tasks/install-RedHat.yml
  roles/manager/tasks/main.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/vars/Debian.yml
  roles/manager/vars/RedHat.yml
Due: ansible-collection-services-molecule-manager

Add CentOS support for role frr
  molecule/delegated/prepare/frr.yml
  roles/frr/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-frr

Add CentOS support for role phpmyadmin
  molecule/delegated/prepare/phpmyadmin.yml
Due: none

Add CentOS support for role traefik
  molecule/delegated/prepare/traefik.yml
Due: none

Add CentOS support for role lldpd
  molecule/delegated/prepare/lldpd.yml
  roles/lldpd/tasks/install-RedHat.yml
  roles/lldpd/templates/auditd.conf.j2
  roles/lldpd/templates/rules/20-neo23x0.rules.j2
Due: ansible-collection-services-molecule-lldpd

Add CentOS support for role containerd
  molecule/delegated/prepare/containerd.yml
  molecule/delegated/tests/containerd/__init__.py
  molecule/delegated/tests/containerd/debian.py
  molecule/delegated/tests/containerd/main.py
  roles/containerd/defaults/main.yml
  roles/containerd/tasks/install-RedHat.yml
  roles/containerd/tasks/main.yml
  roles/containerd/tasks/service.yml
Due: ansible-collection-services-molecule-containerd

Add CentOS support for role metering
  molecule/delegated/prepare/metering.yml
  roles/metering/tasks/container-Debian.yml
  roles/metering/tasks/main.yml
  roles/metering/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-metering

Add CentOS support for role scaphandre
  molecule/delegated/prepare/scaphandre.yml
Due: none

Add CentOS support for role chrony
  molecule/delegated/prepare/chrony.yml
Due: none

Add CentOS support for role smartd
  molecule/delegated/prepare/smartd.yml
  roles/smartd/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-smartd

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-bird: any of: ^roles\/bird\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/bird.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/zuul.*$
