Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-gnmic, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-dnsmasq: any of: ^roles\/dnsmasq\/.*$, ^molecule\/delegated\/tests\/dnsmasq.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-gnmic: any of: ^roles\/gnmic\/.*$, ^molecule\/delegated\/tests\/gnmic.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-httpd: any of: ^roles\/httpd\/.*$, ^molecule\/delegated\/tests\/httpd.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

kepler: change network to 172.31.102.48/28 (#2018)
  roles/kepler/defaults/main.yml
Due: none

httpd: Don't break sonic dir permissions
  roles/httpd/tasks/sonic-ztp.yml
Due: ansible-collection-services-molecule-httpd

httpd: Don't break sonic dir permissions (#2020)
  roles/httpd/tasks/sonic-ztp.yml
Due: ansible-collection-services-molecule-httpd

frr: Add optional BFD support for FRR neighbors
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_k3s_cilium.conf.j2
  roles/frr/templates/frr_leaf.conf.j2
  roles/frr/templates/frr_loadbalancer.conf.j2
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

frr: add optional BGP neighbor password support
  roles/frr/templates/frr_k3s_cilium.conf.j2
  roles/frr/templates/frr_leaf.conf.j2
  roles/frr/templates/frr_loadbalancer.conf.j2
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

frr: add configurable BGP local preference support
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_leaf.conf.j2
Due: ansible-collection-services-molecule-frr

netbox: add FRR local preference custom field
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add FRR local preference custom field (#2025)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

frr: add IPv6 support for BGP local preference
  roles/frr/templates/frr_leaf.conf.j2
Due: ansible-collection-services-molecule-frr

netbox: set custom field maintenance to false by default
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: set custom field maintenance to false by default (#2028)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

dnsmasq: add retry logic for service startup
  roles/dnsmasq/tasks/service.yml
Due: ansible-collection-services-molecule-dnsmasq

frr: add extra interfaces support for BGP route-map
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_leaf.conf.j2
Due: ansible-collection-services-molecule-frr

Update main.yml
  roles/docker/defaults/main.yml
Due: ansible-collection-services-molecule-docker

docker: added docker_default_ulimits to set default ulimits in docker
  roles/docker/defaults/main.yml
  roles/docker/templates/daemon.json.j2
Due: ansible-collection-services-molecule-docker

manager: make configuration mount in osismclient read-write
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: make configuration mount in osismclient read-write (#2032)
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

frr: add VRRP support for leaf configuration
  roles/frr/defaults/main.yml
  roles/frr/templates/daemons.j2
  roles/frr/templates/frr_leaf.conf.j2
Due: ansible-collection-services-molecule-frr

thanos_sidecar: fix operator user
  roles/thanos_sidecar/defaults/main.yml
Due: ansible-collection-services-molecule-thanos_sidecar

thanos_sidecar: fix operator_user default value
  roles/thanos_sidecar/defaults/main.yml
Due: ansible-collection-services-molecule-thanos_sidecar

thanos_sidecar: fix operator_user default value (#2037)
  roles/thanos_sidecar/defaults/main.yml
Due: ansible-collection-services-molecule-thanos_sidecar

docker: added docker_default_ulimits to set default ulimits in docker (#2030)
  roles/docker/defaults/main.yml
  roles/docker/templates/daemon.json.j2
Due: ansible-collection-services-molecule-docker

frr: make ospfd, ospf6d, and vrrpd daemons configurable
  roles/frr/defaults/main.yml
  roles/frr/templates/daemons.j2
Due: ansible-collection-services-molecule-frr

manager: add inventory volume mount for netbox service
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: add inventory volume mount for api service (#2041)
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: use uv for pip installations in wrapper scripts
  roles/manager/templates/wrapper/osism-update-docker.j2
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

manager: use uv for pip installations in wrapper scripts (#2042)
  roles/manager/templates/wrapper/osism-update-docker.j2
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

netbox: add bgp-af-l2vpn-evpn tag
  roles/netbox/templates/initializers/tags.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add bgp-af-l2vpn-evpn tag (#2043)
  roles/netbox/templates/initializers/tags.yml.j2
Due: ansible-collection-services-molecule-netbox

Fix default manager netbox filters
  roles/manager/defaults/main.yml
Due: ansible-collection-services-molecule-manager

Fix default manager netbox filters (#2044)
  roles/manager/defaults/main.yml
Due: ansible-collection-services-molecule-manager

docker: make python3-docker deb package URL configurable
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-Debian-family.yml
Due: ansible-collection-services-molecule-docker
