Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: ansible-molecule
  vars:
    ansible_role: adminer
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-auditd:
  parent: ansible-molecule
  vars:
    ansible_role: auditd
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-bird:
  parent: ansible-molecule
  vars:
    ansible_role: bird
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-cephclient:
  parent: ansible-molecule
  vars:
    ansible_role: cephclient
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-cgit:
  parent: ansible-molecule
  vars:
    ansible_role: cgit
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-chrony:
  parent: ansible-molecule
  vars:
    ansible_role: chrony
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-clamav:
  parent: ansible-molecule
  vars:
    ansible_role: clamav
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-containerd:
  parent: ansible-molecule
  vars:
    ansible_role: containerd
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-dnsdist:
  parent: ansible-molecule
  vars:
    ansible_role: dnsdist
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-docker:
  parent: ansible-molecule
  vars:
    ansible_role: docker
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-fail2ban:
  parent: ansible-molecule
  nodeset:
    nodes:
    - name: ubuntu-jammy-large
      label: ubuntu-jammy-large
    - name: centos-9-stream
      label: centos-9-stream
  vars:
    ansible_role: fail2ban
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-falco:
  parent: ansible-molecule
  vars:
    ansible_role: falco
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-frr:
  parent: ansible-molecule
  vars:
    ansible_role: frr
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-hddtemp:
  parent: ansible-molecule
  vars:
    ansible_role: hddtemp
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-homer:
  parent: ansible-molecule
  vars:
    ansible_role: homer
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-journald:
  parent: ansible-molecule
  vars:
    ansible_role: journald
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-lldpd:
  parent: ansible-molecule
  vars:
    ansible_role: lldpd
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-manager:
  parent: ansible-molecule
  vars:
    ansible_role: manager
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-metering:
  parent: ansible-molecule
  vars:
    ansible_role: metering
    ansible_molecule_ansible_version: 9.3.0

rook: add fetch-keys task
  roles/rook/defaults/main.yml
  roles/rook/tasks/apply.yml
  roles/rook/tasks/fetch-keys.yml
  roles/rook/tasks/main.yml
Due: none

rook: simplify fetch-keys task
  roles/rook/defaults/main.yml
  roles/rook/tasks/fetch-keys.yml
Due: none

rook: increase mgr_count
  roles/rook/defaults/main.yml
Due: none

rook: add documentation
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/tasks/fetch-keys.yml
  roles/rook/templates/01_CephCluster.yml.j2
  roles/rook/templates/04_CephFilesystem.yml.j2
Due: none

rook: jinja template for CephBlockPools
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/templates/03_CephBlockPool.yml.j2
Due: none

rook: customize dashboard
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/templates/01_CephCluster.yml.j2
Due: none

rook_operator: discovery daemon support
  roles/rook_operator/README.rst
  roles/rook_operator/defaults/main.yml
  roles/rook_operator/templates/operator.yml.j2
Due: none

rook: obtain the information about physical disks in dashboard
  roles/rook/defaults/main.yml
Due: none

rook: add Wait until CephCluster is Ready to fetch-keys
  roles/rook/tasks/fetch-keys.yml
  roles/rook/tasks/wait-for-cluster.yml
Due: none

rook: do not include fetch-keys tasks in main as it has to be run on manager node
  roles/rook/tasks/main.yml
Due: none

manager: make it possible to disable/enable the netbox inventory sync
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: make it possible to disable/enable the netbox inventory sync (#1444)
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Remove release notes
  releasenotes/notes/add-molecule-testinfra-a7d15bed7af6bd86.yaml
  releasenotes/notes/add-molecule-zuul-job-e07b844fc1022e36.yaml
  releasenotes/notes/homer-remove-kibana-d0c81feafe1af25e.yaml
  releasenotes/notes/manager-ara-server-mariadb-volume-type-cb20abe7946ecbed.yaml
  releasenotes/notes/manager-ara-server-new-parameters-4dde69d8d501ebc4.yaml
  releasenotes/notes/manager-ara_server_mariadb_healthcheck-71e116352e2cf62b.yaml
  releasenotes/notes/manager-fs.inotify.max_user_instances-2a71c3ac11e8da69.yaml
  releasenotes/notes/manager-improve-wait-for-an-healthy-manager-services-fc6132d1cfeed397.yaml
  releasenotes/notes/manager-listener-enable-8be154e1398e0ff9.yaml
  releasenotes/notes/manager-mariadb-MARIADB_AUTO_UPGRADE-7b3812dd9a8dd91c.yaml
  releasenotes/notes/manager-more-healthchecks-2819198e29a80405.yaml
  releasenotes/notes/manager-only-copy-bash-completion-with-celery-integration-b50dadda5e9b897f.yaml
  releasenotes/notes/manager-opensearch-protocol-6899e3ff20ec511b.yaml
  releasenotes/notes/manager-osism-update-docker-b519e7ad5bbeabcb.yaml
  releasenotes/notes/manager-remove-osism-mirror-e621c82c1d666cbf.yaml
  releasenotes/notes/manager-resource-limits-8dc65134a0738a8d.yaml
  releasenotes/notes/manager-sources-configurable-98bb9a9b6fdc68c9.yaml
  releasenotes/notes/manager-update-wrapper-arguments-2f5ea72ac68aa8ec.yaml
  releasenotes/notes/mariadb-use-healthcheck.sh-script-85633547115b539c.yaml
  releasenotes/notes/netbox-add-healthcheck-3dbaa2f0fca8c19d.yaml
  releasenotes/notes/netbox-netbox_postgres_volume_typ-ade52938ba4a2185.yaml
  releasenotes/notes/remove-patchman-686a14202925b24b.yaml
  releasenotes/notes/squid-add-healthcheck-6adfb0f696672c2b.yaml
  releasenotes/notes/squid-remove-whitelist-42419d9868936912.yaml
  releasenotes/notes/squid-version-5.7-23.04_beta-e05f0f4d729abf6b.yaml
  releasenotes/notes/traefik-add-healthcheck-5c0f41f233cb60d0.yaml
  releasenotes/notes/wait-for-healthy-containers-aa18406aa766d3a7.yaml
  releasenotes/notes/zuul-volume-settings-dfdcc32a900018cb.yaml
Due: none

Remove release notes (#1445)
  releasenotes/notes/add-molecule-testinfra-a7d15bed7af6bd86.yaml
  releasenotes/notes/add-molecule-zuul-job-e07b844fc1022e36.yaml
  releasenotes/notes/homer-remove-kibana-d0c81feafe1af25e.yaml
  releasenotes/notes/manager-ara-server-mariadb-volume-type-cb20abe7946ecbed.yaml
  releasenotes/notes/manager-ara-server-new-parameters-4dde69d8d501ebc4.yaml
  releasenotes/notes/manager-ara_server_mariadb_healthcheck-71e116352e2cf62b.yaml
  releasenotes/notes/manager-fs.inotify.max_user_instances-2a71c3ac11e8da69.yaml
  releasenotes/notes/manager-improve-wait-for-an-healthy-manager-services-fc6132d1cfeed397.yaml
  releasenotes/notes/manager-listener-enable-8be154e1398e0ff9.yaml
  releasenotes/notes/manager-mariadb-MARIADB_AUTO_UPGRADE-7b3812dd9a8dd91c.yaml
  releasenotes/notes/manager-more-healthchecks-2819198e29a80405.yaml
  releasenotes/notes/manager-only-copy-bash-completion-with-celery-integration-b50dadda5e9b897f.yaml
  releasenotes/notes/manager-opensearch-protocol-6899e3ff20ec511b.yaml
  releasenotes/notes/manager-osism-update-docker-b519e7ad5bbeabcb.yaml
  releasenotes/notes/manager-remove-osism-mirror-e621c82c1d666cbf.yaml
  releasenotes/notes/manager-resource-limits-8dc65134a0738a8d.yaml
  releasenotes/notes/manager-sources-configurable-98bb9a9b6fdc68c9.yaml
  releasenotes/notes/manager-update-wrapper-arguments-2f5ea72ac68aa8ec.yaml
  releasenotes/notes/mariadb-use-healthcheck.sh-script-85633547115b539c.yaml
  releasenotes/notes/netbox-add-healthcheck-3dbaa2f0fca8c19d.yaml
  releasenotes/notes/netbox-netbox_postgres_volume_typ-ade52938ba4a2185.yaml
  releasenotes/notes/remove-patchman-686a14202925b24b.yaml
  releasenotes/notes/squid-add-healthcheck-6adfb0f696672c2b.yaml
  releasenotes/notes/squid-remove-whitelist-42419d9868936912.yaml
  releasenotes/notes/squid-version-5.7-23.04_beta-e05f0f4d729abf6b.yaml
  releasenotes/notes/traefik-add-healthcheck-5c0f41f233cb60d0.yaml
  releasenotes/notes/wait-for-healthy-containers-aa18406aa766d3a7.yaml
  releasenotes/notes/zuul-volume-settings-dfdcc32a900018cb.yaml
Due: none

Add openstack exporter deployment
  roles/kubernetes_monitoring/README.rst
  roles/kubernetes_monitoring/defaults/main.yml
  roles/kubernetes_monitoring/tasks/config-kubernetes-monitoring.yml
  roles/kubernetes_monitoring/tasks/config-openstack-exporter.yml
  roles/kubernetes_monitoring/tasks/deploy-kubernetes-monitoring.yml
  roles/kubernetes_monitoring/tasks/deploy-openstack-exporter.yml
  roles/kubernetes_monitoring/tasks/main.yml
  roles/kubernetes_monitoring/tasks/namespace.yml
  roles/kubernetes_monitoring/templates/kubernetes_monitoring.yml.j2
  roles/kubernetes_monitoring/templates/openstack_exporter.yml.j2
Due: none

Add rabbitmq-operator role
  roles/rabbitmq_operator/README.md
  roles/rabbitmq_operator/defaults/main.yml
  roles/rabbitmq_operator/meta/main.yml
  roles/rabbitmq_operator/tasks/main.yml
  roles/rabbitmq_operator/templates/operator.yml.j2
Due: none

Add rabbitmq-operator role (#1446)
  roles/rabbitmq_operator/README.md
  roles/rabbitmq_operator/defaults/main.yml
  roles/rabbitmq_operator/meta/main.yml
  roles/rabbitmq_operator/tasks/main.yml
  roles/rabbitmq_operator/templates/operator.yml.j2
Due: none

rook: rename `rook_image` to `rook_ceph_image`
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/templates/01_CephCluster.yml.j2
  roles/rook/templates/02_Toolbox.yml.j2
Due: none

rook: add cleanup
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/wait-for-cluster-deleted.yml
Due: none

Add renovate bot dependency update comments
  roles/kubernetes_monitoring/defaults/main.yml
Due: none

manager: warn when Ansible is installed
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

manager: warn when Ansible is installed (#1449)
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

manager: fix check for encrypted files
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

manager: fix check for encrypted files (#1450)
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

Use "Add repository" as task name
  roles/cephclient/tasks/package-RedHat-family.yml
  roles/falco/tasks/install-RedHat-family_broken.yml
  roles/netdata/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-netdata

Use "Add repository" as task name (#1454)
  roles/cephclient/tasks/package-RedHat-family.yml
  roles/falco/tasks/install-RedHat-family_broken.yml
  roles/netdata/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-netdata

molecule: improve & fix netdata tests
  molecule/delegated/tests/netdata/debian.py
  molecule/delegated/tests/netdata/main.py
  molecule/delegated/tests/netdata/redhat.py
  roles/netdata/defaults/main.yml
  roles/netdata/tasks/config.yml
  roles/netdata/templates/cloud.conf.j2
Due: ansible-collection-services-molecule-netdata

Add netbird role
  .zuul.yaml
  molecule/delegated/prepare/netbird.yml
  molecule/delegated/tests/netbird/__init__.py
  molecule/delegated/tests/netbird/debian.py
  molecule/delegated/tests/netbird/redhat.py
  molecule/delegated/vars/netbird.yml
  molecule/delegated/verify/netbird.yml
  roles/netbird/README.md
  roles/netbird/defaults/main.yml
  roles/netbird/handlers/main.yml
  roles/netbird/meta/main.yml
  roles/netbird/tasks/install-Debian-family.yml
  roles/netbird/tasks/install-RedHat-family.yml
  roles/netbird/tasks/main.yml
  roles/netbird/vars/Debian-family.yml
  roles/netbird/vars/RedHat-family.yml
Due: none

molecule: improve & fix netdata tests (#1455)
  molecule/delegated/tests/netdata/debian.py
  molecule/delegated/tests/netdata/main.py
  molecule/delegated/tests/netdata/redhat.py
  roles/netdata/defaults/main.yml
  roles/netdata/tasks/config.yml
  roles/netdata/templates/cloud.conf.j2
Due: ansible-collection-services-molecule-netdata

Add netbird role (#1453)
  .zuul.yaml
  molecule/delegated/prepare/netbird.yml
  molecule/delegated/tests/netbird/__init__.py
  molecule/delegated/tests/netbird/debian.py
  molecule/delegated/tests/netbird/redhat.py
  molecule/delegated/vars/netbird.yml
  molecule/delegated/verify/netbird.yml
  roles/netbird/README.md
  roles/netbird/defaults/main.yml
  roles/netbird/handlers/main.yml
  roles/netbird/meta/main.yml
  roles/netbird/tasks/install-Debian-family.yml
  roles/netbird/tasks/install-RedHat-family.yml
  roles/netbird/tasks/main.yml
  roles/netbird/vars/Debian-family.yml
  roles/netbird/vars/RedHat-family.yml
Due: none

docker: add docker_python_install parameter
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-Debian-family.yml
  roles/docker/tasks/install-docker-RedHat-family.yml
Due: ansible-collection-services-molecule-docker

docker: add docker_python_install parameter (#1456)
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-Debian-family.yml
  roles/docker/tasks/install-docker-RedHat-family.yml
Due: ansible-collection-services-molecule-docker

netbird: add netbird_management_url parameter
  roles/netbird/defaults/main.yml
  roles/netbird/tasks/main.yml
Due: none

netbird: add netbird_management_url parameter (#1457)
  roles/netbird/defaults/main.yml
  roles/netbird/tasks/main.yml
Due: none

netbird: add more parameters
  roles/netbird/defaults/main.yml
  roles/netbird/tasks/main.yml
Due: none

netbird: add more parameters (#1458)
  roles/netbird/defaults/main.yml
  roles/netbird/tasks/main.yml
Due: none

Add EPEL repository via osism.commons.repository
  molecule/delegated/prepare/clamav.yml
  molecule/delegated/prepare/containerd.yml
  molecule/delegated/prepare/docker.yml
  molecule/delegated/prepare/fail2ban.yml
  molecule/delegated/prepare/falco.yml
  molecule/delegated/prepare/frr.yml
  molecule/delegated/prepare/hddtemp.yml
  molecule/delegated/prepare/netdata.yml
  molecule/delegated/prepare/openstackclient.yml
  molecule/delegated/tests/hddtemp/redhat.py
  roles/cephclient/tasks/package-RedHat-family.yml
  roles/clamav/tasks/install-RedHat-family.yml
  roles/containerd/tasks/install-RedHat-family.yml
  roles/docker/tasks/install-docker-RedHat-family.yml
  roles/fail2ban/tasks/install-RedHat-family.yml
  roles/falco/tasks/install-RedHat-family_broken.yml
  roles/frr/tasks/install-RedHat-family.yml
  roles/hddtemp/tasks/install-RedHat-family.yml
  roles/netbird/tasks/install-RedHat-family.yml
  roles/netdata/tasks/install-RedHat-family.yml
  roles/openstackclient/tasks/package-RedHat-family.yml
  roles/osquery/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery

rabbitmq_operator: fix image
  roles/rabbitmq_operator/templates/operator.yml.j2
Due: none

rabbitmq_operator: fix image (#1460)
  roles/rabbitmq_operator/templates/operator.yml.j2
Due: none

Add EPEL repository via osism.commons.repository (#1459)
  molecule/delegated/prepare/clamav.yml
  molecule/delegated/prepare/containerd.yml
  molecule/delegated/prepare/docker.yml
  molecule/delegated/prepare/fail2ban.yml
  molecule/delegated/prepare/falco.yml
  molecule/delegated/prepare/frr.yml
  molecule/delegated/prepare/hddtemp.yml
  molecule/delegated/prepare/netdata.yml
  molecule/delegated/prepare/openstackclient.yml
  molecule/delegated/tests/hddtemp/redhat.py
  roles/cephclient/tasks/package-RedHat-family.yml
  roles/clamav/tasks/install-RedHat-family.yml
  roles/containerd/tasks/install-RedHat-family.yml
  roles/docker/tasks/install-docker-RedHat-family.yml
  roles/fail2ban/tasks/install-RedHat-family.yml
  roles/falco/tasks/install-RedHat-family_broken.yml
  roles/frr/tasks/install-RedHat-family.yml
  roles/hddtemp/tasks/install-RedHat-family.yml
  roles/netbird/tasks/install-RedHat-family.yml
  roles/netdata/tasks/install-RedHat-family.yml
  roles/openstackclient/tasks/package-RedHat-family.yml
  roles/osquery/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-bird: any of: ^roles\/bird\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/bird.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/zuul.*$
