Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-gnmic, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: adminer

ansible-collection-services-molecule-auditd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: auditd

ansible-collection-services-molecule-cephclient:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cephclient

ansible-collection-services-molecule-cgit:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cgit

ansible-collection-services-molecule-chrony:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: chrony

ansible-collection-services-molecule-clamav:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: clamav

ansible-collection-services-molecule-containerd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: containerd

ansible-collection-services-molecule-dnsdist:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsdist

ansible-collection-services-molecule-dnsmasq:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsmasq

ansible-collection-services-molecule-docker:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: docker

ansible-collection-services-molecule-fail2ban:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: fail2ban

ansible-collection-services-molecule-falco:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: falco

ansible-collection-services-molecule-frr:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: frr

ansible-collection-services-molecule-gnmic:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: gnmic

ansible-collection-services-molecule-hddtemp:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: hddtemp

ansible-collection-services-molecule-homer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: homer

ansible-collection-services-molecule-httpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: httpd

ansible-collection-services-molecule-journald:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: journald

ansible-collection-services-molecule-lldpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: lldpd

ansible-collection-services-molecule-manager:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: manager

ansible-collection-services-molecule-netbox:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbox

ansible-collection-services-molecule-netbird:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbird

manager: add container version verification system (#1999)
  roles/manager/tasks/main.yml
  roles/manager/tasks/verify-versions.yml
  roles/manager/templates/check-service-manager-versions.sh.j2
Due: ansible-collection-services-molecule-manager

zuul: fix ansible-lint jinja2 formatting issue
  roles/zuul/tasks/main.yml
Due: ansible-collection-services-molecule-zuul

zuul: fix ansible-lint jinja2 formatting issue (#2000)
  roles/zuul/tasks/main.yml
Due: ansible-collection-services-molecule-zuul

manager: use osism_frontend_tag/image
  roles/manager/defaults/main.yml
  roles/manager/templates/check-service-manager-versions.sh.j2
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: use osism_frontend_tag/image (#2001)
  roles/manager/defaults/main.yml
  roles/manager/templates/check-service-manager-versions.sh.j2
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Add substation role
  .zuul.yaml
  molecule/delegated/prepare/substation.yml
  molecule/delegated/tests/substation.py
  molecule/delegated/vars/substation.yml
  roles/substation/README.md
  roles/substation/defaults/main.yml
  roles/substation/handlers/main.yml
  roles/substation/meta/main.yml
  roles/substation/tasks/main.yml
  roles/substation/templates/docker-compose.yml.j2
  roles/substation/templates/substation.j2
Due: none

Add substation role (#2002)
  .zuul.yaml
  molecule/delegated/prepare/substation.yml
  molecule/delegated/tests/substation.py
  molecule/delegated/vars/substation.yml
  roles/substation/README.md
  roles/substation/defaults/main.yml
  roles/substation/handlers/main.yml
  roles/substation/meta/main.yml
  roles/substation/tasks/main.yml
  roles/substation/templates/docker-compose.yml.j2
  roles/substation/templates/substation.j2
Due: none

substation: add entrypoint.sh script and fix paths
  roles/substation/files/entrypoint.sh
  roles/substation/tasks/main.yml
  roles/substation/templates/docker-compose.yml.j2
  roles/substation/templates/substation.j2
Due: none

substation: add entrypoint.sh script and fix paths (#2003)
  roles/substation/files/entrypoint.sh
  roles/substation/tasks/main.yml
  roles/substation/templates/docker-compose.yml.j2
  roles/substation/templates/substation.j2
Due: none

roles(kepler): create templates for kepler and docker-compose
  roles/kepler/templates/config.yaml.j2
  roles/kepler/templates/docker-compose.yml.j2
Due: none

roles(kepler): init default vars
  roles/kepler/defaults/main.yml
Due: none

Revert "feat: create new role to deploy kepler"
  roles/kepler/README.md
  roles/kepler/defaults/main.yml
  roles/kepler/handlers/main.yml
  roles/kepler/meta/main.yml
  roles/kepler/tasks/config.yml
  roles/kepler/tasks/main.yml
  roles/kepler/tasks/service.yml
  roles/kepler/templates/config.yaml.j2
  roles/kepler/templates/docker-compose.yml.j2
Due: none

roles: create new dir for the kepler role
  roles/kepler/README.md
Due: none

feat: create new role to deploy kepler
  roles/kepler/README.md
  roles/kepler/defaults/main.yml
  roles/kepler/handlers/main.yml
  roles/kepler/meta/main.yml
  roles/kepler/tasks/config.yml
  roles/kepler/tasks/main.yml
  roles/kepler/tasks/service.yml
  roles/kepler/templates/config.yaml.j2
  roles/kepler/templates/docker-compose.yml.j2
Due: none

roles: create new ansible role to deploy kepler
  roles/kepler/meta/main.yml
Due: none

roles(kepler): create task files for config and service for kepler
  roles/kepler/tasks/config.yml
  roles/kepler/tasks/main.yml
  roles/kepler/tasks/service.yml
Due: none

roles(kepler): add handlers tasks for kepler
  roles/kepler/handlers/main.yml
Due: none

Add opentelemetry_collector role
  .zuul.yaml
  molecule/delegated/prepare/opentelemetry_collector.yml
  molecule/delegated/tests/opentelemetry_collector.py
  molecule/delegated/vars/opentelemetry_collector.yml
  roles/opentelemetry_collector/README.md
  roles/opentelemetry_collector/defaults/main.yml
  roles/opentelemetry_collector/handlers/main.yml
  roles/opentelemetry_collector/meta/main.yml
  roles/opentelemetry_collector/tasks/main.yml
  roles/opentelemetry_collector/templates/docker-compose.yml.j2
  roles/opentelemetry_collector/templates/otel-collector-config.yml.j2
Due: none

Add opentelemetry_collector role (#2005)
  .zuul.yaml
  molecule/delegated/prepare/opentelemetry_collector.yml
  molecule/delegated/tests/opentelemetry_collector.py
  molecule/delegated/vars/opentelemetry_collector.yml
  roles/opentelemetry_collector/README.md
  roles/opentelemetry_collector/defaults/main.yml
  roles/opentelemetry_collector/handlers/main.yml
  roles/opentelemetry_collector/meta/main.yml
  roles/opentelemetry_collector/tasks/main.yml
  roles/opentelemetry_collector/templates/docker-compose.yml.j2
  roles/opentelemetry_collector/templates/otel-collector-config.yml.j2
Due: none

Add stepca role
  .zuul.yaml
  molecule/delegated/prepare/stepca.yml
  molecule/delegated/tests/stepca.py
  molecule/delegated/vars/stepca.yml
  roles/stepca/README.md
  roles/stepca/defaults/main.yml
  roles/stepca/handlers/main.yml
  roles/stepca/tasks/config.yml
  roles/stepca/tasks/main.yml
  roles/stepca/tasks/service.yml
  roles/stepca/templates/docker-compose.yml.j2
  roles/stepca/templates/stepca.env.j2
  roles/stepca/templates/stepca.service.j2
Due: none

Add stepca role
  .zuul.yaml
  molecule/delegated/prepare/stepca.yml
  molecule/delegated/tests/stepca.py
  molecule/delegated/vars/stepca.yml
  roles/stepca/README.md
  roles/stepca/defaults/main.yml
  roles/stepca/handlers/main.yml
  roles/stepca/tasks/config-wrapper.yml
  roles/stepca/tasks/config.yml
  roles/stepca/tasks/main.yml
  roles/stepca/tasks/service.yml
  roles/stepca/templates/docker-compose.yml.j2
  roles/stepca/templates/stepca.env.j2
  roles/stepca/templates/stepca.service.j2
  roles/stepca/templates/wrapper/step.j2
Due: none

Add stepca role (#2007)
  .zuul.yaml
  molecule/delegated/prepare/stepca.yml
  molecule/delegated/tests/stepca.py
  molecule/delegated/vars/stepca.yml
  roles/stepca/README.md
  roles/stepca/defaults/main.yml
  roles/stepca/handlers/main.yml
  roles/stepca/tasks/config-wrapper.yml
  roles/stepca/tasks/config.yml
  roles/stepca/tasks/main.yml
  roles/stepca/tasks/service.yml
  roles/stepca/templates/docker-compose.yml.j2
  roles/stepca/templates/stepca.env.j2
  roles/stepca/templates/stepca.service.j2
  roles/stepca/templates/wrapper/step.j2
Due: none

stepca: add acme provisioner
  roles/stepca/defaults/main.yml
  roles/stepca/tasks/main.yml
  roles/stepca/tasks/provisioner-acme.yml
Due: none

stepca: add acme provisioner (#2010)
  roles/stepca/defaults/main.yml
  roles/stepca/tasks/main.yml
  roles/stepca/tasks/provisioner-acme.yml
Due: none

stepca: change provisioner names
  roles/stepca/defaults/main.yml
Due: none

stepca: change provisioner names (#2011)
  roles/stepca/defaults/main.yml
Due: none

rsyslog: add configurable logrotate support
  roles/rsyslog/defaults/main.yml
  roles/rsyslog/handlers/main.yml
  roles/rsyslog/tasks/logrotate.yml
  roles/rsyslog/tasks/main.yml
  roles/rsyslog/templates/rsyslog-logrotate.j2
Due: ansible-collection-services-molecule-rsyslog

rsyslog: add configurable logrotate support (#2014)
  roles/rsyslog/defaults/main.yml
  roles/rsyslog/handlers/main.yml
  roles/rsyslog/tasks/logrotate.yml
  roles/rsyslog/tasks/main.yml
  roles/rsyslog/templates/rsyslog-logrotate.j2
Due: ansible-collection-services-molecule-rsyslog

manager: set ulimits of the reconciler service
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

frr: add hostname-based configuration support
  roles/frr/tasks/main.yml
Due: ansible-collection-services-molecule-frr

frr: add hostname-based configuration support (#2017)
  roles/frr/tasks/main.yml
Due: ansible-collection-services-molecule-frr

kepler: change network to 172.31.102.48/28
  roles/kepler/defaults/main.yml
Due: none

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-dnsmasq: any of: ^roles\/dnsmasq\/.*$, ^molecule\/delegated\/tests\/dnsmasq.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-gnmic: any of: ^roles\/gnmic\/.*$, ^molecule\/delegated\/tests\/gnmic.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-httpd: any of: ^roles\/httpd\/.*$, ^molecule\/delegated\/tests\/httpd.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$
