Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/prepare\/fail2ban.*$, ^molecule\/delegated\/tests\/fail2ban.*$, ^molecule\/delegated\/vars\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

manager: run update wrappers always with the operator user (#1620)
  roles/manager/templates/wrapper/osism-update-docker.j2
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

frr: allow to enable/disable the bgpd/bfdd services
  roles/frr/defaults/main.yml
  roles/frr/templates/daemons.j2
Due: ansible-collection-services-molecule-frr

frr: allow to enable/disable the bgpd/bfdd services (#1621)
  roles/frr/defaults/main.yml
  roles/frr/templates/daemons.j2
Due: ansible-collection-services-molecule-frr

frr: make it possible to not use ipv6 in the leaf template
  roles/frr/tasks/main.yml
  roles/frr/templates/frr_leaf.conf.j2
Due: ansible-collection-services-molecule-frr

frr: add k3s_cilium template
  roles/frr/templates/frr_k3s_cilium.conf.j2
Due: ansible-collection-services-molecule-frr

frr: add k3s_cilium template (#1623)
  roles/frr/templates/frr_k3s_cilium.conf.j2
Due: ansible-collection-services-molecule-frr

frr: allow to use frr_uplinks__* parameters in host vars
  roles/frr/defaults/main.yml
  roles/frr/tasks/main.yml
  roles/frr/templates/frr_k3s_cilium.conf.j2
  roles/frr/templates/frr_leaf.conf.j2
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

frr: allow to use frr_uplinks__* parameters in host vars (#1624)
  roles/frr/defaults/main.yml
  roles/frr/tasks/main.yml
  roles/frr/templates/frr_k3s_cilium.conf.j2
  roles/frr/templates/frr_leaf.conf.j2
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

adminer: Enhance CI tests
  molecule/delegated/tests/adminer.py
Due: ansible-collection-services-molecule-adminer

auditd: Enhance CI tests
  molecule/delegated/tests/auditd.py
Due: ansible-collection-services-molecule-auditd

cephclient: Improve CI tests
  molecule/delegated/tests/cephclient/main.py
Due: ansible-collection-services-molecule-cephclient

adminer: enhance CI tests (#1627)
  molecule/delegated/tests/adminer.py
Due: ansible-collection-services-molecule-adminer

auditd: enhance CI tests (#1628)
  molecule/delegated/tests/auditd.py
Due: ansible-collection-services-molecule-auditd

docker: add docker_storage_containerd_snapshotter parameter
  roles/docker/defaults/main.yml
  roles/docker/templates/daemon.json.j2
Due: ansible-collection-services-molecule-docker

cgit: Enhance CI tests
  molecule/delegated/tests/cgit.py
Due: ansible-collection-services-molecule-cgit

cgit: enhance CI tests (#1630)
  molecule/delegated/tests/cgit.py
Due: ansible-collection-services-molecule-cgit

cephclient: improve CI tests (#1629)
  molecule/delegated/tests/cephclient/main.py
Due: ansible-collection-services-molecule-cephclient

docker: add docker_storage_containerd_snapshotter parameter (#1626)
  roles/docker/defaults/main.yml
  roles/docker/templates/daemon.json.j2
Due: ansible-collection-services-molecule-docker

netbox: move rescue tasks into a separate file (#1612)
  roles/netbox/tasks/rescue-service.yml
  roles/netbox/tasks/service.yml
Due: ansible-collection-services-molecule-netbox

rook: add loadbalancer resources
  roles/rook/defaults/main.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-loadbalancer.yml
  roles/rook/tasks/main.yml
  roles/rook/templates/loadbalancer-dashboard.yml.j2
  roles/rook/templates/loadbalancer-rgw.yml.j2
Due: none

rook: add loadbalancer resources (#1618)
  roles/rook/defaults/main.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-loadbalancer.yml
  roles/rook/tasks/main.yml
  roles/rook/templates/loadbalancer-dashboard.yml.j2
  roles/rook/templates/loadbalancer-rgw.yml.j2
Due: none

rook: fix version & renovate for ceph image
  roles/rook/defaults/main.yml
Due: none

rook: fix version & renovate for ceph image (#1632)
  roles/rook/defaults/main.yml
Due: none

manager: make openstack env available in the osismclient
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

rook: change loadbalancer names
  roles/rook/templates/loadbalancer-dashboard.yml.j2
  roles/rook/templates/loadbalancer-rgw.yml.j2
Due: none

rook: change loadbalancer names (#1636)
  roles/rook/templates/loadbalancer-dashboard.yml.j2
  roles/rook/templates/loadbalancer-rgw.yml.j2
Due: none

manager: make openstack env available in the osismclient (#1635)
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Revert "manager: make openstack env available in the osismclient"
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Revert "manager: make openstack env available in the osismclient" (#1637)
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

rook: improve handling of helm values
  roles/rook/defaults/main.yml
  roles/rook/tasks/change-labels.yml
  roles/rook/tasks/cleanup-labels.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-crd.yml
  roles/rook/tasks/deploy-helm.yml
  roles/rook/tasks/deploy-loadbalancer.yml
  roles/rook/tasks/deploy.yml
  roles/rook/tasks/fetch-keys.yml
  roles/rook/tasks/main.yml
  roles/rook/tasks/namespace.yml
  roles/rook/tasks/wait-for-cluster-deleted.yml
  roles/rook/tasks/wait-for-cluster.yml
  roles/rook/templates/01-helm-values-all.yml.j2
  roles/rook/templates/cephclients.yml.j2
  roles/rook/templates/loadbalancer-dashboard.yml.j2
  roles/rook/templates/loadbalancer-rgw.yml.j2
  roles/rook/templates/values.yml.j2
  roles/rook/vars/main.yml
Due: none

rook: improve handling of helm values (#1639)
  roles/rook/defaults/main.yml
  roles/rook/tasks/change-labels.yml
  roles/rook/tasks/cleanup-labels.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-crd.yml
  roles/rook/tasks/deploy-helm.yml
  roles/rook/tasks/deploy-loadbalancer.yml
  roles/rook/tasks/deploy.yml
  roles/rook/tasks/fetch-keys.yml
  roles/rook/tasks/main.yml
  roles/rook/tasks/namespace.yml
  roles/rook/tasks/wait-for-cluster-deleted.yml
  roles/rook/tasks/wait-for-cluster.yml
  roles/rook/templates/01-helm-values-all.yml.j2
  roles/rook/templates/cephclients.yml.j2
  roles/rook/templates/loadbalancer-dashboard.yml.j2
  roles/rook/templates/loadbalancer-rgw.yml.j2
  roles/rook/templates/values.yml.j2
  roles/rook/vars/main.yml
Due: none

docker: fix python3-docker installation @ Ubuntu 24.04
  roles/docker/tasks/install-docker-Debian-family.yml
Due: ansible-collection-services-molecule-docker

manager: use community.docker.docker_compose_v2_pull
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager

clamav: Enhance CI tests
  molecule/delegated/tests/clamav/main.py
Due: ansible-collection-services-molecule-clamav

dnsdist: Enhance CI tests
  molecule/delegated/tests/dnsdist.py
Due: ansible-collection-services-molecule-dnsdist

manager: use community.docker.docker_compose_v2_pull (#1643)
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager

docker: fix python3-docker installation @ Ubuntu 24.04 (#1641)
  roles/docker/tasks/install-docker-Debian-family.yml
Due: ansible-collection-services-molecule-docker

fail2ban: Enhance CI tests
  molecule/delegated/tests/fail2ban.py
Due: ansible-collection-services-molecule-fail2ban

fail2ban: Install a jail for sshd by default
  roles/fail2ban/tasks/main.yml
  roles/fail2ban/templates/sshd.conf.j2
Due: ansible-collection-services-molecule-fail2ban

dnsdist: enhance CI tests (#1644)
  molecule/delegated/tests/dnsdist.py
Due: ansible-collection-services-molecule-dnsdist
