Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-gnmic, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: adminer

ansible-collection-services-molecule-auditd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: auditd

ansible-collection-services-molecule-cephclient:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cephclient

ansible-collection-services-molecule-cgit:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cgit

ansible-collection-services-molecule-chrony:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: chrony

ansible-collection-services-molecule-clamav:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: clamav

ansible-collection-services-molecule-containerd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: containerd

ansible-collection-services-molecule-dnsdist:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsdist

ansible-collection-services-molecule-dnsmasq:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsmasq

ansible-collection-services-molecule-docker:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: docker

ansible-collection-services-molecule-fail2ban:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: fail2ban

ansible-collection-services-molecule-falco:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: falco

ansible-collection-services-molecule-frr:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: frr

ansible-collection-services-molecule-gnmic:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: gnmic

ansible-collection-services-molecule-hddtemp:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: hddtemp

ansible-collection-services-molecule-homer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: homer

ansible-collection-services-molecule-httpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: httpd

ansible-collection-services-molecule-journald:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: journald

ansible-collection-services-molecule-lldpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: lldpd

ansible-collection-services-molecule-manager:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: manager

ansible-collection-services-molecule-netbox:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbox

ansible-collection-services-molecule-netbird:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbird

manager: unbuffer the osism CLI wrapper
  roles/manager/templates/wrapper/osism.j2
Due: ansible-collection-services-molecule-manager

manager: support an HTTP proxy for the manager services
  molecule/delegated/tests/manager.py
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/templates/env/all.env.j2
Due: ansible-collection-services-molecule-manager

manager: unbuffer the osism CLI wrapper (#2164)
  roles/manager/templates/wrapper/osism.j2
Due: ansible-collection-services-molecule-manager

manager: cover the enabled proxy branch on rendered values
  molecule/delegated/tests/manager.py
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

changelog: add release notes for v0.20260911.0
  CHANGELOG.md
Due: none

changelog: add release notes for v0.20260911.0 (#2166)
  CHANGELOG.md
Due: none

Support wazuh_agent enrollment
  roles/wazuh_agent/defaults/main.yml
  roles/wazuh_agent/tasks/main.yml
  roles/wazuh_agent/templates/ossec.conf.j2
Due: none

Support wazuh_agent enrollment (#2167)
  roles/wazuh_agent/defaults/main.yml
  roles/wazuh_agent/tasks/main.yml
  roles/wazuh_agent/templates/ossec.conf.j2
Due: none

manager: drop two orphaned registry defaults
  roles/manager/defaults/main.yml
Due: ansible-collection-services-molecule-manager

manager: drop two orphaned registry defaults (#2168)
  roles/manager/defaults/main.yml
Due: ansible-collection-services-molecule-manager

Add wazuh_proxy role
  molecule/delegated/tests/wazuh_proxy.py
  molecule/delegated/vars/wazuh_proxy.yml
  roles/wazuh_proxy/README.md
  roles/wazuh_proxy/defaults/main.yml
  roles/wazuh_proxy/handlers/main.yml
  roles/wazuh_proxy/meta/main.yml
  roles/wazuh_proxy/tasks/config.yml
  roles/wazuh_proxy/tasks/main.yml
  roles/wazuh_proxy/tasks/service.yml
  roles/wazuh_proxy/templates/docker-compose.yml.j2
  roles/wazuh_proxy/templates/nginx.conf.j2
Due: none

Add wazuh_proxy role (#2169)
  molecule/delegated/tests/wazuh_proxy.py
  molecule/delegated/vars/wazuh_proxy.yml
  roles/wazuh_proxy/README.md
  roles/wazuh_proxy/defaults/main.yml
  roles/wazuh_proxy/handlers/main.yml
  roles/wazuh_proxy/meta/main.yml
  roles/wazuh_proxy/tasks/config.yml
  roles/wazuh_proxy/tasks/main.yml
  roles/wazuh_proxy/tasks/service.yml
  roles/wazuh_proxy/templates/docker-compose.yml.j2
  roles/wazuh_proxy/templates/nginx.conf.j2
Due: none

Add snmp_exporter role
  .zuul.yaml
  molecule/delegated/prepare/snmp_exporter.yml
  molecule/delegated/tests/snmp_exporter.py
  molecule/delegated/vars/snmp_exporter.yml
  roles/snmp_exporter/defaults/main.yml
  roles/snmp_exporter/handlers/main.yml
  roles/snmp_exporter/meta/main.yml
  roles/snmp_exporter/tasks/config.yml
  roles/snmp_exporter/tasks/main.yml
  roles/snmp_exporter/tasks/service.yml
  roles/snmp_exporter/templates/docker-compose.yml.j2
Due: none

frr: add leaf_external_peers template
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_leaf_external_peers.conf.j2
Due: ansible-collection-services-molecule-frr

httpd: serve the same content on the TLS vhost
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

Add snmp_exporter role
  .zuul.yaml
  molecule/delegated/prepare/snmp_exporter.yml
  molecule/delegated/tests/snmp_exporter.py
  molecule/delegated/vars/snmp_exporter.yml
  roles/snmp_exporter/README.md
  roles/snmp_exporter/defaults/main.yml
  roles/snmp_exporter/handlers/main.yml
  roles/snmp_exporter/meta/main.yml
  roles/snmp_exporter/tasks/config.yml
  roles/snmp_exporter/tasks/main.yml
  roles/snmp_exporter/tasks/service.yml
  roles/snmp_exporter/templates/docker-compose.yml.j2
Due: none

manager: add a dedicated ceph ssh key
  roles/manager/defaults/main.yml
Due: ansible-collection-services-molecule-manager

changelog: add v0.20261001.0 release notes
  CHANGELOG.md
Due: none

stepca: check the CA on its own host
  roles/stepca/templates/docker-compose.yml.j2
Due: none

stepca: initialize the SSH CA when asked to
  roles/stepca/templates/docker-compose.yml.j2
Due: none

opentelemetry_collector: name the exporter otlp_grpc
  roles/opentelemetry_collector/templates/otel-collector-config.yml.j2
Due: none

changelog: add v0.20261005.0 release notes
  CHANGELOG.md
Due: none

netbox: build netbox_init_users as a mapping
  roles/netbox/defaults/main.yml
Due: ansible-collection-services-molecule-netbox

changelog: add v0.20261007.0 release notes
  CHANGELOG.md
Due: none

rsyslog: drop reverse fluentd aliases
  roles/rsyslog/defaults/main.yml
Due: ansible-collection-services-molecule-rsyslog

molecule: capture container logs on failure
  .zuul.yaml
  playbooks/collect-container-logs.yml
Due: none

changelog: add v0.20261010.0 release notes
  CHANGELOG.md
Due: none

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-dnsmasq: any of: ^roles\/dnsmasq\/.*$, ^molecule\/delegated\/tests\/dnsmasq.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-gnmic: any of: ^roles\/gnmic\/.*$, ^molecule\/delegated\/tests\/gnmic.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-httpd: any of: ^roles\/httpd\/.*$, ^molecule\/delegated\/tests\/httpd.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$
