Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-gnmic, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: adminer

ansible-collection-services-molecule-auditd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: auditd

ansible-collection-services-molecule-cephclient:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cephclient

ansible-collection-services-molecule-cgit:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cgit

ansible-collection-services-molecule-chrony:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: chrony

ansible-collection-services-molecule-clamav:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: clamav

ansible-collection-services-molecule-containerd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: containerd

ansible-collection-services-molecule-dnsdist:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsdist

ansible-collection-services-molecule-dnsmasq:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsmasq

ansible-collection-services-molecule-docker:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: docker

ansible-collection-services-molecule-fail2ban:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: fail2ban

ansible-collection-services-molecule-falco:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: falco

ansible-collection-services-molecule-frr:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: frr

ansible-collection-services-molecule-gnmic:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: gnmic

ansible-collection-services-molecule-hddtemp:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: hddtemp

ansible-collection-services-molecule-homer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: homer

ansible-collection-services-molecule-httpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: httpd

ansible-collection-services-molecule-journald:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: journald

ansible-collection-services-molecule-lldpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: lldpd

ansible-collection-services-molecule-manager:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: manager

ansible-collection-services-molecule-netbox:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbox

ansible-collection-services-molecule-netbird:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbird

molecule: point local verifier at delegated tests directory
  molecule/local/molecule.yml
Due: none

molecule: add per-role timing and timing estimate to -h
  scripts/run-molecule.sh
Due: none

molecule: add role-specific test vars and fixtures
  molecule/delegated/pem-files/.gitkeep
  molecule/delegated/prepare/fail2ban.yml
  molecule/delegated/vars/manager.yml
  molecule/delegated/vars/zuul.yml
Due: ansible-collection-services-molecule-manager

molecule: add local container scenario
  molecule/local/Dockerfile
  molecule/local/molecule.yml
  molecule/local/prepare.yml
  molecule/requirements.txt
  scripts/run-molecule.sh
Due: none

molecule: wire MOLECULE_DRIVER into scenario config
  molecule/local/molecule.yml
  scripts/run-molecule.sh
Due: none

tests: avoid Go template syntax in docker ps format arg
  molecule/delegated/tests/opentelemetry_collector.py
Due: none

molecule: skip cephclient, hddtemp, openstackclient, rng
  scripts/run-molecule.sh
Due: none

molecule: suppress migration warning in run-molecule.sh
  scripts/run-molecule.sh
Due: none

molecule: reset state between roles in all mode
  scripts/run-molecule.sh
Due: none

molecule: skip known-failing roles; add color summary
  scripts/run-molecule.sh
Due: none

rsyslog: deploy output config before starting service
  roles/rsyslog/tasks/main.yml
Due: ansible-collection-services-molecule-rsyslog

molecule: sort Dockerfile packages alphabetically
  molecule/local/Dockerfile
Due: none

molecule: fix skip reason strings for falco, kepler, zuul
  scripts/run-molecule.sh
Due: none

molecule: define netbox_postgres_init_sql for local scenario
  molecule/local/molecule.yml
Due: none

molecule: add curl, dnsutils, net-tools to Dockerfile
  molecule/local/Dockerfile
Due: none

tests: strip trailing whitespace from URL key content
  molecule/delegated/tests/util/util.py
Due: none

ansible: drop obsolete osism-fqcn noqa on blocks
  roles/dnsmasq/tasks/service.yml
  roles/docker/tasks/install-docker-Debian-family.yml
  roles/docker/tasks/install-docker-RedHat-family.yml
  roles/frr/tasks/main.yml
  roles/manager/tasks/service.yml
  roles/netbox/tasks/restart-service.yml
  roles/netbox/tasks/service.yml
  roles/netbox/tasks/wait-for-healthy-service.yml
  roles/nexus/tasks/initialize.yml
  roles/squid/tasks/main.yml
Due: ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-squid

ansible: drop obsolete osism-fqcn noqa on blocks (#2089)
  roles/dnsmasq/tasks/service.yml
  roles/docker/tasks/install-docker-Debian-family.yml
  roles/docker/tasks/install-docker-RedHat-family.yml
  roles/frr/tasks/main.yml
  roles/manager/tasks/service.yml
  roles/netbox/tasks/restart-service.yml
  roles/netbox/tasks/service.yml
  roles/netbox/tasks/wait-for-healthy-service.yml
  roles/nexus/tasks/initialize.yml
  roles/squid/tasks/main.yml
Due: ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-squid

netbox: start worker on netbox started
  roles/netbox/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-netbox

molecule: assert traefik API, not UI HTML string
  molecule/delegated/tests/traefik.py
Due: ansible-collection-services-molecule-traefik

molecule: assert traefik API, not UI HTML string (#2092)
  molecule/delegated/tests/traefik.py
Due: ansible-collection-services-molecule-traefik

smartd: make /etc/smartd.conf configurable via variables
  roles/smartd/defaults/main.yml
  roles/smartd/tasks/main.yml
  roles/smartd/templates/smartd.conf.j2
Due: ansible-collection-services-molecule-smartd

smartd: cover /etc/smartd.conf rendering in molecule test
  molecule/delegated/tests/smartd.py
  molecule/delegated/vars/smartd.yml
Due: ansible-collection-services-molecule-smartd

smartd: validate smartd_devices via argument_specs
  roles/smartd/meta/argument_specs.yml
Due: ansible-collection-services-molecule-smartd

smartd: cover DEVICESCAN render in molecule test
  molecule/delegated/prepare/smartd.yml
  molecule/delegated/tests/smartd.py
Due: ansible-collection-services-molecule-smartd

smartd: clarify smartd_devicescan only applies when managed
  roles/smartd/defaults/main.yml
Due: ansible-collection-services-molecule-smartd

smartd: skip empty device type/options in smartd.conf
  roles/smartd/templates/smartd.conf.j2
Due: ansible-collection-services-molecule-smartd

smartd: support the RedHat family properly
  roles/smartd/defaults/main.yml
  roles/smartd/files/smartmontools-sysconfig
  roles/smartd/tasks/main.yml
  roles/smartd/vars/Debian.yml
  roles/smartd/vars/RedHat.yml
Due: ansible-collection-services-molecule-smartd

manager: recreate containers after pulling new images
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager

netbox: recreate containers after pulling new images
  roles/netbox/tasks/service.yml
Due: ansible-collection-services-molecule-netbox

stepca: recreate containers after pulling new images
  roles/stepca/tasks/service.yml
Due: none

Add optional prometheus-frr-exporter service to frr role
  roles/frr/defaults/main.yml
  roles/frr/handlers/main.yml
  roles/frr/tasks/exporter.yml
  roles/frr/tasks/main.yml
  roles/frr/templates/prometheus-frr-exporter.j2
Due: ansible-collection-services-molecule-frr

Add molecule coverage for prometheus-frr-exporter
  molecule/delegated/tests/frr.py
  molecule/delegated/vars/frr.yml
Due: ansible-collection-services-molecule-frr

Add optional host networking mode for squid
  roles/squid/defaults/main.yml
  roles/squid/templates/docker-compose.yml.j2
  roles/squid/templates/osism.conf.j2
Due: ansible-collection-services-molecule-squid

squid: add support for network host mode
  roles/squid/defaults/main.yml
  roles/squid/templates/docker-compose.yml.j2
  roles/squid/templates/osism.conf.j2
Due: ansible-collection-services-molecule-squid

Harden prometheus-frr-exporter teardown and bind handling
  molecule/delegated/tests/frr.py
  roles/frr/defaults/main.yml
  roles/frr/handlers/main.yml
  roles/frr/tasks/exporter.yml
  roles/frr/tasks/main.yml
  roles/frr/templates/prometheus-frr-exporter.j2
Due: ansible-collection-services-molecule-frr

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-dnsmasq: any of: ^roles\/dnsmasq\/.*$, ^molecule\/delegated\/tests\/dnsmasq.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-gnmic: any of: ^roles\/gnmic\/.*$, ^molecule\/delegated\/tests\/gnmic.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-httpd: any of: ^roles\/httpd\/.*$, ^molecule\/delegated\/tests\/httpd.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$
