Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: ansible-molecule
  vars:
    ansible_role: adminer
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-auditd:
  parent: ansible-molecule
  vars:
    ansible_role: auditd
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-bird:
  parent: ansible-molecule
  vars:
    ansible_role: bird
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-cephclient:
  parent: ansible-molecule
  vars:
    ansible_role: cephclient
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-cgit:
  parent: ansible-molecule
  vars:
    ansible_role: cgit
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-chrony:
  parent: ansible-molecule
  vars:
    ansible_role: chrony
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-clamav:
  parent: ansible-molecule
  vars:
    ansible_role: clamav
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-containerd:
  parent: ansible-molecule
  vars:
    ansible_role: containerd
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-dnsdist:
  parent: ansible-molecule
  vars:
    ansible_role: dnsdist
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-docker:
  parent: ansible-molecule
  vars:
    ansible_role: docker
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-fail2ban:
  parent: ansible-molecule
  nodeset:
    nodes:
    - name: ubuntu-jammy-large
      label: ubuntu-jammy-large
    - name: centos-9-stream
      label: centos-9-stream
  vars:
    ansible_role: fail2ban
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-falco:
  parent: ansible-molecule
  vars:
    ansible_role: falco
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-frr:
  parent: ansible-molecule
  vars:
    ansible_role: frr
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-hddtemp:
  parent: ansible-molecule
  vars:
    ansible_role: hddtemp
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-homer:
  parent: ansible-molecule
  vars:
    ansible_role: homer
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-journald:
  parent: ansible-molecule
  vars:
    ansible_role: journald
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-lldpd:
  parent: ansible-molecule
  vars:
    ansible_role: lldpd
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-manager:
  parent: ansible-molecule
  vars:
    ansible_role: manager
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-metering:
  parent: ansible-molecule
  vars:
    ansible_role: metering
    ansible_molecule_ansible_version: 9.3.0

rook: customize dashboard
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/templates/01_CephCluster.yml.j2
Due: none

rook_operator: discovery daemon support
  roles/rook_operator/README.rst
  roles/rook_operator/defaults/main.yml
  roles/rook_operator/templates/operator.yml.j2
Due: none

rook: obtain the information about physical disks in dashboard
  roles/rook/defaults/main.yml
Due: none

rook: add Wait until CephCluster is Ready to fetch-keys
  roles/rook/tasks/fetch-keys.yml
  roles/rook/tasks/wait-for-cluster.yml
Due: none

rook: do not include fetch-keys tasks in main as it has to be run on manager node
  roles/rook/tasks/main.yml
Due: none

rook: rename `rook_image` to `rook_ceph_image`
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/templates/01_CephCluster.yml.j2
  roles/rook/templates/02_Toolbox.yml.j2
Due: none

rook: add cleanup
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/wait-for-cluster-deleted.yml
Due: none

rook: deploy via helm by default
  roles/rook/README.md
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-crd.yml
  roles/rook/tasks/deploy-helm.yml
  roles/rook/tasks/main.yml
  roles/rook/templates/01-helm-values-all.yml.j2
  roles/rook/templates/01_CephCluster.yml.j2
  roles/rook/templates/02-CRD-CephClient.yml.j2
  roles/rook/templates/02_Toolbox.yml.j2
  roles/rook/templates/03_CephBlockPool.yml.j2
  roles/rook/templates/04_CephFilesystem.yml.j2
  roles/rook/templates/05_CephObjectStore.yml.j2
  roles/rook_operator/defaults/main.yml
Due: none

rook_operator: placement and annotations
  roles/rook_operator/defaults/main.yml
  roles/rook_operator/templates/operator.yml.j2
Due: none

add label nodes and set ceph component affinity
  roles/rook/defaults/main.yml
  roles/rook/tasks/label-nodes.yml
  roles/rook/tasks/main.yml
Due: none

Add ipwrap filter to configuration files (#1478)
  roles/adminer/templates/docker-compose.yml.j2
  roles/cgit/templates/docker-compose.yml.j2
  roles/dnsdist/templates/docker-compose.yml.j2
  roles/homer/templates/docker-compose.yml.j2
  roles/manager/templates/docker-compose.yml.j2
  roles/netbox/templates/docker-compose.yml.j2
  roles/nexus/templates/docker-compose.yml.j2
  roles/phpmyadmin/templates/docker-compose.yml.j2
  roles/scaphandre/templates/docker-compose.yml.j2
  roles/squid/templates/docker-compose.yml.j2
  roles/thanos_sidecar/templates/docker-compose.yml.j2
  roles/traefik/templates/docker-compose.yml.j2
  roles/virtualbmc/templates/docker-compose.yml.j2
  roles/zuul/templates/docker-compose.yaml.j2
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-zuul

molecule: always install docker & netaddr
  molecule/delegated/prepare.yml
  molecule/delegated/prepare/adminer.yml
  molecule/delegated/prepare/cephclient.yml
  molecule/delegated/prepare/cgit.yml
  molecule/delegated/prepare/dnsdist.yml
  molecule/delegated/prepare/docker.yml
  molecule/delegated/prepare/homer.yml
  molecule/delegated/prepare/manager.yml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/prepare/netbox.yml
  molecule/delegated/prepare/nexus.yml
  molecule/delegated/prepare/openstack_health_monitor.yml
  molecule/delegated/prepare/openstackclient.yml
  molecule/delegated/prepare/phpmyadmin.yml
  molecule/delegated/prepare/scaphandre.yml
  molecule/delegated/prepare/squid.yml
  molecule/delegated/prepare/thanos_sidecar.yml
  molecule/delegated/prepare/traefik.yml
  molecule/delegated/prepare/virtualbmc.yml
  molecule/delegated/prepare/zuul.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

molecule: always install docker & netaddr (#1483)
  molecule/delegated/prepare.yml
  molecule/delegated/prepare/adminer.yml
  molecule/delegated/prepare/cephclient.yml
  molecule/delegated/prepare/cgit.yml
  molecule/delegated/prepare/dnsdist.yml
  molecule/delegated/prepare/docker.yml
  molecule/delegated/prepare/homer.yml
  molecule/delegated/prepare/manager.yml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/prepare/netbox.yml
  molecule/delegated/prepare/nexus.yml
  molecule/delegated/prepare/openstack_health_monitor.yml
  molecule/delegated/prepare/openstackclient.yml
  molecule/delegated/prepare/phpmyadmin.yml
  molecule/delegated/prepare/scaphandre.yml
  molecule/delegated/prepare/squid.yml
  molecule/delegated/prepare/thanos_sidecar.yml
  molecule/delegated/prepare/traefik.yml
  molecule/delegated/prepare/virtualbmc.yml
  molecule/delegated/prepare/zuul.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

molecule: always install requests
  molecule/delegated/prepare.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

molecule: always install requests (#1484)
  molecule/delegated/prepare.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Added PoC mounting folder as volume, unused configmap here
  roles/keycloak/templates/codecentric-keycloak.yml.j2
Due: none

Remove configmap with testbed specific CA
  roles/keycloak/templates/codecentric-keycloak.yml.j2
  roles/keycloak/templates/configmap-certs.yml
Due: none

Readme updated with how to load CAs into Keycloak
  roles/keycloak/README.rst
Due: none

molecule: do not set ansible_python_interpreter
  molecule/delegated/molecule.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

molecule: do not set ansible_python_interpreter (#1488)
  molecule/delegated/molecule.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Add kubernetes monitoring role (#1434)
  roles/kubernetes_monitoring/README.md
  roles/kubernetes_monitoring/README.rst
  roles/kubernetes_monitoring/defaults/main.yml
  roles/kubernetes_monitoring/meta/main.yml
  roles/kubernetes_monitoring/tasks/config-kubernetes-monitoring.yml
  roles/kubernetes_monitoring/tasks/config-openstack-exporter.yml
  roles/kubernetes_monitoring/tasks/deploy-kubernetes-monitoring.yml
  roles/kubernetes_monitoring/tasks/deploy-openstack-exporter.yml
  roles/kubernetes_monitoring/tasks/main.yml
  roles/kubernetes_monitoring/templates/kubernetes_monitoring.yml.j2
  roles/kubernetes_monitoring/templates/openstack_exporter.yml.j2
Due: none

manager: add osism-kubernetes container
  molecule/delegated/vars/manager.yml
  roles/manager/defaults/main.yml
Due: ansible-collection-services-molecule-manager

manager: add osism-kubernetes container (#1487)
  molecule/delegated/vars/manager.yml
  roles/manager/defaults/main.yml
Due: ansible-collection-services-molecule-manager

molecule: also check fail2ban on ubuntu 24.04
  .zuul.yaml
  molecule/delegated/tests/fail2ban.py
Due: ansible-collection-services-molecule-fail2ban

molecule: do not skip fail2ban tests on ubuntu 24.04 (#1466)
  .zuul.yaml
  molecule/delegated/tests/fail2ban.py
Due: ansible-collection-services-molecule-fail2ban

meta: support Ansible version 2.17
  meta/runtime.yml
Due: none

meta: support Ansible version 2.17 (#1489)
  meta/runtime.yml
Due: none

thanos_sidecar: fix typo
  roles/thanos_sidecar/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-thanos_sidecar

thanos_sidecar: fix typo (#1490)
  roles/thanos_sidecar/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-thanos_sidecar

add cephclient wrapper for rook
  roles/cephclient/defaults/main.yml
  roles/cephclient/tasks/main.yml
  roles/cephclient/tasks/rook.yml
  roles/cephclient/templates/wrapper/rook.j2
Due: ansible-collection-services-molecule-cephclient

reflect group naming changes for rook ceph nodes
  roles/rook/defaults/main.yml
Due: none

add osd placement
  roles/rook/defaults/main.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-helm.yml
  roles/rook/tasks/fetch-keys.yml
  roles/rook/tasks/label-nodes.yml
Due: none

make yamllint happy
  roles/rook/defaults/main.yml
  roles/rook/tasks/deploy-helm.yml
  roles/rook/tasks/fetch-keys.yml
  roles/rook/tasks/label-nodes.yml
Due: none

satisfy yamllint
  roles/rook/defaults/main.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/label-nodes.yml
Due: none

cephclient: remove crushtool wrapper
  molecule/delegated/tests/cephclient/container.py
  roles/cephclient/tasks/container.yml
Due: ansible-collection-services-molecule-cephclient

cephclient: remove crushtool wrapper (#1492)
  molecule/delegated/tests/cephclient/container.py
  roles/cephclient/tasks/container.yml
Due: ansible-collection-services-molecule-cephclient

add cleanup for cephclient wrapper in case of rook
  roles/cephclient/tasks/clean-container.yml
  roles/cephclient/tasks/clean-package-Debian-family.yml
  roles/cephclient/tasks/clean-package-RedHat-family.yml
  roles/cephclient/tasks/rook.yml
Due: ansible-collection-services-molecule-cephclient

rook: initial kubernetes deployment (#881) (#1427)
  roles/cephclient/defaults/main.yml
  roles/cephclient/tasks/main.yml
  roles/cephclient/tasks/rook.yml
  roles/cephclient/templates/wrapper/rook.j2
  roles/rook/README.md
  roles/rook/defaults/main.yml
  roles/rook/meta/main.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-crd.yml
  roles/rook/tasks/deploy-helm.yml
  roles/rook/tasks/fetch-keys.yml
  roles/rook/tasks/label-nodes.yml
  roles/rook/tasks/main.yml
  roles/rook/tasks/namespace.yml
  roles/rook/tasks/wait-for-cluster-deleted.yml
  roles/rook/tasks/wait-for-cluster.yml
  roles/rook/templates/01-helm-values-all.yml.j2
  roles/rook/templates/02-CRD-CephClient.yml.j2
  roles/rook_operator/README.rst
  roles/rook_operator/defaults/main.yml
  roles/rook_operator/templates/operator.yml.j2
Due: ansible-collection-services-molecule-cephclient

manager: stop copying old wrapper scripts
  roles/manager/vars/wrapper.yml
Due: ansible-collection-services-molecule-manager

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-bird: any of: ^roles\/bird\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/bird.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/zuul.*$
