Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: adminer

ansible-collection-services-molecule-auditd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: auditd

ansible-collection-services-molecule-cephclient:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cephclient

ansible-collection-services-molecule-cgit:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cgit

ansible-collection-services-molecule-chrony:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: chrony

ansible-collection-services-molecule-clamav:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: clamav

ansible-collection-services-molecule-containerd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: containerd

ansible-collection-services-molecule-dnsdist:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsdist

ansible-collection-services-molecule-docker:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: docker

ansible-collection-services-molecule-fail2ban:
  parent: abstract-ansible-collection-services-molecule
  nodeset:
    nodes:
    - name: centos-9-stream
      label: centos-9-stream
    - name: debian-bookworm
      label: debian-bookworm
    - name: ubuntu-jammy
      label: ubuntu-jammy
  vars:
    ansible_role: fail2ban

ansible-collection-services-molecule-falco:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: falco

ansible-collection-services-molecule-frr:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: frr

ansible-collection-services-molecule-hddtemp:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: hddtemp

ansible-collection-services-molecule-homer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: homer

ansible-collection-services-molecule-journald:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: journald

ansible-collection-services-molecule-lldpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: lldpd

ansible-collection-services-molecule-manager:
  parent: abstract-ansible-collection-services-molecule
  nodeset:
    nodes:
    - name: debian-bookworm
      label: debian-bookworm
    - name: ubuntu-jammy
      label: ubuntu-jammy
    - name: ubuntu-noble
      label: ubuntu-noble
  vars:
    ansible_role: manager

ansible-collection-services-molecule-metering:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: metering

ansible-collection-services-molecule-netbox:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbox

Fix netbox user
  roles/netbox/defaults/main.yml
  roles/netbox/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-netbox

Fix default SCRIPTS_ROOT path in Netbox configuration.py
  roles/netbox/templates/configuration.py.j2
Due: ansible-collection-services-molecule-netbox

netbox: fix netbox user (#1560)
  roles/netbox/defaults/main.yml
  roles/netbox/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-netbox

Update netbox test
  molecule/delegated/tests/netbox.py
Due: ansible-collection-services-molecule-netbox

Fix default SCRIPTS_ROOT path in Netbox configuration.py (#1561)
  molecule/delegated/tests/netbox.py
  roles/netbox/templates/configuration.py.j2
Due: ansible-collection-services-molecule-netbox

docker: add support for zram devices
  molecule/delegated/vars/docker.yml
  roles/docker/defaults/main.yml
  roles/docker/tasks/main.yml
  roles/docker/tasks/storage-block.yml
  roles/docker/tasks/storage-zram.yml
Due: ansible-collection-services-molecule-docker

docker: add support for zram devices (#1564)
  molecule/delegated/vars/docker.yml
  roles/docker/defaults/main.yml
  roles/docker/tasks/main.yml
  roles/docker/tasks/storage-block.yml
  roles/docker/tasks/storage-zram.yml
Due: ansible-collection-services-molecule-docker

Remove openstack-health-monitor role
  roles/openstack_health_monitor/README.md
  roles/openstack_health_monitor/defaults/main.yml
  roles/openstack_health_monitor/meta/main.yml
  roles/openstack_health_monitor/tasks/container-Debian-family.yml
  roles/openstack_health_monitor/tasks/main.yml
  roles/openstack_health_monitor/templates/docker-compose.yml.j2
  roles/openstack_health_monitor/templates/env/openstack_health_monitor.env.j2
Due: ansible-collection-services-molecule-openstack_health_monitor

Remove openstack-health-monitor role (#1565)
  roles/openstack_health_monitor/README.md
  roles/openstack_health_monitor/defaults/main.yml
  roles/openstack_health_monitor/meta/main.yml
  roles/openstack_health_monitor/tasks/container-Debian-family.yml
  roles/openstack_health_monitor/tasks/main.yml
  roles/openstack_health_monitor/templates/docker-compose.yml.j2
  roles/openstack_health_monitor/templates/env/openstack_health_monitor.env.j2
Due: ansible-collection-services-molecule-openstack_health_monitor

zuul: add DTRACK_API_KEY secret
  .zuul.yaml
Due: none

zuul: add DTRACK_API_KEY secret (#1568)
  .zuul.yaml
Due: none

wireguard: allow our default testbed cidrs by default
  roles/wireguard/defaults/main.yml
Due: ansible-collection-services-molecule-wireguard

wireguard: allow our default testbed cidrs by default (#1569)
  roles/wireguard/defaults/main.yml
Due: ansible-collection-services-molecule-wireguard

manager: fix handling of CA certificates
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/vars/Debian-family.yml
  roles/manager/vars/RedHat-family.yml
Due: ansible-collection-services-molecule-manager

manager: fix handling of CA certificates (#1570)
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/vars/Debian-family.yml
  roles/manager/vars/RedHat-family.yml
Due: ansible-collection-services-molecule-manager

openstackclient: fix handling of CA certificates
  roles/openstackclient/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-openstackclient

openstackclient: fix handling of CA certificates (#1571)
  roles/openstackclient/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-openstackclient

chrony: check min number of servers
  roles/chrony/defaults/main.yml
  roles/chrony/tasks/main.yml
Due: ansible-collection-services-molecule-chrony

chrony: check min number of servers (#1554)
  roles/chrony/defaults/main.yml
  roles/chrony/tasks/main.yml
Due: ansible-collection-services-molecule-chrony

Add task to remove and change labels regarding Rook
  roles/rook/tasks/change-labels.yml
  roles/rook/tasks/cleanup-labels.yml
  roles/rook/tasks/cleanup.yml
Due: none

fix yamllint issues
  roles/rook/tasks/change-labels.yml
Due: none

Add task to remove and change labels regarding Rook (#1576)
  roles/rook/tasks/change-labels.yml
  roles/rook/tasks/cleanup-labels.yml
  roles/rook/tasks/cleanup.yml
Due: none

Adding further tests
  .zuul.yaml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/prepare/tang.yml
  molecule/delegated/tests/metering.py
  molecule/delegated/tests/tang.py
  molecule/delegated/vars/metering.yml
  molecule/delegated/vars/tang.yml
  roles/tang/defaults/main.yml
  roles/tang/tasks/install-Debian-family.yml
  roles/tang/tasks/install-RedHat-family.yml
  roles/tang/tasks/main.yml
  roles/tang/templates/tangd.socket.conf.j2
  roles/tang/vars/Debian-family.yml
  roles/tang/vars/Redhat-family.yml
Due: ansible-collection-services-molecule-metering

Add tests for metering & tang (#1573)
  .zuul.yaml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/prepare/tang.yml
  molecule/delegated/tests/metering.py
  molecule/delegated/tests/tang.py
  molecule/delegated/vars/metering.yml
  molecule/delegated/vars/tang.yml
  roles/tang/defaults/main.yml
  roles/tang/tasks/install-Debian-family.yml
  roles/tang/tasks/install-RedHat-family.yml
  roles/tang/tasks/main.yml
  roles/tang/templates/tangd.socket.conf.j2
  roles/tang/vars/Debian-family.yml
  roles/tang/vars/Redhat-family.yml
Due: ansible-collection-services-molecule-metering

netbox: make start_period configurable
  molecule/delegated/vars/netbox.yml
  roles/netbox/templates/docker-compose.yml.j2
  roles/netbox/vars/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: make start_period configurable (#1578)
  molecule/delegated/vars/netbox.yml
  roles/netbox/templates/docker-compose.yml.j2
  roles/netbox/vars/main.yml
Due: ansible-collection-services-molecule-netbox

Manager versions in rook roles with renovate
  .github/renovate.json
Due: none

Manager versions in rook roles with renovate (#1582)
  .github/renovate.json
Due: none

Fix handling of rook versions
  roles/rook/defaults/main.yml
  roles/rook_operator/defaults/main.yml
Due: none

Fix handling of rook versions (#1584)
  roles/rook/defaults/main.yml
  roles/rook_operator/defaults/main.yml
Due: none

zuul: use ZRAM device for manager tests
  molecule/delegated/vars/manager.yml
Due: ansible-collection-services-molecule-manager

zuul: use ZRAM device for manager tests (#1587)
  molecule/delegated/vars/manager.yml
Due: ansible-collection-services-molecule-manager

manager: add healthcheck for the osismclient service
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: add healthcheck for the osismclient service (#1586)
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

cephclient: improve task names
  roles/cephclient/tasks/rook.yml
Due: ansible-collection-services-molecule-cephclient

rook: get admin keyring
  roles/rook/tasks/fetch-keys.yml
Due: none

rook: get admin keyring (#1593)
  roles/rook/tasks/fetch-keys.yml
Due: none

cephclient: improve task names (#1594)
  roles/cephclient/tasks/rook.yml
Due: ansible-collection-services-molecule-cephclient

Use dictionary syntax with register result of ansible.builtin.service
  roles/adminer/handlers/main.yml
  roles/adminer/tasks/main.yml
  roles/cephclient/handlers/main.yml
  roles/cephclient/tasks/container.yml
  roles/cgit/handlers/main.yml
  roles/cgit/tasks/service.yml
  roles/dnsdist/handlers/main.yml
  roles/dnsdist/tasks/service.yml
  roles/homer/handlers/main.yml
  roles/homer/tasks/main.yml
  roles/manager/handlers/main.yml
  roles/netbox/handlers/main.yml
  roles/nexus/handlers/main.yml
  roles/openstackclient/handlers/main.yml
  roles/openstackclient/tasks/container-Debian-family.yml
  roles/openstackclient/tasks/container-RedHat-family.yml
  roles/phpmyadmin/handlers/main.yml
  roles/phpmyadmin/tasks/main.yml
  roles/scaphandre/handlers/main.yml
  roles/scaphandre/tasks/service.yml
  roles/squid/handlers/main.yml
  roles/squid/tasks/main.yml
  roles/thanos_sidecar/tasks/service.yml
  roles/virtualbmc/handlers/main.yml
  roles/virtualbmc/tasks/service.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-virtualbmc

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/prepare\/fail2ban.*$, ^molecule\/delegated\/tests\/fail2ban.*$, ^molecule\/delegated\/vars\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$
