Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: adminer

ansible-collection-services-molecule-auditd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: auditd

ansible-collection-services-molecule-cephclient:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cephclient

ansible-collection-services-molecule-cgit:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cgit

ansible-collection-services-molecule-chrony:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: chrony

ansible-collection-services-molecule-clamav:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: clamav

ansible-collection-services-molecule-containerd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: containerd

ansible-collection-services-molecule-dnsdist:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsdist

ansible-collection-services-molecule-docker:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: docker

ansible-collection-services-molecule-fail2ban:
  parent: abstract-ansible-collection-services-molecule
  nodeset:
    nodes:
    - name: centos-9-stream
      label: centos-9-stream
    - name: debian-bookworm
      label: debian-bookworm
    - name: ubuntu-jammy
      label: ubuntu-jammy
  vars:
    ansible_role: fail2ban

ansible-collection-services-molecule-falco:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: falco

ansible-collection-services-molecule-frr:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: frr

ansible-collection-services-molecule-hddtemp:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: hddtemp

ansible-collection-services-molecule-homer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: homer

ansible-collection-services-molecule-journald:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: journald

ansible-collection-services-molecule-lldpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: lldpd

ansible-collection-services-molecule-manager:
  parent: abstract-ansible-collection-services-molecule
  nodeset:
    nodes:
    - name: debian-bookworm
      label: debian-bookworm
    - name: ubuntu-jammy
      label: ubuntu-jammy
    - name: ubuntu-noble
      label: ubuntu-noble
  vars:
    ansible_role: manager

ansible-collection-services-molecule-metering:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: metering

ansible-collection-services-molecule-netbox:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbox

tang: enhance CI tests (#1660)
  molecule/delegated/tests/tang.py
Due: none

Add Keystone and Swift integration
  roles/rook/defaults/main.yml
  roles/rook/tasks/deploy.yml
  roles/rook/templates/secret-keystone-user.yml.j2
Due: none

Add teleport_connect role
  .zuul.yaml
  molecule/delegated/prepare/teleport.yml
  molecule/delegated/tests/teleport/__init__.py
  molecule/delegated/tests/teleport/debian.py
  molecule/delegated/tests/teleport/redhat.py
  molecule/delegated/vars/teleport.yml
  molecule/delegated/verify/teleport.yml
  roles/teleport/README.md
  roles/teleport/defaults/main.yml
  roles/teleport/meta/main.yml
  roles/teleport/tasks/install-Debian-family.yml
  roles/teleport/tasks/install-RedHat-family.yml
  roles/teleport/tasks/main.yml
Due: none

Add teleport role (#1672)
  .zuul.yaml
  molecule/delegated/prepare/teleport.yml
  molecule/delegated/tests/teleport/__init__.py
  molecule/delegated/tests/teleport/debian.py
  molecule/delegated/tests/teleport/redhat.py
  molecule/delegated/vars/teleport.yml
  molecule/delegated/verify/teleport.yml
  roles/teleport/README.md
  roles/teleport/defaults/main.yml
  roles/teleport/meta/main.yml
  roles/teleport/tasks/install-Debian-family.yml
  roles/teleport/tasks/install-RedHat-family.yml
  roles/teleport/tasks/main.yml
Due: none

teleport: overall improvements
  .zuul.yaml
  roles/teleport/defaults/main.yml
  roles/teleport/handlers/main.yml
  roles/teleport/tasks/main.yml
  roles/teleport/templates/teleport.yaml.j2
Due: none

teleport: overall improvements (#1673)
  .zuul.yaml
  roles/teleport/defaults/main.yml
  roles/teleport/handlers/main.yml
  roles/teleport/tasks/main.yml
  roles/teleport/templates/teleport.yaml.j2
Due: none

teleport: overall improvements
  roles/teleport/defaults/main.yml
  roles/teleport/templates/teleport.yaml.j2
Due: none

teleport: overall improvements (#1674)
  roles/teleport/defaults/main.yml
  roles/teleport/templates/teleport.yaml.j2
Due: none

frr: add support for an overlaying configuration file
  roles/frr/tasks/main.yml
Due: ansible-collection-services-molecule-frr

frr: add support for an overlaying configuration file (#1677)
  roles/frr/tasks/main.yml
Due: ansible-collection-services-molecule-frr

frr: manage the vtysh.conf file
  roles/frr/tasks/main.yml
  roles/frr/templates/vtysh.conf.j2
Due: ansible-collection-services-molecule-frr

teleport: Add Centos support
  .zuul.yaml
  roles/teleport/defaults/main.yml
  roles/teleport/tasks/install-RedHat-family.yml
Due: none

frr: manage the vtysh.conf file (#1678)
  roles/frr/tasks/main.yml
  roles/frr/templates/vtysh.conf.j2
Due: ansible-collection-services-molecule-frr

teleport: Enhance CI tests
  molecule/delegated/tests/teleport/debian.py
  molecule/delegated/tests/teleport/main.py
  molecule/delegated/tests/teleport/redhat.py
  roles/teleport/tasks/install-Debian-family.yml
Due: none

Add CentOS and Debian support
  .zuul.yaml
  molecule/delegated/tests/zabbix_agent.py
  roles/zabbix_agent/defaults/main.yml
  roles/zabbix_agent/tasks/install-Debian-family.yml
  roles/zabbix_agent/tasks/install-RedHat-family.yml
Due: none

teleport: add Centos support (#1676)
  .zuul.yaml
  molecule/delegated/tests/teleport/debian.py
  molecule/delegated/tests/teleport/main.py
  molecule/delegated/tests/teleport/redhat.py
  roles/teleport/defaults/main.yml
  roles/teleport/tasks/install-Debian-family.yml
  roles/teleport/tasks/install-RedHat-family.yml
Due: none

Enhance CI tests
  molecule/delegated/tests/zabbix_agent/__init__.py
  molecule/delegated/tests/zabbix_agent/debian.py
  molecule/delegated/tests/zabbix_agent/main.py
  molecule/delegated/tests/zabbix_agent/redhat.py
  roles/zabbix_agent/tasks/install-Debian-family.yml
Due: none

zabbix_agent: add CentOS and Debian support (#1675)
  .zuul.yaml
  molecule/delegated/tests/zabbix_agent/__init__.py
  molecule/delegated/tests/zabbix_agent/debian.py
  molecule/delegated/tests/zabbix_agent/main.py
  molecule/delegated/tests/zabbix_agent/redhat.py
  roles/zabbix_agent/defaults/main.yml
  roles/zabbix_agent/tasks/install-Debian-family.yml
  roles/zabbix_agent/tasks/install-RedHat-family.yml
Due: none

Add sshd role
  .zuul.yaml
  molecule/delegated/prepare/sshd.yml
  molecule/delegated/tests/sshd.py
  molecule/delegated/vars/sshd.yml
  molecule/delegated/verify/sshd.yml
  roles/sshd/README.md
  roles/sshd/defaults/main.yml
  roles/sshd/handlers/main.yml
  roles/sshd/meta/main.yml
  roles/sshd/tasks/install-Debian-family.yml
  roles/sshd/tasks/install-RedHat-family.yml
  roles/sshd/tasks/main.yml
Due: none

Add sshd role (#1681)
  .zuul.yaml
  molecule/delegated/prepare/sshd.yml
  molecule/delegated/tests/sshd.py
  molecule/delegated/vars/sshd.yml
  molecule/delegated/verify/sshd.yml
  roles/sshd/README.md
  roles/sshd/defaults/main.yml
  roles/sshd/handlers/main.yml
  roles/sshd/meta/main.yml
  roles/sshd/tasks/install-Debian-family.yml
  roles/sshd/tasks/install-RedHat-family.yml
  roles/sshd/tasks/main.yml
Due: none

Add wazuh-agent role
  .zuul.yaml
  molecule/delegated/prepare/wazuh_agent.yml
  molecule/delegated/tests/wazuh_agent/__init__.py
  molecule/delegated/tests/wazuh_agent/debian.py
  molecule/delegated/tests/wazuh_agent/main.py
  molecule/delegated/tests/wazuh_agent/redhat.py
  molecule/delegated/vars/wazuh_agent.yml
  molecule/delegated/verify/wazuh_agent.yml
  roles/wazuh_agent/README.md
  roles/wazuh_agent/defaults/main.yml
  roles/wazuh_agent/handlers/main.yml
  roles/wazuh_agent/meta/main.yml
  roles/wazuh_agent/tasks/install-Debian-family.yml
  roles/wazuh_agent/tasks/install-RedHat-family.yml
  roles/wazuh_agent/tasks/main.yml
  roles/wazuh_agent/templates/client.keys.j2
  roles/wazuh_agent/templates/ossec.conf.j2
Due: none

Add wazuh-agent role (#1682)
  .zuul.yaml
  molecule/delegated/prepare/wazuh_agent.yml
  molecule/delegated/tests/wazuh_agent/__init__.py
  molecule/delegated/tests/wazuh_agent/debian.py
  molecule/delegated/tests/wazuh_agent/main.py
  molecule/delegated/tests/wazuh_agent/redhat.py
  molecule/delegated/vars/wazuh_agent.yml
  molecule/delegated/verify/wazuh_agent.yml
  roles/wazuh_agent/README.md
  roles/wazuh_agent/defaults/main.yml
  roles/wazuh_agent/handlers/main.yml
  roles/wazuh_agent/meta/main.yml
  roles/wazuh_agent/tasks/install-Debian-family.yml
  roles/wazuh_agent/tasks/install-RedHat-family.yml
  roles/wazuh_agent/tasks/main.yml
  roles/wazuh_agent/templates/client.keys.j2
  roles/wazuh_agent/templates/ossec.conf.j2
Due: none

wazuh_agent: add wazuh_agent_config_profile parameter
  roles/wazuh_agent/defaults/main.yml
  roles/wazuh_agent/templates/ossec.conf.j2
Due: none

wazuh_agent: add wazuh_agent_config_profile parameter (#1683)
  roles/wazuh_agent/defaults/main.yml
  roles/wazuh_agent/templates/ossec.conf.j2
Due: none

netbox: improve the wait for healty service handler (#1638)
  roles/netbox/defaults/main.yml
  roles/netbox/handlers/main.yml
  roles/netbox/tasks/rescue-service.yml
  roles/netbox/tasks/restart-service.yml
  roles/netbox/tasks/service.yml
  roles/netbox/tasks/wait-for-healthy-service.yml
  roles/netbox/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-netbox

frr: make bgpd & bfdd options configurable
  roles/frr/defaults/main.yml
  roles/frr/templates/daemons.j2
Due: ansible-collection-services-molecule-frr

frr: make bgpd & bfdd options configurable (#1684)
  roles/frr/defaults/main.yml
  roles/frr/templates/daemons.j2
Due: ansible-collection-services-molecule-frr

manager: add cilium wrapper script
  roles/manager/tasks/config-wrapper.yml
  roles/manager/templates/wrapper/cilium.j2
Due: ansible-collection-services-molecule-manager

manager: add cilium wrapper script (#1685)
  roles/manager/tasks/config-wrapper.yml
  roles/manager/templates/wrapper/cilium.j2
Due: ansible-collection-services-molecule-manager

Fix rendering of netbox plugins configuration
  roles/netbox/templates/configuration.py.j2
Due: ansible-collection-services-molecule-netbox

netbox: fix rendering of plugins configuration (#1693)
  roles/netbox/templates/configuration.py.j2
Due: ansible-collection-services-molecule-netbox

Give more control over frr config
  roles/frr/defaults/main.yml
  roles/frr/handlers/main.yml
  roles/frr/tasks/main.yml
Due: ansible-collection-services-molecule-frr

rename
  roles/frr/defaults/main.yml
  roles/frr/handlers/main.yml
  roles/frr/tasks/main.yml
Due: ansible-collection-services-molecule-frr

frr: add frr_allow_service_restart & frr_*_file parameters (#1698)
  roles/frr/defaults/main.yml
  roles/frr/handlers/main.yml
  roles/frr/tasks/main.yml
Due: ansible-collection-services-molecule-frr

rook: Add Keystone and Swift integration
  roles/rook/defaults/main.yml
  roles/rook/tasks/deploy.yml
  roles/rook/templates/secret-keystone-user.yml.j2
Due: none

rook: add Keystone and Swift integration (#1705)
  roles/rook/defaults/main.yml
  roles/rook/tasks/deploy.yml
  roles/rook/templates/secret-keystone-user.yml.j2
Due: none

Remove metering service
  .zuul.yaml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/tests/metering.py
  molecule/delegated/vars/metering.yml
  roles/metering/README.md
  roles/metering/defaults/main.yml
  roles/metering/handlers/main.yml
  roles/metering/meta/main.yml
  roles/metering/tasks/main.yml
  roles/metering/templates/docker-compose.yml.j2
  roles/metering/templates/settings.conf.j2
Due: ansible-collection-services-molecule-metering

Remove metering service (#1706)
  .zuul.yaml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/tests/metering.py
  molecule/delegated/vars/metering.yml
  roles/metering/README.md
  roles/metering/defaults/main.yml
  roles/metering/handlers/main.yml
  roles/metering/meta/main.yml
  roles/metering/tasks/main.yml
  roles/metering/templates/docker-compose.yml.j2
  roles/metering/templates/settings.conf.j2
Due: ansible-collection-services-molecule-metering

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/prepare\/fail2ban.*$, ^molecule\/delegated\/tests\/fail2ban.*$, ^molecule\/delegated\/vars\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$
