Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-gnmic, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-dnsmasq: any of: ^roles\/dnsmasq\/.*$, ^molecule\/delegated\/tests\/dnsmasq.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-gnmic: any of: ^roles\/gnmic\/.*$, ^molecule\/delegated\/tests\/gnmic.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-httpd: any of: ^roles\/httpd\/.*$, ^molecule\/delegated\/tests\/httpd.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

frr: allow providing configuration template via variable
  roles/frr/defaults/main.yml
  roles/frr/tasks/main.yml
Due: ansible-collection-services-molecule-frr

frr: allow providing configuration template via variable (#2046)
  roles/frr/defaults/main.yml
  roles/frr/tasks/main.yml
Due: ansible-collection-services-molecule-frr

manager: make dnsmasq DHCP lease time configurable
  roles/manager/defaults/main.yml
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: make dnsmasq DHCP lease time configurable (#2047)
  roles/manager/defaults/main.yml
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

dnsmasq: use bind-dynamic when no interfaces are configured
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

httpd: add host network mode and configurable listen addresses
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: add host network mode and configurable listen addresses (#2049)
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: remove ironic volume preparation container after run
  roles/httpd/tasks/ironic.yml
Due: ansible-collection-services-molecule-httpd

httpd: remove ironic volume preparation container after run (#2051)
  roles/httpd/tasks/ironic.yml
Due: ansible-collection-services-molecule-httpd

httpd: add keepalive, performance, and timeout settings
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: add keepalive, performance, and timeout settings (#2052)
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

manager: add IPv6 support for host address defaults and URLs
  roles/manager/defaults/main.yml
  roles/manager/templates/env/vault.env.j2
Due: ansible-collection-services-molecule-manager

manager: add IPv6 support for host address defaults and URLs (#2053)
  roles/manager/defaults/main.yml
  roles/manager/templates/env/vault.env.j2
Due: ansible-collection-services-molecule-manager

manager, netbox, openstackclient, traefik: add IPv6 support for Docker networks
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/netbox/defaults/main.yml
  roles/netbox/templates/docker-compose.yml.j2
  roles/openstackclient/defaults/main.yml
  roles/openstackclient/templates/docker-compose.yml.j2
  roles/traefik/defaults/main.yml
  roles/traefik/tasks/service.yml
Due: ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-traefik

httpd: set l3mdev_accept default to false
  roles/httpd/defaults/main.yml
Due: ansible-collection-services-molecule-httpd

manager, netbox, openstackclient, traefik: add IPv6 support for Docker networks (#2054)
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/netbox/defaults/main.yml
  roles/netbox/templates/docker-compose.yml.j2
  roles/openstackclient/defaults/main.yml
  roles/openstackclient/templates/docker-compose.yml.j2
  roles/traefik/defaults/main.yml
  roles/traefik/tasks/service.yml
Due: ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-traefik

frr: add first YRZN configuration template
  roles/frr/templates/frr_yrzn001.conf.j2
Due: ansible-collection-services-molecule-frr

frr: add first YRZN configuration template (#2056)
  roles/frr/templates/frr_yrzn001.conf.j2
Due: ansible-collection-services-molecule-frr

frr: fix item.interface access in YRZN uplinks loop
  roles/frr/templates/frr_yrzn001.conf.j2
Due: ansible-collection-services-molecule-frr

frr: fix item.interface access in YRZN uplinks loop (#2057)
  roles/frr/templates/frr_yrzn001.conf.j2
Due: ansible-collection-services-molecule-frr

frr: add optional BGP neighbor password for the YRZN profile
  roles/frr/templates/frr_yrzn001.conf.j2
Due: ansible-collection-services-molecule-frr

frr: add optional BGP neighbor password for the YRZN profile (#2058)
  roles/frr/templates/frr_yrzn001.conf.j2
Due: ansible-collection-services-molecule-frr

httpd: suppress HTTP 206 partial content responses from access log
  roles/httpd/defaults/main.yml
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: suppress HTTP 206 partial content responses from access log (#2059)
  roles/httpd/defaults/main.yml
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: add optional HTTPS/SSL support
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: add optional HTTPS/SSL support (#2060)
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

frr: fall back to _frr_uplinks when frr_uplinks_data is not set in YRZN template
  roles/frr/templates/frr_yrzn001.conf.j2
Due: ansible-collection-services-molecule-frr

frr: fall back to _frr_uplinks when frr_uplinks_data is not set in YRZN template (#2061)
  roles/frr/templates/frr_yrzn001.conf.j2
Due: ansible-collection-services-molecule-frr

manager: make netbox systemd service dependency configurable
  roles/manager/defaults/main.yml
  roles/manager/templates/manager.service.j2
Due: ansible-collection-services-molecule-manager

manager: make netbox systemd service dependency configurable (#2062)
  roles/manager/defaults/main.yml
  roles/manager/templates/manager.service.j2
Due: ansible-collection-services-molecule-manager

manager: skip version check for disabled ansible services
  roles/manager/templates/check-service-manager-versions.sh.j2
Due: ansible-collection-services-molecule-manager

netdata: optimize configuration for large-scale deployments
  roles/netdata/defaults/main.yml
  roles/netdata/templates/netdata.conf.j2
  roles/netdata/templates/stream.conf.j2
Due: ansible-collection-services-molecule-netdata

manager: skip version check for disabled ansible services (#2063)
  roles/manager/templates/check-service-manager-versions.sh.j2
Due: ansible-collection-services-molecule-manager

netdata: optimize configuration for large-scale deployments (#2064)
  roles/netdata/defaults/main.yml
  roles/netdata/templates/netdata.conf.j2
  roles/netdata/templates/stream.conf.j2
Due: ansible-collection-services-molecule-netdata

netdata: fix streaming stability for large-scale deployments
  roles/netdata/defaults/main.yml
  roles/netdata/templates/netdata.conf.j2
  roles/netdata/templates/stream.conf.j2
Due: ansible-collection-services-molecule-netdata

netdata: fix streaming stability for large-scale deployments (#2065)
  roles/netdata/defaults/main.yml
  roles/netdata/templates/netdata.conf.j2
  roles/netdata/templates/stream.conf.j2
Due: ansible-collection-services-molecule-netdata

frr: add YRZN Metalbox template with dual BGP sessions
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_yrzn_metalbox.conf.j2
Due: ansible-collection-services-molecule-frr

frr: add YRZN Metalbox template with dual BGP sessions (#2066)
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_yrzn_metalbox.conf.j2
Due: ansible-collection-services-molecule-frr

frr: add YRZN Network template with dual BGP sessions
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_yrzn_network.conf.j2
Due: ansible-collection-services-molecule-frr

frr: add YRZN Network template with dual BGP sessions (#2067)
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_yrzn_network.conf.j2
Due: ansible-collection-services-molecule-frr
