Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: ansible-molecule
  vars:
    ansible_role: adminer
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-auditd:
  parent: ansible-molecule
  vars:
    ansible_role: auditd
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-bird:
  parent: ansible-molecule
  vars:
    ansible_role: bird
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-cephclient:
  parent: ansible-molecule
  vars:
    ansible_role: cephclient
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-cgit:
  parent: ansible-molecule
  vars:
    ansible_role: cgit
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-chrony:
  parent: ansible-molecule
  vars:
    ansible_role: chrony
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-clamav:
  parent: ansible-molecule
  vars:
    ansible_role: clamav
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-containerd:
  parent: ansible-molecule
  vars:
    ansible_role: containerd
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-dnsdist:
  parent: ansible-molecule
  vars:
    ansible_role: dnsdist
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-docker:
  parent: ansible-molecule
  vars:
    ansible_role: docker
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-fail2ban:
  parent: ansible-molecule
  nodeset:
    nodes:
    - name: ubuntu-jammy-large
      label: ubuntu-jammy-large
    - name: centos-9-stream
      label: centos-9-stream
  vars:
    ansible_role: fail2ban
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-falco:
  parent: ansible-molecule
  vars:
    ansible_role: falco
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-frr:
  parent: ansible-molecule
  vars:
    ansible_role: frr
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-hddtemp:
  parent: ansible-molecule
  vars:
    ansible_role: hddtemp
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-homer:
  parent: ansible-molecule
  vars:
    ansible_role: homer
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-journald:
  parent: ansible-molecule
  vars:
    ansible_role: journald
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-lldpd:
  parent: ansible-molecule
  vars:
    ansible_role: lldpd
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-manager:
  parent: ansible-molecule
  vars:
    ansible_role: manager
    ansible_molecule_ansible_version: 9.3.0

ansible-collection-services-molecule-metering:
  parent: ansible-molecule
  vars:
    ansible_role: metering
    ansible_molecule_ansible_version: 9.3.0

Update README.md
  README.md
Due: none

Adding Debian support for hddtemp
  molecule/delegated/tests/hddtemp/redhat.py
  roles/hddtemp/files/Debian-family/hddtemp
  roles/hddtemp/tasks/install-Debian-family.yml
  roles/hddtemp/tasks/service-Debian-family.yml
  roles/hddtemp/vars/Debian-family.yml
  roles/hddtemp/vars/Debian.yml
  roles/hddtemp/vars/RedHat-family.yml
Due: ansible-collection-services-molecule-hddtemp

Add Debian support for role docker
  roles/docker/tasks/install-docker-Debian-family.yml
Due: ansible-collection-services-molecule-docker

Adding Debian support for containerd
  molecule/delegated/tests/containerd/debian.py
  roles/containerd/defaults/main.yml
  roles/containerd/tasks/install-Debian-family.yml
  roles/containerd/tasks/install-RedHat-family.yml
  roles/containerd/tasks/main.yml
  roles/containerd/vars/CentOS-dist.yml
  roles/containerd/vars/Debian-dist.yml
  roles/containerd/vars/Ubuntu-dist.yml
Due: ansible-collection-services-molecule-containerd

Add Debian support for role chrony
  roles/chrony/tasks/main.yml
Due: ansible-collection-services-molecule-chrony

Add debian support for role thanos_sidecar
  roles/thanos_sidecar/tasks/service.yml
Due: ansible-collection-services-molecule-thanos_sidecar

Add Debian support for role netdata
  roles/netdata/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-netdata

Add Debian support for role tuned
  molecule/delegated/tests/tuned.py
Due: ansible-collection-services-molecule-tuned

Add Debian support for role netbox
  roles/netbox/tasks/service.yml
Due: ansible-collection-services-molecule-netbox

Enable debian testing for all jobs
  .zuul.yaml
Due: none

Add Debian support for role osquery
  roles/osquery/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-osquery

Add Debian support for role openstackclient
  molecule/delegated/tests/openstackclient/package-debian.py
  molecule/delegated/tests/openstackclient/package-redhat.py
  roles/openstackclient/README.rst
  roles/openstackclient/defaults/main.yml
  roles/openstackclient/tasks/package-Debian-family.yml
Due: ansible-collection-services-molecule-openstackclient

Add Debian support for role rsyslog
  molecule/delegated/tests/rsyslog.py
  roles/rsyslog/tasks/main.yml
  roles/rsyslog/vars/CentOS-dist.yml
  roles/rsyslog/vars/Debian-dist.yml
  roles/rsyslog/vars/Ubuntu-dist.yml
Due: ansible-collection-services-molecule-rsyslog

Add Debian support for role falco
  roles/falco/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-falco

Add Debian support for role cephclient
  roles/cephclient/tasks/package-Debian-family.yml
Due: ansible-collection-services-molecule-cephclient

manager: wait 30s with the healthcheck of database based services (#1348)
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Fix .zuul.yml file regexes
  .zuul.yaml
Due: none

[DNM] This should trigger the adminer test
  molecule/delegated/tests/adminer.py
Due: ansible-collection-services-molecule-adminer

[DNM] test change in .zuul.yml
  .zuul.yaml
Due: none

manager: warn if the OSISM command is executed as root user
  roles/manager/templates/wrapper/osism.j2
Due: ansible-collection-services-molecule-manager

manager: warn if the OSISM command is executed as root user (#1356)
  roles/manager/templates/wrapper/osism.j2
Due: ansible-collection-services-molecule-manager

Create FRR template loadbalancer_external_uplink
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

add route-map for setting internal src
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

fix RM_SET_SRC4 route-map
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

Add default for frr_incoming_table_external
  roles/frr/defaults/main.yml
Due: ansible-collection-services-molecule-frr

frr: add missing newline at the EOF
  roles/frr/defaults/main.yml
Due: ansible-collection-services-molecule-frr

Create FRR template loadbalancer_external_uplink (#1358)
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

frr: make the configuration version configurable via frr_version
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_leaf.conf.j2
  roles/frr/templates/frr_loadbalancer.conf.j2
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

frr: make the configuration version configurable via frr_version (#1360)
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_leaf.conf.j2
  roles/frr/templates/frr_loadbalancer.conf.j2
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

Renaming "Start/enable" $task over to "Manage" $task
  roles/adminer/tasks/main.yml
  roles/auditd/tasks/main.yml
  roles/cephclient/tasks/container.yml
  roles/cgit/tasks/service.yml
  roles/chrony/tasks/main.yml
  roles/clamav/tasks/main.yml
  roles/containerd/tasks/service.yml
  roles/dnsdist/tasks/service.yml
  roles/docker/tasks/service.yml
  roles/fail2ban/tasks/main.yml
  roles/falco/tasks/install-Debian-family.yml
  roles/falco/tasks/install-RedHat-family_broken.yml
  roles/frr/tasks/main.yml
  roles/hddtemp/tasks/service-Debian-family.yml
  roles/hddtemp/tasks/service-RedHat-family.yml
  roles/homer/tasks/main.yml
  roles/journald/tasks/main.yml
  roles/lldpd/tasks/main.yml
  roles/manager/tasks/service.yml
  roles/metering/tasks/main.yml
  roles/netbox/tasks/service.yml
  roles/netdata/tasks/install-Debian-family.yml
  roles/netdata/tasks/install-RedHat-family.yml
  roles/nexus/tasks/service.yml
  roles/openstack_health_monitor/tasks/container-Debian-family.yml
  roles/openstackclient/tasks/container-Debian-family.yml
  roles/openstackclient/tasks/container-RedHat-family.yml
  roles/osquery/tasks/install-Debian-family.yml
  roles/osquery/tasks/install-RedHat-family.yml
  roles/phpmyadmin/tasks/main.yml
  roles/rng/tasks/main.yml
  roles/rsyslog/tasks/main.yml
  roles/scaphandre/tasks/service.yml
  roles/smartd/tasks/main.yml
  roles/squid/tasks/main.yml
  roles/thanos_sidecar/tasks/service.yml
  roles/traefik/tasks/service.yml
  roles/tuned/tasks/main.yml
  roles/virtualbmc/tasks/service.yml
  roles/wireguard/tasks/main.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Renaming "Start/enable" $task over to "Manage" $task (#1359)
  roles/adminer/tasks/main.yml
  roles/auditd/tasks/main.yml
  roles/cephclient/tasks/container.yml
  roles/cgit/tasks/service.yml
  roles/chrony/tasks/main.yml
  roles/clamav/tasks/main.yml
  roles/containerd/tasks/service.yml
  roles/dnsdist/tasks/service.yml
  roles/docker/tasks/service.yml
  roles/fail2ban/tasks/main.yml
  roles/falco/tasks/install-Debian-family.yml
  roles/falco/tasks/install-RedHat-family_broken.yml
  roles/frr/tasks/main.yml
  roles/hddtemp/tasks/service-Debian-family.yml
  roles/hddtemp/tasks/service-RedHat-family.yml
  roles/homer/tasks/main.yml
  roles/journald/tasks/main.yml
  roles/lldpd/tasks/main.yml
  roles/manager/tasks/service.yml
  roles/metering/tasks/main.yml
  roles/netbox/tasks/service.yml
  roles/netdata/tasks/install-Debian-family.yml
  roles/netdata/tasks/install-RedHat-family.yml
  roles/nexus/tasks/service.yml
  roles/openstack_health_monitor/tasks/container-Debian-family.yml
  roles/openstackclient/tasks/container-Debian-family.yml
  roles/openstackclient/tasks/container-RedHat-family.yml
  roles/osquery/tasks/install-Debian-family.yml
  roles/osquery/tasks/install-RedHat-family.yml
  roles/phpmyadmin/tasks/main.yml
  roles/rng/tasks/main.yml
  roles/rsyslog/tasks/main.yml
  roles/scaphandre/tasks/service.yml
  roles/smartd/tasks/main.yml
  roles/squid/tasks/main.yml
  roles/thanos_sidecar/tasks/service.yml
  roles/traefik/tasks/service.yml
  roles/tuned/tasks/main.yml
  roles/virtualbmc/tasks/service.yml
  roles/wireguard/tasks/main.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Fixing zuul.yaml regex
  .zuul.yaml
Due: none

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-bird: any of: ^roles\/bird\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/bird.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/zuul.*$
