Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-bird: any of: ^roles\/bird\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/bird.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/zuul.*$

manager: also get versions in the osism-update-docker script (#1412)
  roles/manager/templates/wrapper/osism-update-docker.j2
Due: ansible-collection-services-molecule-manager

manager: also detect use of vault in the osism-update-docker script
  roles/manager/templates/wrapper/osism-update-docker.j2
Due: ansible-collection-services-molecule-manager

manager: also detect use of vault in the osism-update-docker script (#1413)
  roles/manager/templates/wrapper/osism-update-docker.j2
Due: ansible-collection-services-molecule-manager

zuul: add testing on Ubuntu 24.04 (#1370)
  .zuul.yaml
Due: none

[DNM] Test ubuntu 24.04
  .zuul.yaml
Due: none

manager: enable noble job
  .zuul.yaml
Due: none

manager: enable noble job (#1414)
  .zuul.yaml
Due: none

Fix Ubuntu 24.04 roles
  molecule/delegated/tests/chrony/debian.py
  molecule/delegated/tests/fail2ban.py
Due: ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-fail2ban

Fix Ubuntu 24.04 roles (#1417)
  molecule/delegated/tests/chrony/debian.py
  molecule/delegated/tests/fail2ban.py
Due: ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-fail2ban

manager: support scripts
  roles/manager/tasks/config-scripts.yml
  roles/manager/tasks/config.yml
  roles/manager/templates/scripts/osism-include.j2
  roles/manager/vars/scripts.yml
Due: ansible-collection-services-molecule-manager

manager: support scripts (#1418)
  roles/manager/tasks/config-scripts.yml
  roles/manager/tasks/config.yml
  roles/manager/templates/scripts/osism-include.j2
  roles/manager/vars/scripts.yml
Due: ansible-collection-services-molecule-manager

Test testbed on Ubuntu 24.04
  roles/docker/vars/Debian-family.yml
Due: ansible-collection-services-molecule-docker

traefik: remove wrong osism.yml volume
  roles/traefik/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-traefik

traefik: remove wrong osism.yml volume (#1422)
  roles/traefik/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-traefik

traefik: make extra configuration possible
  roles/traefik/defaults/main.yml
  roles/traefik/templates/traefik.yml.j2
Due: ansible-collection-services-molecule-traefik

traefik: make extra configuration possible (#1423)
  roles/traefik/defaults/main.yml
  roles/traefik/templates/traefik.yml.j2
Due: ansible-collection-services-molecule-traefik

traefik: restart service when configuration changed
  roles/traefik/tasks/config.yml
Due: ansible-collection-services-molecule-traefik

traefik: restart service when configuration changed (#1424)
  roles/traefik/tasks/config.yml
Due: ansible-collection-services-molecule-traefik

traefik: allow extra ports
  roles/traefik/defaults/main.yml
  roles/traefik/templates/docker-compose.yml.j2
  roles/traefik/templates/traefik.yml.j2
Due: ansible-collection-services-molecule-traefik

traefik: allow extra ports (#1425)
  roles/traefik/defaults/main.yml
  roles/traefik/templates/docker-compose.yml.j2
  roles/traefik/templates/traefik.yml.j2
Due: ansible-collection-services-molecule-traefik

traefik: allow dynamic service configuration
  roles/traefik/defaults/main.yml
  roles/traefik/tasks/config.yml
  roles/traefik/templates/docker-compose.yml.j2
  roles/traefik/templates/dynamic.yml.j2
Due: ansible-collection-services-molecule-traefik

traefik: allow dynamic service configuration (#1426)
  roles/traefik/defaults/main.yml
  roles/traefik/tasks/config.yml
  roles/traefik/templates/docker-compose.yml.j2
  roles/traefik/templates/dynamic.yml.j2
Due: ansible-collection-services-molecule-traefik

tuned: docs migrated to osism/osism.github.io
  roles/tuned/README.rst
Due: ansible-collection-services-molecule-tuned

tuned: docs migrated to osism/osism.github.io (#1428)
  roles/tuned/README.rst
Due: ansible-collection-services-molecule-tuned

manager: make ulimit nofile of the Ansible containers configurable
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: make ulimit nofile of the Ansible containers configurable (#1429)
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

docker: allow to throttle docker service restarts
  roles/docker/defaults/main.yml
  roles/docker/handlers/main.yml
Due: ansible-collection-services-molecule-docker

docker: allow to throttle docker service restarts (#1431)
  roles/docker/defaults/main.yml
  roles/docker/handlers/main.yml
Due: ansible-collection-services-molecule-docker

docker: allow to wait some time after docker serivce restart
  roles/docker/defaults/main.yml
  roles/docker/handlers/main.yml
Due: ansible-collection-services-molecule-docker

docker: allow to wait some time after docker serivce restart (#1432)
  roles/docker/defaults/main.yml
  roles/docker/handlers/main.yml
Due: ansible-collection-services-molecule-docker

Add kubernetes monitoring role
  roles/kubernetes_monitoring/README.md
  roles/kubernetes_monitoring/README.rst
  roles/kubernetes_monitoring/defaults/main.yml
  roles/kubernetes_monitoring/meta/main.yml
  roles/kubernetes_monitoring/tasks/config.yml
  roles/kubernetes_monitoring/tasks/deploy-kubernetes-monitoring.yml
  roles/kubernetes_monitoring/tasks/main.yml
  roles/kubernetes_monitoring/tasks/namespace.yml
  roles/kubernetes_monitoring/templates/kubernetes_monitoring.yml.j2
Due: none

netdata: use new official repository
  molecule/delegated/tests/netdata/debian.py
  molecule/delegated/tests/netdata/redhat.py
  molecule/delegated/vars/netdata.yml
  roles/netdata/defaults/main.yml
Due: ansible-collection-services-molecule-netdata

netdata: use new official repository (#1435)
  molecule/delegated/tests/netdata/debian.py
  molecule/delegated/tests/netdata/redhat.py
  molecule/delegated/vars/netdata.yml
  roles/netdata/defaults/main.yml
Due: ansible-collection-services-molecule-netdata

Fix some truthy yamllint warnings
  roles/auditd/tasks/install-RedHat-family.yml
  roles/cephclient/tasks/package-RedHat-family.yml
  roles/falco/tasks/install-RedHat-family_broken.yml
  roles/netdata/tasks/install-RedHat-family.yml
  roles/osquery/tasks/install-RedHat-family.yml
  roles/smartd/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-smartd

Fix some truthy yamllint warnings (#1439)
  roles/auditd/tasks/install-RedHat-family.yml
  roles/cephclient/tasks/package-RedHat-family.yml
  roles/falco/tasks/install-RedHat-family_broken.yml
  roles/netdata/tasks/install-RedHat-family.yml
  roles/osquery/tasks/install-RedHat-family.yml
  roles/smartd/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-smartd

yamllint: fix "warning too few spaces before comment"
  roles/rook_operator/tasks/deploy.yml
Due: none

yamllint: fix "warning too few spaces before comment" (#1442)
  roles/rook_operator/tasks/deploy.yml
Due: none

README: cleanup
  README.md
Due: none

README: cleanup (#1443)
  README.md
Due: none

rook: initial kubernetes apply (#881)
  roles/rook/README.md
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/meta/main.yml
  roles/rook/tasks/apply.yml
  roles/rook/tasks/main.yml
  roles/rook/tasks/namespace.yml
  roles/rook/templates/01_CephCluster.yml.j2
  roles/rook/templates/02_Toolbox.yml.j2
  roles/rook/templates/03_CephBlockPool.yml.j2
  roles/rook/templates/04_CephFilesystem.yml.j2
  roles/rook/templates/05_CephObjectStore.yml.j2
  roles/rook/templates/06_CephClient.yml.j2
Due: none
