Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-dnsmasq: any of: ^roles\/dnsmasq\/.*$, ^molecule\/delegated\/tests\/dnsmasq.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-httpd: any of: ^roles\/httpd\/.*$, ^molecule\/delegated\/tests\/httpd.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

httpd: prepare ironic volume (#1928)
  roles/httpd/files/prepare-ironic-volume.sh
  roles/httpd/tasks/ironic.yml
Due: ansible-collection-services-molecule-httpd

httpd: redirect 6385 to the Ironic API
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: redirect 6385 to the Ironic API (#1924)
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

netbox: make number of max/spare processes configurable
  roles/netbox/defaults/main.yml
  roles/netbox/templates/nginx-unit-1.26.json.j2
  roles/netbox/templates/nginx-unit.json.j2
Due: ansible-collection-services-molecule-netbox

netbox: make number of max/spare processes configurable (#1931)
  roles/netbox/defaults/main.yml
  roles/netbox/templates/nginx-unit-1.26.json.j2
  roles/netbox/templates/nginx-unit.json.j2
Due: ansible-collection-services-molecule-netbox

httpd: proxy /v1/ to the OSISM API
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: proxy /v1/ to the OSISM API (#1932)
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: update SONiC provision status in Metalbox
  roles/httpd/templates/post_install.sh.j2
Due: ansible-collection-services-molecule-httpd

httpd: update SONiC provision status in Metalbox (#1930)
  roles/httpd/templates/post_install.sh.j2
Due: ansible-collection-services-molecule-httpd

httpd: use first ipv6 adresses of the loopback device
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-httpd

httpd: use first ipv6 adresses of the loopback device (#1933)
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-httpd

httpd: use virtual host for port 80
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: use virtual host for port 80 (#1934)
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

dnsmasq: ignore some extra vars in metalbox mode
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: ignore some extra vars in metalbox mode (#1935)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
Due: ansible-collection-services-molecule-dnsmasq

Revert "dnsmasq: ignore some extra vars in metalbox mode"
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
Due: ansible-collection-services-molecule-dnsmasq

Revert "dnsmasq: ignore some extra vars in metalbox mode" (#1936)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
Due: ansible-collection-services-molecule-dnsmasq

httpd: add sonic nameserver to /etc/resolv.conf
  roles/httpd/templates/post_install.sh.j2
Due: ansible-collection-services-molecule-httpd

httpd: add sonic nameserver to /etc/resolv.conf (#1938)
  roles/httpd/templates/post_install.sh.j2
Due: ansible-collection-services-molecule-httpd

httpd: run curl in mgmt vrf
  roles/httpd/templates/post_install.sh.j2
Due: ansible-collection-services-molecule-httpd

httpd: run curl in mgmt vrf (#1939)
  roles/httpd/templates/post_install.sh.j2
Due: ansible-collection-services-molecule-httpd

httpd: rename /v1/switches -> /v1/sonic
  roles/httpd/templates/post_install.sh.j2
Due: ansible-collection-services-molecule-httpd

httpd: rename /v1/switches -> /v1/sonic (#1940)
  roles/httpd/templates/post_install.sh.j2
Due: ansible-collection-services-molecule-httpd

Add initial gnmic role
  .zuul.yaml
  molecule/delegated/prepare/gnmic.yml
  molecule/delegated/tests/gnmic.py
  molecule/delegated/vars/gnmic.yml
  molecule/delegated/verify/gnmic.yml
  roles/gnmic/README.md
  roles/gnmic/defaults/main.yml
  roles/gnmic/handlers/main.yml
  roles/gnmic/meta/main.yml
  roles/gnmic/tasks/main.yml
  roles/gnmic/templates/docker-compose.yml.j2
  roles/gnmic/templates/gnmic.yaml.j2
Due: none

Add initial gnmic role (#1942)
  .zuul.yaml
  molecule/delegated/prepare/gnmic.yml
  molecule/delegated/tests/gnmic.py
  molecule/delegated/vars/gnmic.yml
  molecule/delegated/verify/gnmic.yml
  roles/gnmic/README.md
  roles/gnmic/defaults/main.yml
  roles/gnmic/handlers/main.yml
  roles/gnmic/meta/main.yml
  roles/gnmic/tasks/main.yml
  roles/gnmic/templates/docker-compose.yml.j2
  roles/gnmic/templates/gnmic.yaml.j2
Due: none

gnmic: improve configuration template
  roles/gnmic/defaults/main.yml
  roles/gnmic/tasks/main.yml
  roles/gnmic/templates/gnmic.yaml.j2
Due: none

gnmic: improve configuration template (#1943)
  roles/gnmic/defaults/main.yml
  roles/gnmic/tasks/main.yml
  roles/gnmic/templates/gnmic.yaml.j2
Due: none

gnmic: fix typo
  roles/gnmic/templates/gnmic.yaml.j2
Due: none

zuul: remove gate pipeline
  .zuul.yaml
Due: none

gnmic: fix typo (#1944)
  roles/gnmic/templates/gnmic.yaml.j2
Due: none

zuul: remove gate pipeline (#1945)
  .zuul.yaml
Due: none

dnsmasq: localise queries and ignore /etc/hosts
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: localise queries and ignore /etc/hosts (#1946)
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: add dhcp-option-force
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: add dhcp-option-force (#1948)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

httpd: bind to all global IPv6 addresses
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-httpd

zuul: add cosign secrets
  .zuul.yaml
Due: none

zuul: add cosign secrets (#1951)
  .zuul.yaml
Due: none

httpd: bind to all global IPv6 addresses (#1950)
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-httpd

httpd: bind port 80 also to ipv6 addresses
  roles/httpd/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-httpd
