Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-gnmic, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: adminer

ansible-collection-services-molecule-auditd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: auditd

ansible-collection-services-molecule-cephclient:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cephclient

ansible-collection-services-molecule-cgit:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cgit

ansible-collection-services-molecule-chrony:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: chrony

ansible-collection-services-molecule-clamav:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: clamav

ansible-collection-services-molecule-containerd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: containerd

ansible-collection-services-molecule-dnsdist:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsdist

ansible-collection-services-molecule-dnsmasq:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsmasq

ansible-collection-services-molecule-docker:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: docker

ansible-collection-services-molecule-fail2ban:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: fail2ban

ansible-collection-services-molecule-falco:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: falco

ansible-collection-services-molecule-frr:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: frr

ansible-collection-services-molecule-gnmic:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: gnmic

ansible-collection-services-molecule-hddtemp:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: hddtemp

ansible-collection-services-molecule-homer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: homer

ansible-collection-services-molecule-httpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: httpd

ansible-collection-services-molecule-journald:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: journald

ansible-collection-services-molecule-lldpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: lldpd

ansible-collection-services-molecule-manager:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: manager

ansible-collection-services-molecule-netbox:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbox

ansible-collection-services-molecule-netbird:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbird

frr: add configurable announced /24 networks to YRZN Network template
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_yrzn_network.conf.j2
Due: ansible-collection-services-molecule-frr

frr: add configurable announced /24 networks to YRZN Network template (#2068)
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_yrzn_network.conf.j2
Due: ansible-collection-services-molecule-frr

frr: consolidate announced networks into single prefix-list in YRZN Network template
  roles/frr/templates/frr_yrzn_network.conf.j2
Due: ansible-collection-services-molecule-frr

frr: consolidate announced networks into single prefix-list in YRZN Network template (#2069)
  roles/frr/templates/frr_yrzn_network.conf.j2
Due: ansible-collection-services-molecule-frr

Add CHANGELOG.md file
  CHANGELOG.md
Due: none

Add CHANGELOG.md file (#2070)
  CHANGELOG.md
Due: none

frr: always redistribute static in YRZN Network template
  roles/frr/templates/frr_yrzn_network.conf.j2
Due: ansible-collection-services-molecule-frr

frr: always redistribute static in YRZN Network template (#2071)
  roles/frr/templates/frr_yrzn_network.conf.j2
Due: ansible-collection-services-molecule-frr

zuul: remove centos 9 und ubuntu 22.04 jobs
  .zuul.yaml
Due: none

zuul: remove centos 9 und ubuntu 22.04 jobs (#2073)
  .zuul.yaml
Due: none

dnsdist: add support for network host mode
  roles/dnsdist/defaults/main.yml
  roles/dnsdist/templates/dnsdist.conf.j2
  roles/dnsdist/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-dnsdist

dnsdist: add support for network host mode (#2074)
  roles/dnsdist/defaults/main.yml
  roles/dnsdist/templates/dnsdist.conf.j2
  roles/dnsdist/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-dnsdist

frr: fix ansible-lint failure
  roles/frr/tasks/main.yml
Due: ansible-collection-services-molecule-frr

frr: fix ansible-lint failure (#2077)
  roles/frr/tasks/main.yml
Due: ansible-collection-services-molecule-frr

docker: set default ulimits for nofile
  roles/docker/defaults/main.yml
Due: ansible-collection-services-molecule-docker

bootstrap readme for a new role (leaf)
  roles/ecodigit_leaf/README.md
Due: none

add metadata info for the role
  roles/ecodigit_leaf/meta/main.yml
Due: none

get the template config done for leaf, and its container
  roles/ecodigit_leaf/templates/config.yaml.j2
  roles/ecodigit_leaf/templates/docker-compose.yml.j2
Due: none

define role tasks for ecodigit_leaf
  roles/ecodigit_leaf/tasks/config.yml
  roles/ecodigit_leaf/tasks/main.yml
  roles/ecodigit_leaf/tasks/service.yml
Due: none

push default vars config file for leaf
  roles/ecodigit_leaf/defaults/main.yml
Due: none

merge handlers from kepler role into leaf's
  roles/ecodigit_leaf/handlers/main.yml
Due: none

manager: include conductor.env in ansible service env files
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: include conductor.env in ansible service env files (#2079)
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

dnsmasq: add retry logic for service startup
  roles/dnsmasq/tasks/service.yml
Due: ansible-collection-services-molecule-dnsmasq

frr: Add optional BFD support for FRR neighbors
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_k3s_cilium.conf.j2
  roles/frr/templates/frr_leaf.conf.j2
  roles/frr/templates/frr_loadbalancer.conf.j2
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

ecodigit_leaf: add molecule tests
  .zuul.yaml
  molecule/delegated/prepare/ecodigit_leaf.yml
  molecule/delegated/tests/ecodigit_leaf.py
  molecule/delegated/vars/ecodigit_leaf.yml
  roles/ecodigit_leaf/defaults/main.yml
  roles/ecodigit_leaf/handlers/main.yml
  roles/ecodigit_leaf/tasks/service.yml
  roles/ecodigit_leaf/templates/docker-compose.yml.j2
Due: none

frr: Switch logic for BFD config to prefer bfd_profile parameter
  roles/frr/templates/frr_k3s_cilium.conf.j2
  roles/frr/templates/frr_leaf.conf.j2
  roles/frr/templates/frr_loadbalancer.conf.j2
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

Split service start and active-state wait into separate tasks
  roles/adminer/handlers/main.yml
  roles/adminer/tasks/main.yml
  roles/cephclient/handlers/main.yml
  roles/cephclient/tasks/container.yml
  roles/cgit/handlers/main.yml
  roles/cgit/tasks/service.yml
  roles/dnsdist/handlers/main.yml
  roles/dnsdist/tasks/service.yml
  roles/dnsmasq/handlers/main.yml
  roles/dnsmasq/tasks/service.yml
  roles/gnmic/handlers/main.yml
  roles/gnmic/tasks/main.yml
  roles/homer/handlers/main.yml
  roles/homer/tasks/main.yml
  roles/kepler/handlers/main.yml
  roles/kepler/tasks/service.yml
  roles/manager/handlers/main.yml
  roles/netbox/tasks/restart-service.yml
  roles/netbox/tasks/service.yml
  roles/nexus/handlers/main.yml
  roles/openstackclient/handlers/main.yml
  roles/openstackclient/tasks/container-Debian-family.yml
  roles/openstackclient/tasks/container-RedHat-family.yml
  roles/opentelemetry_collector/handlers/main.yml
  roles/opentelemetry_collector/tasks/main.yml
  roles/phpmyadmin/handlers/main.yml
  roles/phpmyadmin/tasks/main.yml
  roles/scaphandre/handlers/main.yml
  roles/scaphandre/tasks/service.yml
  roles/squid/handlers/main.yml
  roles/squid/tasks/main.yml
  roles/stepca/tasks/service.yml
  roles/substation/handlers/main.yml
  roles/substation/tasks/main.yml
  roles/thanos_sidecar/tasks/service.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-gnmic, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar

Add su_loadbalancer FRR template
  roles/frr/templates/frr_su_loadbalancer.j2
Due: ansible-collection-services-molecule-frr

Fix broken notify chain after splitting service start and wait
  roles/cephclient/handlers/main.yml
  roles/dnsmasq/handlers/main.yml
  roles/gnmic/handlers/main.yml
  roles/manager/handlers/main.yml
  roles/netbox/tasks/restart-service.yml
  roles/netbox/tasks/service.yml
  roles/nexus/handlers/main.yml
  roles/openstackclient/handlers/main.yml
  roles/opentelemetry_collector/handlers/main.yml
  roles/squid/handlers/main.yml
  roles/squid/tasks/main.yml
  roles/substation/handlers/main.yml
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-gnmic, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-squid

wireguard: enable IP forwarding and MASQUERADE
  molecule/delegated/tests/wireguard.py
  roles/wireguard/defaults/main.yml
  roles/wireguard/templates/server.conf.j2
Due: ansible-collection-services-molecule-wireguard

wireguard: add MASQUERADE for gateway mode
  molecule/delegated/prepare/wireguard.yml
  molecule/delegated/tests/wireguard.py
  roles/wireguard/defaults/main.yml
  roles/wireguard/templates/server.conf.j2
Due: ansible-collection-services-molecule-wireguard

wireguard: add MASQUERADE for gateway mode (#2086)
  molecule/delegated/prepare/wireguard.yml
  molecule/delegated/tests/wireguard.py
  roles/wireguard/defaults/main.yml
  roles/wireguard/templates/server.conf.j2
Due: ansible-collection-services-molecule-wireguard

molecule: add default stub to silence CRITICAL error
  molecule/default/molecule.yml
Due: none

molecule: add default stub to silence CRITICAL error (#2087)
  molecule/default/molecule.yml
Due: none

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-dnsmasq: any of: ^roles\/dnsmasq\/.*$, ^molecule\/delegated\/tests\/dnsmasq.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-gnmic: any of: ^roles\/gnmic\/.*$, ^molecule\/delegated\/tests\/gnmic.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-httpd: any of: ^roles\/httpd\/.*$, ^molecule\/delegated\/tests\/httpd.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$
