Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-dnsmasq: any of: ^roles\/dnsmasq\/.*$, ^molecule\/delegated\/tests\/dnsmasq.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-httpd: any of: ^roles\/httpd\/.*$, ^molecule\/delegated\/tests\/httpd.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

manager: add manager_service_manual_start parameter (#1878)
  roles/manager/defaults/main.yml
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager

manager: make it possible to disable the watchdog service
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: always make /opt/configuration available in inventory reconciler
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: make it possible to disable the watchdog service (#1879)
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: always make /opt/configuration available in inventory reconciler (#1880)
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

dnsmasq: add bind-interfaces parameter
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: add bind-interfaces parameter (#1882)
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

netbox: add secrets custom field for devices
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add secrets custom field for devices (#1883)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: change type of secrets custom field to json
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: change type of secrets custom field to json (#1884)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

httpd: make data directory world readable
  roles/httpd/tasks/main.yml
Due: ansible-collection-services-molecule-httpd

httpd: make data directory world readable (#1885)
  roles/httpd/tasks/main.yml
Due: ansible-collection-services-molecule-httpd

manager: fix stdin handling in osism wrapper
  roles/manager/templates/wrapper/osism.j2
Due: ansible-collection-services-molecule-manager

manager: fix stdin handling in osism wrapper (#1886)
  roles/manager/templates/wrapper/osism.j2
Due: ansible-collection-services-molecule-manager

frr: Allow to override hostname
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_k3s_cilium.conf.j2
  roles/frr/templates/frr_leaf.conf.j2
  roles/frr/templates/frr_loadbalancer.conf.j2
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

frr: Fix handling loopback interfaces
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_leaf.conf.j2
  roles/frr/templates/frr_loadbalancer.conf.j2
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

frr: fix default value for frr_loopback_interface
  roles/frr/defaults/main.yml
Due: ansible-collection-services-molecule-frr

dnsmasq: add dhcp-boot configuration support
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

httpd: add SONiC ZTP support
  molecule/delegated/vars/httpd.yml
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/main.yml
  roles/httpd/tasks/sonic-ztp.yml
  roles/httpd/templates/ztp.json.j2
Due: ansible-collection-services-molecule-httpd

httpd: add SONiC ZTP support (#1891)
  molecule/delegated/vars/httpd.yml
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/main.yml
  roles/httpd/tasks/sonic-ztp.yml
  roles/httpd/templates/ztp.json.j2
Due: ansible-collection-services-molecule-httpd

httpd: it should be httpd_sonic_ztp_enable
  roles/httpd/defaults/main.yml
Due: ansible-collection-services-molecule-httpd

httpd: it should be httpd_sonic_ztp_enable (#1892)
  roles/httpd/defaults/main.yml
Due: ansible-collection-services-molecule-httpd

netbox: add sonic_parameters custom field
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add sonic_parameters custom field (#1893)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add managed-by-metalbox tag
  roles/netbox/templates/initializers/tags.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add managed-by-metalbox tag (#1895)
  roles/netbox/templates/initializers/tags.yml.j2
Due: ansible-collection-services-molecule-netbox

manager: split netbox_filter_conductor into ironic and sonic filters
  roles/manager/defaults/main.yml
  roles/manager/templates/env/conductor.env.j2
Due: ansible-collection-services-molecule-manager

manager: split netbox_filter_conductor into ironic and sonic filters (#1896)
  roles/manager/defaults/main.yml
  roles/manager/templates/env/conductor.env.j2
Due: ansible-collection-services-molecule-manager

dnsmasq: add dhcp-userclass support
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: add dhcp-userclass support (#1897)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: add dhcp-vendorclass support
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: add dhcp-vendorclass support (#1898)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

manager: add sonic-ztp directory creation and volume mounting
  roles/manager/defaults/main.yml
  roles/manager/tasks/config-netbox.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: add sonic-ztp directory creation and volume mounting (#1899)
  roles/manager/defaults/main.yml
  roles/manager/tasks/config-netbox.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

netbox: add consoleserver device role
  roles/netbox/templates/initializers/device_roles.yml.j2
Due: ansible-collection-services-molecule-netbox
