Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/prepare\/fail2ban.*$, ^molecule\/delegated\/tests\/fail2ban.*$, ^molecule\/delegated\/vars\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

squid: Handle the start of the service gracefully (#1526)
  roles/squid/defaults/main.yml
  roles/squid/handlers/main.yml
  roles/squid/tasks/install-Debian-family.yml
  roles/squid/tasks/install-RedHat-family.yml
  roles/squid/tasks/main.yml
Due: ansible-collection-services-molecule-squid

squid: use 6.1-23.10_beta tag
  roles/squid/defaults/main.yml
Due: ansible-collection-services-molecule-squid

squid: use 6.1-23.10_beta tag (#1528)
  roles/squid/defaults/main.yml
Due: ansible-collection-services-molecule-squid

Cleanup
  roles/cephclient/tasks/clean-package-Debian-family.yml
  roles/cephclient/tasks/clean-package-RedHat-family.yml
Due: ansible-collection-services-molecule-cephclient

cephclient: remove old container/package when using rook (#1524)
  roles/cephclient/tasks/clean-container.yml
  roles/cephclient/tasks/clean-package-Debian-family.yml
  roles/cephclient/tasks/clean-package-RedHat-family.yml
  roles/cephclient/tasks/rook.yml
Due: ansible-collection-services-molecule-cephclient

netbox: add netbox_wait_for_healthy_service param
  roles/netbox/defaults/main.yml
  roles/netbox/handlers/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: avoid service restart
  roles/netbox/defaults/main.yml
  roles/netbox/handlers/main.yml
  roles/netbox/tasks/service.yml
Due: ansible-collection-services-molecule-netbox

manager: avoid service restart
  roles/manager/defaults/main.yml
  roles/manager/handlers/main.yml
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager

netbox: avoid service restart (#1532)
  roles/netbox/defaults/main.yml
  roles/netbox/handlers/main.yml
  roles/netbox/tasks/service.yml
Due: ansible-collection-services-molecule-netbox

manager: avoid service restart (#1533)
  roles/manager/defaults/main.yml
  roles/manager/handlers/main.yml
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager

nexus: avoid service restart
  roles/nexus/handlers/main.yml
  roles/nexus/tasks/service.yml
Due: ansible-collection-services-molecule-nexus

nexus: avoid service restart (#1534)
  roles/nexus/handlers/main.yml
  roles/nexus/tasks/service.yml
Due: ansible-collection-services-molecule-nexus

Remove old and out-of-date README files
  roles/adminer/README.rst
  roles/auditd/README.rst
  roles/cephclient/README.rst
  roles/cgit/README.rst
  roles/chrony/README.rst
  roles/clamav/README.rst
  roles/cloudnative_pg/README.rst
  roles/containerd/README.rst
  roles/dnsdist/README.rst
  roles/docker/README.rst
  roles/fail2ban/README.rst
  roles/falco/README.rst
  roles/frr/README.rst
  roles/hddtemp/README.rst
  roles/homer/README.rst
  roles/journald/README.rst
  roles/keycloak/README.rst
  roles/kubernetes_monitoring/README.rst
  roles/lldpd/README.rst
  roles/manager/README.rst
  roles/metering/README.rst
  roles/netbox/README.rst
  roles/netdata/README.rst
  roles/nexus/README.rst
  roles/openstack_health_monitor/README.rst
  roles/openstackclient/README.rst
  roles/osquery/README.rst
  roles/phpmyadmin/README.rst
  roles/rng/README.rst
  roles/rook_operator/README.rst
  roles/rsyslog/README.rst
  roles/scaphandre/README.rst
  roles/smartd/README.rst
  roles/squid/README.rst
  roles/tang/README.rst
  roles/thanos_sidecar/README.rst
  roles/traefik/README.rst
  roles/virtualbmc/README.rst
  roles/wireguard/README.rst
  roles/zuul/README.rst
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Remove old and out-of-date README files (#1536)
  roles/adminer/README.rst
  roles/auditd/README.rst
  roles/cephclient/README.rst
  roles/cgit/README.rst
  roles/chrony/README.rst
  roles/clamav/README.rst
  roles/cloudnative_pg/README.rst
  roles/containerd/README.rst
  roles/dnsdist/README.rst
  roles/docker/README.rst
  roles/fail2ban/README.rst
  roles/falco/README.rst
  roles/frr/README.rst
  roles/hddtemp/README.rst
  roles/homer/README.rst
  roles/journald/README.rst
  roles/keycloak/README.rst
  roles/kubernetes_monitoring/README.rst
  roles/lldpd/README.rst
  roles/manager/README.rst
  roles/metering/README.rst
  roles/netbox/README.rst
  roles/netdata/README.rst
  roles/nexus/README.rst
  roles/openstack_health_monitor/README.rst
  roles/openstackclient/README.rst
  roles/osquery/README.rst
  roles/phpmyadmin/README.rst
  roles/rng/README.rst
  roles/rook_operator/README.rst
  roles/rsyslog/README.rst
  roles/scaphandre/README.rst
  roles/smartd/README.rst
  roles/squid/README.rst
  roles/tang/README.rst
  roles/thanos_sidecar/README.rst
  roles/traefik/README.rst
  roles/virtualbmc/README.rst
  roles/wireguard/README.rst
  roles/zuul/README.rst
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

zuul: add ansible-collection-ensure-readme job
  .zuul.yaml
Due: none

zuul: add ansible-collection-ensure-readme job (#1537)
  .zuul.yaml
Due: none

Fix handling of service restarts for netbox & manager
  roles/manager/defaults/main.yml
  roles/manager/tasks/service.yml
  roles/manager/templates/manager.service.j2
  roles/netbox/defaults/main.yml
  roles/netbox/tasks/service.yml
  roles/netbox/templates/netbox.service.j2
  roles/nexus/defaults/main.yml
  roles/nexus/tasks/service.yml
  roles/nexus/templates/nexus.service.j2
Due: ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus

Fix handling of service restarts for netbox & manager (#1535)
  roles/manager/defaults/main.yml
  roles/manager/tasks/service.yml
  roles/manager/templates/manager.service.j2
  roles/netbox/defaults/main.yml
  roles/netbox/tasks/service.yml
  roles/netbox/templates/netbox.service.j2
  roles/nexus/defaults/main.yml
  roles/nexus/tasks/service.yml
  roles/nexus/templates/nexus.service.j2
Due: ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus

netbox; wait up to 900 seconds for the service start
  roles/netbox/handlers/main.yml
Due: ansible-collection-services-molecule-netbox

wireguard: allow our default cilium lb cidr by default
  roles/wireguard/defaults/main.yml
Due: ansible-collection-services-molecule-wireguard

wireguard: allow our default cilium lb cidr by default (#1542)
  roles/wireguard/defaults/main.yml
Due: ansible-collection-services-molecule-wireguard

wireguard: allow our default k3s services cidr by default
  roles/wireguard/defaults/main.yml
Due: ansible-collection-services-molecule-wireguard

wireguard: allow our default k3s services cidr by default (#1543)
  roles/wireguard/defaults/main.yml
Due: ansible-collection-services-molecule-wireguard

netbox: do not use tmpfs for molecule tests
  molecule/delegated/vars/netbox.yml
  roles/netbox/defaults/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: do not use tmpfs for molecule tests (#1544)
  molecule/delegated/vars/netbox.yml
  roles/netbox/defaults/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: add database dump to speedup the initialization
  molecule/delegated/tests/netbox.py
  molecule/delegated/vars/netbox.yml
  roles/netbox/defaults/main.yml
  roles/netbox/files/init.sql
  roles/netbox/tasks/config-postgres.yml
Due: ansible-collection-services-molecule-netbox

zuul: also test fail2ban on ubuntu 24.04
  .zuul.yaml
Due: none

Add new zabbix_agent role
  .zuul.yaml
  molecule/delegated/prepare/zabbix_agent.yml
  molecule/delegated/tests/zabbix_agent.py
  molecule/delegated/vars/zabbix_agent.yml
  molecule/delegated/verify/zabbix_agent.yml
  roles/zabbix_agent/README.md
  roles/zabbix_agent/defaults/main.yml
  roles/zabbix_agent/handlers/main.yml
  roles/zabbix_agent/meta/main.yml
  roles/zabbix_agent/tasks/install-Debian-family.yml
  roles/zabbix_agent/tasks/main.yml
  roles/zabbix_agent/templates/zabbix_agent2.conf.j2
Due: none

zuul: also test fail2ban on ubuntu 24.04 (#1546)
  .zuul.yaml
Due: none

Add new zabbix_agent role (#1545)
  .zuul.yaml
  molecule/delegated/prepare/zabbix_agent.yml
  molecule/delegated/tests/zabbix_agent.py
  molecule/delegated/vars/zabbix_agent.yml
  molecule/delegated/verify/zabbix_agent.yml
  roles/zabbix_agent/README.md
  roles/zabbix_agent/defaults/main.yml
  roles/zabbix_agent/handlers/main.yml
  roles/zabbix_agent/meta/main.yml
  roles/zabbix_agent/tasks/install-Debian-family.yml
  roles/zabbix_agent/tasks/main.yml
  roles/zabbix_agent/templates/zabbix_agent2.conf.j2
Due: none

docker: sync debian & redhat task names
  roles/docker/tasks/install-docker-Debian-family.yml
  roles/docker/tasks/install-docker-RedHat-family.yml
Due: ansible-collection-services-molecule-docker

docker: sync debian & redhat task names (#1550)
  roles/docker/tasks/install-docker-Debian-family.yml
  roles/docker/tasks/install-docker-RedHat-family.yml
Due: ansible-collection-services-molecule-docker

frr: pin package version
  roles/frr/tasks/install-Debian-family.yml
  roles/frr/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-frr

frr: pin package version (#1549)
  roles/frr/tasks/install-Debian-family.yml
  roles/frr/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-frr

zabbix-agent: use ansible_default_ipv4.address
  roles/zabbix_agent/defaults/main.yml
Due: none

cleanup of labels regarding rook placements
  roles/rook/tasks/change-labels.yml
  roles/rook/tasks/cleanup-labels.yml
  roles/rook/tasks/cleanup.yml
Due: none

manager: add data directory for osismclient
  roles/manager/defaults/main.yml
  roles/manager/tasks/config.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: add data directory for osismclient (#1555)
  roles/manager/defaults/main.yml
  roles/manager/tasks/config.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

docker: ignore errors in fact scripts
  roles/docker/files/facts/docker_containers.fact
  roles/docker/files/facts/docker_images.fact
Due: ansible-collection-services-molecule-docker

docker: ignore errors in fact scripts (#1556)
  roles/docker/files/facts/docker_containers.fact
  roles/docker/files/facts/docker_images.fact
Due: ansible-collection-services-molecule-docker
