Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-bird: any of: ^roles\/bird\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/bird.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/zuul.*$

Add CentOS support for role rng
  molecule/delegated/prepare/rng.yml
Due: none

Add CentOS support for role fail2ban
  roles/fail2ban/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-fail2ban

Remove all package cache updates from prepare steps
  molecule/delegated/prepare/adminer.yml
  molecule/delegated/prepare/auditd.yml
  molecule/delegated/prepare/bird.yml
  molecule/delegated/prepare/cephclient.yml
  molecule/delegated/prepare/cgit.yml
  molecule/delegated/prepare/chrony.yml
  molecule/delegated/prepare/clamav.yml
  molecule/delegated/prepare/containerd.yml
  molecule/delegated/prepare/dnsdist.yml
  molecule/delegated/prepare/docker.yml
  molecule/delegated/prepare/fail2ban.yml
  molecule/delegated/prepare/falco.yml
  molecule/delegated/prepare/frr.yml
  molecule/delegated/prepare/hddtemp.yml
  molecule/delegated/prepare/homer.yml
  molecule/delegated/prepare/journald.yml
  molecule/delegated/prepare/lldpd.yml
  molecule/delegated/prepare/manager.yml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/prepare/netbox.yml
  molecule/delegated/prepare/nexus.yml
  molecule/delegated/prepare/openstackclient.yml
  molecule/delegated/prepare/osquery.yml
  molecule/delegated/prepare/phpmyadmin.yml
  molecule/delegated/prepare/rng.yml
  molecule/delegated/prepare/rsyslog.yml
  molecule/delegated/prepare/scaphandre.yml
  molecule/delegated/prepare/smartd.yml
  molecule/delegated/prepare/squid.yml
  molecule/delegated/prepare/thanos_sidecar.yml
  molecule/delegated/prepare/traefik.yml
  molecule/delegated/prepare/tuned.yml
  molecule/delegated/prepare/virtualbmc.yml
  molecule/delegated/prepare/wireguard.yml
Due: none

Add CentOS support for role smartd
  molecule/delegated/prepare/smartd.yml
  roles/smartd/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-smartd

Add CentOS support for role wireguard
  molecule/delegated/prepare/wireguard.yml
  roles/wireguard/tasks/main.yml
Due: ansible-collection-services-molecule-wireguard

Add CentOS support for role osquery
  README.md
  molecule/delegated/prepare/osquery.yml
  molecule/delegated/tests/osquery/__init__.py
  molecule/delegated/tests/osquery/debian.py
  molecule/delegated/tests/osquery/main.py
  molecule/delegated/tests/osquery/redhat.py
  molecule/delegated/tests/util/util.py
  roles/osquery/defaults/main.yml
  roles/osquery/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-osquery

Add CentOS support for role nexus
  molecule/delegated/prepare/nexus.yml
Due: none

Add rockylinux runner
  molecule/delegated/molecule.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Add CentOS support for role docker
  README.md
  molecule/delegated/prepare/docker.yml
  molecule/delegated/tests/docker/__init__.py
  molecule/delegated/tests/docker/debian.py
  molecule/delegated/tests/docker/main.py
  molecule/delegated/tests/docker/redhat.py
  molecule/delegated/tests/util/util.py
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-Debian.yml
  roles/docker/tasks/install-docker-RedHat.yml
  roles/docker/tasks/main.yml
  roles/docker/tasks/service.yml
  roles/docker/vars/Debian.yml
  roles/docker/vars/RedHat.yml
Due: ansible-collection-services-molecule-docker

Add CentOS support for role traefik
  molecule/delegated/prepare/traefik.yml
Due: none

Add CentOS support for role netdata
  molecule/delegated/prepare/netdata.yml
  molecule/delegated/tests/netdata/__init__.py
  molecule/delegated/tests/netdata/debian.py
  molecule/delegated/tests/netdata/main.py
  molecule/delegated/tests/netdata/redhat.py
  roles/netdata/defaults/main.yml
  roles/netdata/tasks/config.yml
  roles/netdata/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-netdata

Use abstract job definition in .zuul.yml
  .zuul.yaml
Due: none

Add CentOS support for role lldpd
  molecule/delegated/prepare/lldpd.yml
  roles/lldpd/tasks/install-RedHat.yml
  roles/lldpd/templates/auditd.conf.j2
  roles/lldpd/templates/rules/20-neo23x0.rules.j2
Due: ansible-collection-services-molecule-lldpd

Add CentOS support for role rsyslog
  molecule/delegated/prepare/rsyslog.yml
  molecule/delegated/tests/rsyslog.py
  roles/rsyslog/tasks/install-RedHat.yml
  roles/rsyslog/tasks/main.yml
  roles/rsyslog/templates/rsyslog.conf.j2
  roles/rsyslog/vars/Debian.yml
  roles/rsyslog/vars/RedHat.yml
Due: ansible-collection-services-molecule-rsyslog

Add CentOS support for role phpmyadmin
  molecule/delegated/prepare/phpmyadmin.yml
Due: none

Add CentOS support for role cgit
  molecule/delegated/prepare/cgit.yml
Due: none

Add CentOS support for role netbox
  molecule/delegated/prepare/netbox.yml
Due: none

Add CentOS support for role virtualbmc
  molecule/delegated/prepare/virtualbmc.yml
Due: none

Add CentOS support for role cephclient
  molecule/delegated/prepare/cephclient.yml
  molecule/delegated/tests/cephclient/package.py
  molecule/delegated/tests/cephclient/package_debian.py
  roles/cephclient/defaults/main.yml
  roles/cephclient/tasks/container.yml
  roles/cephclient/tasks/main.yml
  roles/cephclient/tasks/package-Debian.yml
  roles/cephclient/tasks/package-RedHat.yml
Due: ansible-collection-services-molecule-cephclient

Enable debian testing for all jobs
  .zuul.yaml
Due: none

Disable all role unit tests
  .zuul.yaml
Due: none

Replace osism.github.io with osism.tech
  README.md
  galaxy.yml
  roles/homer/templates/config.yml.j2
Due: ansible-collection-services-molecule-homer

Adding Debian support for containerd
  molecule/delegated/tests/containerd/debian.py
  roles/chrony/tasks/main.yml
  roles/containerd/defaults/main.yml
  roles/containerd/tasks/install-Debian-family.yml
  roles/containerd/tasks/install-RedHat-family.yml
  roles/containerd/tasks/main.yml
  roles/containerd/vars/CentOS-dist.yml
  roles/containerd/vars/Debian-dist.yml
  roles/containerd/vars/Ubuntu-dist.yml
Due: ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-containerd

Adding Debian support for hddtemp
  roles/hddtemp/tasks/install-Debian-family.yml
  roles/hddtemp/tasks/main.yml
  roles/hddtemp/tasks/service-Debian-family.yml
  roles/hddtemp/vars/CentOS-dist.yml
  roles/hddtemp/vars/Debian-dist.yml
  roles/hddtemp/vars/Ubuntu-dist.yml
Due: ansible-collection-services-molecule-hddtemp

Replace osism.github.io with osism.tech (#1346)
  README.md
  galaxy.yml
  roles/homer/templates/config.yml.j2
Due: ansible-collection-services-molecule-homer

Adding Debian support for tuned
  molecule/delegated/tests/tuned.py
  roles/tuned/defaults/main.yml
  roles/tuned/tasks/install-Debian-family.yml
  roles/tuned/tasks/main.yml
  roles/tuned/vars/CentOS-dist.yml
  roles/tuned/vars/Debian-dist.yml
  roles/tuned/vars/Ubuntu-dist.yml
Due: ansible-collection-services-molecule-tuned

Adding Debian support for rsyslog
  .zuul.yaml
  molecule/delegated/tests/rsyslog.py
  roles/rsyslog/templates/rsyslog.conf.j2
Due: ansible-collection-services-molecule-rsyslog

manager: check for mariadb upgrade
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager

manager: check for mariadb upgrade (#1347)
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager

manager: wait 30s with the healthcheck of database based services
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Add Debian support for role falco
  roles/falco/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-falco

Add Debian support for role cephclient
  roles/cephclient/tasks/package-Debian-family.yml
Due: ansible-collection-services-molecule-cephclient

Add Debian support for role tuned
  molecule/delegated/tests/tuned.py
Due: ansible-collection-services-molecule-tuned

Add Debian support for role netdata
  roles/netdata/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-netdata

Add Debian support for role osquery
  roles/osquery/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-osquery

Add Debian support for role rsyslog
  molecule/delegated/tests/rsyslog.py
  roles/rsyslog/tasks/main.yml
  roles/rsyslog/vars/CentOS-dist.yml
  roles/rsyslog/vars/Debian-dist.yml
  roles/rsyslog/vars/Ubuntu-dist.yml
Due: ansible-collection-services-molecule-rsyslog

Add Debian support for role openstackclient
  molecule/delegated/tests/openstackclient/package-debian.py
  molecule/delegated/tests/openstackclient/package-redhat.py
  roles/openstackclient/README.rst
  roles/openstackclient/defaults/main.yml
  roles/openstackclient/tasks/package-Debian-family.yml
Due: ansible-collection-services-molecule-openstackclient

Add Debian support for role netbox
  roles/netbox/tasks/service.yml
Due: ansible-collection-services-molecule-netbox
