Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-keycloak, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openldap, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: ansible-molecule
  vars:
    ansible_role: adminer
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-auditd:
  parent: ansible-molecule
  vars:
    ansible_role: auditd
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-bird:
  parent: ansible-molecule
  vars:
    ansible_role: bird
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-cephclient:
  parent: ansible-molecule
  vars:
    ansible_role: cephclient
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-cgit:
  parent: ansible-molecule
  vars:
    ansible_role: cgit
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-chrony:
  parent: ansible-molecule
  vars:
    ansible_role: chrony
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-clamav:
  parent: ansible-molecule
  vars:
    ansible_role: clamav
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-containerd:
  parent: ansible-molecule
  vars:
    ansible_role: containerd
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-dnsdist:
  parent: ansible-molecule
  vars:
    ansible_role: dnsdist
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-docker:
  parent: ansible-molecule
  vars:
    ansible_role: docker
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-fail2ban:
  parent: ansible-molecule
  vars:
    ansible_role: fail2ban
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-falco:
  parent: ansible-molecule
  vars:
    ansible_role: falco
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-frr:
  parent: ansible-molecule
  vars:
    ansible_role: frr
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-hddtemp:
  parent: ansible-molecule
  vars:
    ansible_role: hddtemp
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-homer:
  parent: ansible-molecule
  vars:
    ansible_role: homer
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-journald:
  parent: ansible-molecule
  vars:
    ansible_role: journald
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-keycloak:
  parent: ansible-molecule
  vars:
    ansible_role: keycloak
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-lldpd:
  parent: ansible-molecule
  vars:
    ansible_role: lldpd
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-manager:
  parent: ansible-molecule
  vars:
    ansible_role: manager
    ansible_molecule_ansible_version: 9.1.0

ansible-collection-services-molecule-metering:
  parent: ansible-molecule
  vars:
    ansible_role: metering
    ansible_molecule_ansible_version: 9.1.0

Fixing falco role
  roles/falco/tasks/install-Debian.yml
Due: ansible-collection-services-molecule-falco

falco: use falcoctl to install the kernel module (#1290)
  roles/falco/tasks/install-Debian.yml
Due: ansible-collection-services-molecule-falco

scaphandre: use version 1.0.0
  roles/scaphandre/defaults/main.yml
Due: ansible-collection-services-molecule-scaphandre

scaphandre: use version 1.0.0 (#1291)
  roles/scaphandre/defaults/main.yml
Due: ansible-collection-services-molecule-scaphandre

Remove molecule/default directory
  molecule/default/Dockerfile.j2
  molecule/default/collections.yml
  molecule/default/converge.yml
  molecule/default/molecule.yml
  molecule/default/prepare.yml
  molecule/default/verify.yml
Due: none

Remove molecule/default directory (#1295)
  molecule/default/Dockerfile.j2
  molecule/default/collections.yml
  molecule/default/converge.yml
  molecule/default/molecule.yml
  molecule/default/prepare.yml
  molecule/default/verify.yml
Due: none

keycloak: add role cloudnative-pg
  roles/cloudnative-pg/README.md
  roles/cloudnative-pg/README.rst
  roles/cloudnative-pg/meta/main.yml
  roles/cloudnative-pg/tasks/main.yml
Due: none

keycloak: Deploy Keycloak with helm on k3s
  molecule/delegated/tests/keycloak.py
  roles/keycloak/README.rst
  roles/keycloak/defaults/main.yml
  roles/keycloak/handlers/main.yml
  roles/keycloak/meta/main.yml
  roles/keycloak/tasks/config.yml
  roles/keycloak/tasks/create-database.yml
  roles/keycloak/tasks/main.yml
  roles/keycloak/tasks/service.yml
  roles/keycloak/templates/codecentric-scs-keycloak.yml.j2
  roles/keycloak/templates/docker-compose.yml.j2
  roles/keycloak/templates/env/keycloak.env.j2
  roles/keycloak/templates/env/postgres.env.j2
Due: ansible-collection-services-molecule-keycloak

keycloak: remove unused references to docker and pytest
  molecule/delegated/prepare/keycloak.yml
  molecule/delegated/tests/keycloak.py
  roles/keycloak/handlers/main.yml
Due: ansible-collection-services-molecule-keycloak

keycloak: remove molecule/CI for the moment
  .zuul.yaml
  molecule/delegated/prepare/keycloak.yml
  molecule/delegated/tests/keycloak.py
  molecule/delegated/vars/keycloak.yml
Due: ansible-collection-services-molecule-keycloak

keycloak: fix ansible-lint
  .ansible-lint
Due: none

Fix role name
  roles/cloudnative_pg/README.md
  roles/cloudnative_pg/README.rst
  roles/cloudnative_pg/meta/main.yml
  roles/cloudnative_pg/tasks/main.yml
  roles/keycloak/meta/main.yml
Due: ansible-collection-services-molecule-keycloak

Adjust role keycloak to k3s (#1296)
  .ansible-lint
  .zuul.yaml
  molecule/delegated/prepare/keycloak.yml
  molecule/delegated/tests/keycloak.py
  molecule/delegated/vars/keycloak.yml
  roles/cloudnative_pg/README.md
  roles/cloudnative_pg/README.rst
  roles/cloudnative_pg/meta/main.yml
  roles/cloudnative_pg/tasks/main.yml
  roles/keycloak/README.rst
  roles/keycloak/defaults/main.yml
  roles/keycloak/handlers/main.yml
  roles/keycloak/tasks/config.yml
  roles/keycloak/tasks/create-database.yml
  roles/keycloak/tasks/main.yml
  roles/keycloak/tasks/service.yml
  roles/keycloak/templates/codecentric-scs-keycloak.yml.j2
  roles/keycloak/templates/docker-compose.yml.j2
  roles/keycloak/templates/env/keycloak.env.j2
  roles/keycloak/templates/env/postgres.env.j2
Due: ansible-collection-services-molecule-keycloak

keycloak: add cloudnative_pg as dependency
  roles/keycloak/meta/main.yml
Due: ansible-collection-services-molecule-keycloak

keycloak: Add missing template
  roles/keycloak/templates/cloudnative-pg-keycloak.yml.j2
Due: ansible-collection-services-molecule-keycloak

keycloak: add missing template for cloudnative-pg (#1298)
  roles/keycloak/templates/cloudnative-pg-keycloak.yml.j2
Due: ansible-collection-services-molecule-keycloak

keycloak: create namespace
  roles/keycloak/tasks/create-database.yml
Due: ansible-collection-services-molecule-keycloak

keycloak: create namespace (#1300)
  roles/keycloak/tasks/create-database.yml
Due: ansible-collection-services-molecule-keycloak

keycloak: overall improvements
  roles/keycloak/defaults/main.yml
  roles/keycloak/handlers/main.yml
  roles/keycloak/tasks/config.yml
  roles/keycloak/tasks/deploy.yml
  roles/keycloak/tasks/main.yml
  roles/keycloak/templates/codecentric-keycloak.yml.j2
Due: ansible-collection-services-molecule-keycloak

keycloak: overall improvements (#1301)
  roles/keycloak/defaults/main.yml
  roles/keycloak/handlers/main.yml
  roles/keycloak/tasks/config.yml
  roles/keycloak/tasks/deploy.yml
  roles/keycloak/tasks/main.yml
  roles/keycloak/templates/codecentric-keycloak.yml.j2
Due: ansible-collection-services-molecule-keycloak

keycloak: disable dbchecker
  roles/keycloak/templates/codecentric-keycloak.yml.j2
Due: ansible-collection-services-molecule-keycloak

keycloak: disable dbchecker (#1302)
  roles/keycloak/templates/codecentric-keycloak.yml.j2
Due: ansible-collection-services-molecule-keycloak

keycloak: fix some more issues
  roles/keycloak/README.rst
  roles/keycloak/defaults/main.yml
  roles/keycloak/tasks/deploy.yml
  roles/keycloak/templates/codecentric-keycloak.yml.j2
Due: ansible-collection-services-molecule-keycloak

keycloak: fix some more issues (#1303)
  roles/keycloak/README.rst
  roles/keycloak/defaults/main.yml
  roles/keycloak/tasks/deploy.yml
  roles/keycloak/templates/codecentric-keycloak.yml.j2
Due: ansible-collection-services-molecule-keycloak

zuul: push osism-ansible container image
  .zuul.yaml
Due: none

zuul: push osism-ansible container image (#1304)
  .zuul.yaml
Due: none

cloudnative_pg: wait for webhook
  roles/cloudnative_pg/tasks/main.yml
Due: none

cloudnative_pg: wait for webhook (#1306)
  roles/cloudnative_pg/tasks/main.yml
Due: none

nexus: fix yamllint warning
  roles/nexus/tasks/config.yml
Due: ansible-collection-services-molecule-nexus

nexus: fix yamllint warning (#1308)
  roles/nexus/tasks/config.yml
Due: ansible-collection-services-molecule-nexus

Empty Commit for Documentation
  molecule/delegated/molecule.yml
  roles/bird/defaults/main.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-keycloak, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openldap, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Testing centos_molecule
  .zuul.yaml
  roles/centos_molecule/defaults/main.yml
  roles/centos_molecule/tasks/main.yml
Due: none

adding playbooks folder for centos testing
  .zuul.yaml
  molecule/delegated/molecule.yml
  molecule/delegated/prepare/bird.yml
  molecule/delegated/prepare/clamav.yml
  molecule/delegated/prepare/fail2ban.yml
  molecule/delegated/prepare/tuned.yml
  playbooks/centos-molecule/run.yml
  roles/centos_molecule/tasks/main.yml
  roles/clamav/defaults/main.yml
  roles/clamav/tasks/initialize.yml
  roles/clamav/tasks/main.yml
  roles/clamav/vars/Debian.yml
  roles/clamav/vars/RedHat.yml
  roles/fail2ban/tasks/install-RedHat.yml
  roles/tuned/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-keycloak, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openldap, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

use new upstream ansible-molecule role
  .zuul.yaml
  playbooks/centos-molecule/run.yml
  roles/centos_molecule/defaults/main.yml
  roles/centos_molecule/tasks/main.yml
Due: none

Fix bird role
  .zuul.yaml
  molecule/delegated/tests/bird/__init__.py
  molecule/delegated/tests/bird/debian.py
  molecule/delegated/tests/bird/main.py
  molecule/delegated/tests/bird/redhat.py
  roles/bird/defaults/main.yml
  roles/bird/tasks/install-Debian.yml
  roles/bird/tasks/install-RedHat.yml
  roles/bird/tasks/main.yml
Due: ansible-collection-services-molecule-bird

Fix clamav role
  .zuul.yaml
  molecule/delegated/tests/clamav/__init__.py
  molecule/delegated/tests/clamav/clamav.py
  molecule/delegated/tests/clamav/debian.py
  roles/clamav/defaults/main.yml
  roles/clamav/tasks/initialize.yml
  roles/clamav/tasks/install-RedHat.yml
  roles/clamav/tasks/main.yml
  roles/clamav/vars/Debian.yml
  roles/clamav/vars/RedHat.yml
Due: ansible-collection-services-molecule-clamav

Fix fail2ban role
  .zuul.yaml
  roles/fail2ban/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-fail2ban

Fix tuned role
  .zuul.yaml
Due: none

manager: ensure the user for the mariadb healthcheck exists
  roles/manager/defaults/main.yml
  roles/manager/files/ensure-healthcheck-user.sh
  roles/manager/tasks/config.yml
  roles/manager/tasks/main.yml
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager

Fix docker role
  .zuul.yaml
  molecule/delegated/prepare/docker.yml
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-RedHat.yml
  roles/docker/tasks/main.yml
Due: ansible-collection-services-molecule-docker

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-bird: any of: ^roles\/bird\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/bird.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-keycloak: any of: ^roles\/keycloak\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/keycloak.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openldap: any of: ^roles\/openldap\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openldap.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/zuul.*$
