Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-bird: any of: ^roles\/bird\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/bird.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/zuul.*$

Add CentOS support for role journald
  molecule/delegated/prepare/journald.yml
Due: none

Add CentOS support for role squid
  molecule/delegated/prepare/squid.yml
Due: none

Add CentOS support for role falco
  molecule/delegated/prepare/falco.yml
  molecule/delegated/tests/falco/__init__.py
  molecule/delegated/tests/falco/debian.py
  roles/falco/defaults/main.yml
  roles/falco/tasks/install-RedHat.yml
  roles/falco/tasks/install-RedHat_broken.yml
Due: ansible-collection-services-molecule-falco

Add CentOS support for role netbox
  molecule/delegated/prepare/netbox.yml
Due: none

Add CentOS support for role hddtemp
  molecule/delegated/prepare/hddtemp.yml
  roles/hddtemp/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-hddtemp

Add CentOS support for role virtualbmc
  molecule/delegated/prepare/virtualbmc.yml
Due: none

Add CentOS support for role dnsdist
  molecule/delegated/prepare/dnsdist.yml
Due: none

Add CentOS support for role netdata
  molecule/delegated/prepare/netdata.yml
  molecule/delegated/tests/netdata/__init__.py
  molecule/delegated/tests/netdata/debian.py
  molecule/delegated/tests/netdata/main.py
  molecule/delegated/tests/netdata/redhat.py
  roles/netdata/defaults/main.yml
  roles/netdata/tasks/config.yml
  roles/netdata/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-netdata

Add CentOS support for role osquery
  README.md
  molecule/delegated/prepare/osquery.yml
  molecule/delegated/tests/osquery/__init__.py
  molecule/delegated/tests/osquery/debian.py
  molecule/delegated/tests/osquery/main.py
  molecule/delegated/tests/osquery/redhat.py
  molecule/delegated/tests/util/util.py
  roles/osquery/defaults/main.yml
  roles/osquery/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-osquery

Replace yum tasks with dnf and add lock_timeout
  roles/auditd/tasks/install-RedHat.yml
  roles/bird/tasks/install-RedHat.yml
  roles/cephclient/tasks/package-RedHat.yml
  roles/chrony/tasks/install-RedHat.yml
  roles/clamav/tasks/install-RedHat.yml
  roles/containerd/tasks/install-RedHat.yml
  roles/docker/tasks/install-docker-RedHat.yml
  roles/fail2ban/tasks/install-RedHat.yml
  roles/falco/tasks/install-RedHat_broken.yml
  roles/frr/tasks/install-RedHat.yml
  roles/hddtemp/tasks/install-RedHat.yml
  roles/lldpd/tasks/install-RedHat.yml
  roles/manager/tasks/install-RedHat.yml
  roles/openstackclient/tasks/package-RedHat.yml
  roles/osquery/tasks/install-RedHat.yml
  roles/rng/tasks/install-RedHat.yml
  roles/rsyslog/tasks/install-RedHat.yml
  roles/smartd/tasks/install-RedHat.yml
  roles/tang/tasks/install-RedHat.yml
  roles/tuned/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-tuned

Add CentOS support for role wireguard
  molecule/delegated/prepare/wireguard.yml
  roles/wireguard/tasks/main.yml
Due: ansible-collection-services-molecule-wireguard

Add CentOS support for role homer
  molecule/delegated/prepare/homer.yml
Due: none

Update README.md
  README.md
Due: none

Remove bird role
  .zuul.yaml
  README.md
  molecule/delegated/prepare/bird.yml
  molecule/delegated/tests/bird/__init__.py
  molecule/delegated/tests/bird/debian.py
  molecule/delegated/tests/bird/main.py
  molecule/delegated/tests/bird/redhat.py
  molecule/delegated/vars/bird.yml
  molecule/delegated/verify/bird.yml
  roles/bird/README.md
  roles/bird/README.rst
  roles/bird/defaults/main.yml
  roles/bird/handlers/main.yml
  roles/bird/meta/main.yml
  roles/bird/tasks/install-Debian.yml
  roles/bird/tasks/install-RedHat.yml
  roles/bird/tasks/main.yml
  roles/bird/templates/bird.conf.j2
Due: ansible-collection-services-molecule-bird

Use abstract job definition in .zuul.yml
  .zuul.yaml
Due: none

Replace yum-config-manager command with ansible.builtin.yum_repository module
  roles/cephclient/tasks/package-RedHat.yml
  roles/containerd/tasks/install-RedHat.yml
  roles/docker/tasks/install-docker-RedHat.yml
  roles/falco/tasks/install-RedHat_broken.yml
  roles/netdata/tasks/install-RedHat.yml
  roles/osquery/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-osquery

Add CentOS support for role metering
  molecule/delegated/prepare/metering.yml
  roles/metering/tasks/container-Debian.yml
  roles/metering/tasks/main.yml
  roles/metering/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-metering

Add CentOS support for role auditd
  molecule/delegated/prepare/auditd.yml
  molecule/delegated/tests/auditd.py
  roles/auditd/defaults/main.yml
  roles/auditd/tasks/install-Debian.yml
  roles/auditd/tasks/install-RedHat.yml
  roles/auditd/tasks/main.yml
  roles/auditd/vars/jammy.yml
Due: ansible-collection-services-molecule-auditd

Add CentOS support for role frr
  molecule/delegated/prepare/frr.yml
  roles/frr/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-frr

Add CentOS support for role thanos_sidecar
  molecule/delegated/prepare/thanos_sidecar.yml
  roles/thanos_sidecar/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-thanos_sidecar

Add CentOS support for role manager
  molecule/delegated/prepare/manager.yml
  roles/manager/tasks/install-RedHat.yml
  roles/manager/tasks/main.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/vars/Debian.yml
  roles/manager/vars/RedHat.yml
Due: ansible-collection-services-molecule-manager

Add CentOS support for role chrony
  molecule/delegated/prepare/chrony.yml
Due: none

Add CentOS support for role openstackclient
  molecule/delegated/prepare/openstackclient.yml
  roles/openstackclient/defaults/main.yml
  roles/openstackclient/tasks/container-RedHat.yml
  roles/openstackclient/tasks/package-RedHat.yml
  roles/openstackclient/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-openstackclient

Add support for CentOS for first roles
  .zuul.yaml
  molecule/delegated/molecule.yml
  molecule/delegated/prepare/bird.yml
  molecule/delegated/prepare/clamav.yml
  molecule/delegated/prepare/fail2ban.yml
  molecule/delegated/prepare/tuned.yml
  roles/clamav/defaults/main.yml
  roles/clamav/tasks/initialize.yml
  roles/clamav/tasks/main.yml
  roles/clamav/vars/Debian.yml
  roles/clamav/vars/RedHat.yml
  roles/fail2ban/tasks/install-RedHat.yml
  roles/tuned/tasks/install-RedHat.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Add CentOS support for role adminer
  molecule/delegated/prepare/adminer.yml
Due: none

Add CentOS support for role scaphandre
  molecule/delegated/prepare/scaphandre.yml
Due: none

Add CentOS support for role bird
  molecule/delegated/tests/bird/__init__.py
  molecule/delegated/tests/bird/debian.py
  molecule/delegated/tests/bird/main.py
  molecule/delegated/tests/bird/redhat.py
  roles/bird/tasks/install-Debian.yml
  roles/bird/tasks/install-RedHat.yml
  roles/bird/tasks/main.yml
Due: ansible-collection-services-molecule-bird

Add CentOS support for role clamav
  molecule/delegated/tests/clamav/__init__.py
  molecule/delegated/tests/clamav/debian.py
  molecule/delegated/tests/clamav/main.py
  roles/clamav/defaults/main.yml
  roles/clamav/tasks/initialize.yml
  roles/clamav/tasks/install-RedHat.yml
  roles/clamav/tasks/main.yml
  roles/clamav/vars/Debian.yml
  roles/clamav/vars/RedHat.yml
Due: ansible-collection-services-molecule-clamav

Testing centos runner
  .zuul.yaml
Due: none

Add CentOS support for role containerd
  molecule/delegated/prepare/containerd.yml
  molecule/delegated/tests/containerd/__init__.py
  molecule/delegated/tests/containerd/debian.py
  molecule/delegated/tests/containerd/main.py
  roles/containerd/defaults/main.yml
  roles/containerd/tasks/install-RedHat.yml
  roles/containerd/tasks/main.yml
  roles/containerd/tasks/service.yml
Due: ansible-collection-services-molecule-containerd
