Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: adminer

ansible-collection-services-molecule-auditd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: auditd

ansible-collection-services-molecule-cephclient:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cephclient

ansible-collection-services-molecule-cgit:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cgit

ansible-collection-services-molecule-chrony:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: chrony

ansible-collection-services-molecule-clamav:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: clamav

ansible-collection-services-molecule-containerd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: containerd

ansible-collection-services-molecule-dnsdist:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsdist

ansible-collection-services-molecule-docker:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: docker

ansible-collection-services-molecule-fail2ban:
  parent: abstract-ansible-collection-services-molecule
  nodeset:
    nodes:
    - name: centos-9-stream
      label: centos-9-stream
    - name: debian-bookworm
      label: debian-bookworm
    - name: ubuntu-jammy
      label: ubuntu-jammy
  vars:
    ansible_role: fail2ban

ansible-collection-services-molecule-falco:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: falco

ansible-collection-services-molecule-frr:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: frr

ansible-collection-services-molecule-hddtemp:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: hddtemp

ansible-collection-services-molecule-homer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: homer

ansible-collection-services-molecule-journald:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: journald

ansible-collection-services-molecule-lldpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: lldpd

ansible-collection-services-molecule-manager:
  parent: abstract-ansible-collection-services-molecule
  nodeset:
    nodes:
    - name: debian-bookworm
      label: debian-bookworm
    - name: ubuntu-jammy
      label: ubuntu-jammy
    - name: ubuntu-noble
      label: ubuntu-noble
  vars:
    ansible_role: manager

ansible-collection-services-molecule-metering:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: metering

ansible-collection-services-molecule-netbox:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbox

Use reset_connection in prepare step
  molecule/delegated/prepare/adminer.yml
  molecule/delegated/prepare/cephclient.yml
  molecule/delegated/prepare/cgit.yml
  molecule/delegated/prepare/dnsdist.yml
  molecule/delegated/prepare/homer.yml
  molecule/delegated/prepare/manager.yml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/prepare/netbox.yml
  molecule/delegated/prepare/nexus.yml
  molecule/delegated/prepare/openstackclient.yml
  molecule/delegated/prepare/phpmyadmin.yml
  molecule/delegated/prepare/scaphandre.yml
  molecule/delegated/prepare/squid.yml
  molecule/delegated/prepare/thanos_sidecar.yml
  molecule/delegated/prepare/traefik.yml
  molecule/delegated/prepare/virtualbmc.yml
  molecule/delegated/prepare/zabbix_agent.yml
  molecule/delegated/prepare/zuul.yml
Due: ansible-collection-services-molecule-manager

molecule: do not force installation of ansible requirements
  molecule/delegated/collections.yml
  molecule/delegated/molecule.yml
Due: none

molecule: do not force installation of ansible requirements (#1599)
  molecule/delegated/collections.yml
  molecule/delegated/molecule.yml
Due: none

zuul: tests manager role on CentOS
  .zuul.yaml
  roles/manager/defaults/main.yml
  roles/manager/templates/wrapper/osism-update-docker.j2
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

zuul: tests manager role on CentOS (#1588)
  .zuul.yaml
  roles/manager/defaults/main.yml
  roles/manager/templates/wrapper/osism-update-docker.j2
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

zuul: use ZRAM device for netbox tests
  molecule/delegated/vars/netbox.yml
  roles/netbox/defaults/main.yml
  roles/netbox/handlers/main.yml
Due: ansible-collection-services-molecule-netbox

zuul: use ZRAM device for netbox tests (#1563)
  molecule/delegated/vars/netbox.yml
  roles/netbox/defaults/main.yml
  roles/netbox/handlers/main.yml
Due: ansible-collection-services-molecule-netbox

zuul: use ZRAM device for nexus tests
  molecule/delegated/vars/nexus.yml
  roles/nexus/defaults/main.yml
Due: ansible-collection-services-molecule-nexus

zuul: use ZRAM device for nexus tests (#1600)
  molecule/delegated/vars/nexus.yml
  roles/nexus/defaults/main.yml
Due: ansible-collection-services-molecule-nexus

zuul: use nodepool 10.0.0
  roles/zuul/defaults/main.yml
Due: ansible-collection-services-molecule-zuul

zuul: add missing mariadb_data volume
  roles/zuul/templates/docker-compose.yaml.j2
Due: ansible-collection-services-molecule-zuul

zuul:use community.docker.docker_compose_v2 module
  roles/zuul/tasks/main.yml
Due: ansible-collection-services-molecule-zuul

zuul: use nodepool 10.0.0 (#1601)
  roles/zuul/defaults/main.yml
Due: ansible-collection-services-molecule-zuul

zuul: add missing mariadb_data volume (#1602)
  roles/zuul/templates/docker-compose.yaml.j2
Due: ansible-collection-services-molecule-zuul

zuul: use community.docker.docker_compose_v2 module (#1603)
  roles/zuul/tasks/main.yml
Due: ansible-collection-services-molecule-zuul

Test
  .zuul.yaml
  molecule/delegated/prepare/netbox.yml
  molecule/delegated/prepare/nexus.yml
  molecule/delegated/tests/metering.py
  molecule/delegated/tests/netbox.py
  molecule/delegated/tests/nexus.py
  molecule/delegated/tests/util/util.py
  molecule/delegated/vars/netbox.yml
  roles/metering/README.md
  roles/metering/tasks/main.yml
  roles/netbox/README.md
  roles/netbox/handlers/main.yml
  roles/nexus/README.md
Due: ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus

metering: Fix container spawn race condition
  molecule/delegated/tests/metering.py
  molecule/delegated/tests/util/util.py
  roles/metering/tasks/main.yml
Due: ansible-collection-services-molecule-metering

netbox: upgrade postgres database
  roles/netbox/defaults/main.yml
  roles/netbox/handlers/main.yml
  roles/netbox/tasks/restart-service.yml
  roles/netbox/tasks/service.yml
Due: ansible-collection-services-molecule-netbox

netbox: upgrade postgres database (#1604)
  roles/netbox/defaults/main.yml
  roles/netbox/handlers/main.yml
  roles/netbox/tasks/restart-service.yml
  roles/netbox/tasks/service.yml
Due: ansible-collection-services-molecule-netbox

Enhance CI tests for chrony role
  molecule/delegated/prepare/chrony.yml
  molecule/delegated/tests/chrony/main.py
Due: ansible-collection-services-molecule-chrony

fix yamllint errors
  roles/rook/defaults/main.yml
Due: none

Enhance CI tests for the chrony role (#1606)
  molecule/delegated/prepare/chrony.yml
  molecule/delegated/tests/chrony/main.py
Due: ansible-collection-services-molecule-chrony

netbox: move rescue tasks into a separate file
  roles/netbox/tasks/rescue-service.yml
  roles/netbox/tasks/service.yml
Due: ansible-collection-services-molecule-netbox

fix j2 intendation and type casting errors
  roles/rook/templates/01-helm-values-all.yml.j2
Due: none

fix swapped out labels between mds and rgw
  roles/rook/defaults/main.yml
Due: none

rook-operator: improve handling of helm values
  roles/rook_operator/defaults/main.yml
  roles/rook_operator/tasks/config.yml
  roles/rook_operator/tasks/deploy.yml
  roles/rook_operator/tasks/main.yml
  roles/rook_operator/tasks/namespace.yml
  roles/rook_operator/templates/operator.yml.j2
  roles/rook_operator/vars/main.yml
Due: none

rook-operator: improve handling of helm values (#1613)
  roles/rook_operator/defaults/main.yml
  roles/rook_operator/tasks/config.yml
  roles/rook_operator/tasks/deploy.yml
  roles/rook_operator/tasks/main.yml
  roles/rook_operator/tasks/namespace.yml
  roles/rook_operator/templates/operator.yml.j2
  roles/rook_operator/vars/main.yml
Due: none

Enhance CI tests for phpmyadmin role
  molecule/delegated/tests/phpmyadmin.py
Due: ansible-collection-services-molecule-phpmyadmin

rook: overall improvements
  roles/rook/defaults/main.yml
  roles/rook/tasks/change-labels.yml
  roles/rook/tasks/cleanup-labels.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-crd.yml
  roles/rook/tasks/deploy-helm.yml
  roles/rook/tasks/fetch-keys.yml
  roles/rook/tasks/main.yml
  roles/rook/tasks/wait-for-cluster-deleted.yml
  roles/rook/tasks/wait-for-cluster.yml
Due: none

phpmyadmin: enhance CI tests (#1608)
  molecule/delegated/tests/phpmyadmin.py
Due: ansible-collection-services-molecule-phpmyadmin

rook: overall improvements (#1614)
  roles/rook/defaults/main.yml
  roles/rook/tasks/change-labels.yml
  roles/rook/tasks/cleanup-labels.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-crd.yml
  roles/rook/tasks/deploy-helm.yml
  roles/rook/tasks/fetch-keys.yml
  roles/rook/tasks/main.yml
  roles/rook/tasks/wait-for-cluster-deleted.yml
  roles/rook/tasks/wait-for-cluster.yml
Due: none

rook: fix swapped out labels between mds and rgw
  roles/rook/defaults/main.yml
Due: none

share pids with host
  roles/scaphandre/defaults/main.yml
  roles/scaphandre/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-scaphandre

share pids with host (#1616)
  roles/scaphandre/defaults/main.yml
  roles/scaphandre/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-scaphandre

rook: fix swapped out labels between mds and rgw (#1615)
  roles/rook/defaults/main.yml
Due: none

rook: fix cluster cleanup/purge
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-helm.yml
Due: none

rook: fix cluster cleanup/purge (#1617)
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-helm.yml
Due: none

wireguard: ensure that iptables is installed
  roles/wireguard/tasks/main.yml
Due: ansible-collection-services-molecule-wireguard

manager: run update wrappers always with the operator user
  roles/manager/templates/wrapper/osism-update-docker.j2
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

wireguard: ensure that iptables is installed (#1619)
  roles/wireguard/tasks/main.yml
Due: ansible-collection-services-molecule-wireguard

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/prepare\/fail2ban.*$, ^molecule\/delegated\/tests\/fail2ban.*$, ^molecule\/delegated\/vars\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$
