Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: adminer

ansible-collection-services-molecule-auditd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: auditd

ansible-collection-services-molecule-cephclient:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cephclient

ansible-collection-services-molecule-cgit:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cgit

ansible-collection-services-molecule-chrony:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: chrony

ansible-collection-services-molecule-clamav:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: clamav

ansible-collection-services-molecule-containerd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: containerd

ansible-collection-services-molecule-dnsdist:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsdist

ansible-collection-services-molecule-dnsmasq:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsmasq

ansible-collection-services-molecule-docker:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: docker

ansible-collection-services-molecule-fail2ban:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: fail2ban

ansible-collection-services-molecule-falco:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: falco

ansible-collection-services-molecule-frr:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: frr

ansible-collection-services-molecule-hddtemp:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: hddtemp

ansible-collection-services-molecule-homer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: homer

ansible-collection-services-molecule-httpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: httpd

ansible-collection-services-molecule-journald:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: journald

ansible-collection-services-molecule-lldpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: lldpd

ansible-collection-services-molecule-manager:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: manager

ansible-collection-services-molecule-netbox:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbox

ansible-collection-services-molecule-netbird:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbird

ansible-collection-services-molecule-netdata:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netdata

netbox: add consoleserver device role (#1900)
  roles/netbox/templates/initializers/device_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add Loopback prefix role
  roles/netbox/templates/initializers/prefix_vlan_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add Loopback prefix role (#1901)
  roles/netbox/templates/initializers/prefix_vlan_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add alternative_name custom field
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add alternative_name custom field (#1904)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

dnsmasq: reload on config changes
  roles/dnsmasq/handlers/main.yml
  roles/dnsmasq/tasks/config.yml
Due: ansible-collection-services-molecule-dnsmasq

httpd: add sonic post_install script
  roles/httpd/tasks/sonic-ztp.yml
  roles/httpd/templates/post_install.sh.j2
  roles/httpd/templates/ztp.json.j2
Due: ansible-collection-services-molecule-httpd

dnsmasq: reload on config changes (#1908)
  roles/dnsmasq/handlers/main.yml
  roles/dnsmasq/tasks/config.yml
Due: ansible-collection-services-molecule-dnsmasq

httpd: add sonic post_install script (#1909)
  roles/httpd/tasks/sonic-ztp.yml
  roles/httpd/templates/post_install.sh.j2
  roles/httpd/templates/ztp.json.j2
Due: ansible-collection-services-molecule-httpd

httpd: add missing a in post_install.sh script
  roles/httpd/templates/post_install.sh.j2
Due: ansible-collection-services-molecule-httpd

httpd: add missing a in post_install.sh script (#1910)
  roles/httpd/templates/post_install.sh.j2
Due: ansible-collection-services-molecule-httpd

httpd: use serial-number as default SONiC ZTP identifier
  roles/httpd/defaults/main.yml
Due: ansible-collection-services-molecule-httpd

httpd: use serial-number as default SONiC ZTP identifier (#1911)
  roles/httpd/defaults/main.yml
Due: ansible-collection-services-molecule-httpd

httpd: prepare use of custom httpd in SONiC ZTP mode
  roles/httpd/tasks/sonic-ztp.yml
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: prepare use of custom httpd in SONiC ZTP mode (#1912)
  roles/httpd/tasks/sonic-ztp.yml
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: prepare use of .htaccess for SONiC ZTP mode
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/sonic-ztp.yml
  roles/httpd/templates/htaccess.j2
Due: ansible-collection-services-molecule-httpd

httpd: prepare use of .htaccess for SONiC ZTP mode (#1913)
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/sonic-ztp.yml
  roles/httpd/templates/htaccess.j2
Due: ansible-collection-services-molecule-httpd

httpd: add support for grouped IP allowlists in SONiC ZTP mode
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/sonic-ztp.yml
  roles/httpd/templates/htaccess.j2
Due: ansible-collection-services-molecule-httpd

httpd: add support for grouped IP allowlists in SONiC ZTP mode (#1914)
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/sonic-ztp.yml
  roles/httpd/templates/htaccess.j2
Due: ansible-collection-services-molecule-httpd

manager: add conductor filter parameters also to the inventory-reconciler
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: add conductor filter parameters also to the inventory-reconciler (#1916)
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: use json for new inventory-reconciler env vars
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: use json for new inventory-reconciler env vars (#1917)
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

netbox: add back the OSISM API webhook
  roles/netbox/defaults/main.yml
  roles/netbox/templates/initializers/webhooks.yml.j2
Due: ansible-collection-services-molecule-netbox

httpd: add support for Ironic integration
  molecule/delegated/vars/httpd.yml
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/ironic.yml
  roles/httpd/tasks/main.yml
  roles/httpd/tasks/sonic-ztp.yml
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: add support for Ironic integration (#1919)
  molecule/delegated/vars/httpd.yml
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/ironic.yml
  roles/httpd/tasks/main.yml
  roles/httpd/tasks/sonic-ztp.yml
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: proxy /ironic/api to Ironic API
  roles/httpd/defaults/main.yml
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: use /ironic and /sonic
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: use /ironic and /sonic (#1922)
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: only make /ironic/httpboot available
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: only make /ironic/httpboot available (#1923)
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

[httpd] Mount ironic volume in /var/lib/ironic
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

[httpd] Expose ironic httpbot under /ironic
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: do not enforce manual SONiC admin password changes
  roles/httpd/templates/post_install.sh.j2
Due: ansible-collection-services-molecule-httpd

httpd: mount ironic volume in /var/lib/ironic and expose httpboot as /ironic (#1925)
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: do not enforce password change on SONiC devices after deployment
  roles/httpd/templates/post_install.sh.j2
Due: ansible-collection-services-molecule-httpd

httpd: cleanup configuration
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: cleanup configuration (#1927)
  roles/httpd/templates/docker-compose.yml.j2
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

httpd: prepare ironic volume
  roles/httpd/files/prepare-ironic-volume.sh
  roles/httpd/tasks/ironic.yml
Due: ansible-collection-services-molecule-httpd

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-dnsmasq: any of: ^roles\/dnsmasq\/.*$, ^molecule\/delegated\/tests\/dnsmasq.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-httpd: any of: ^roles\/httpd\/.*$, ^molecule\/delegated\/tests\/httpd.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$
