Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: adminer

ansible-collection-services-molecule-auditd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: auditd

ansible-collection-services-molecule-cephclient:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cephclient

ansible-collection-services-molecule-cgit:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cgit

ansible-collection-services-molecule-chrony:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: chrony

ansible-collection-services-molecule-clamav:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: clamav

ansible-collection-services-molecule-containerd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: containerd

ansible-collection-services-molecule-dnsdist:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsdist

ansible-collection-services-molecule-docker:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: docker

ansible-collection-services-molecule-fail2ban:
  parent: abstract-ansible-collection-services-molecule
  nodeset:
    nodes:
    - name: centos-9-stream
      label: centos-9-stream
    - name: debian-bookworm
      label: debian-bookworm
    - name: ubuntu-jammy
      label: ubuntu-jammy
  vars:
    ansible_role: fail2ban

ansible-collection-services-molecule-falco:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: falco

ansible-collection-services-molecule-frr:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: frr

ansible-collection-services-molecule-hddtemp:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: hddtemp

ansible-collection-services-molecule-homer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: homer

ansible-collection-services-molecule-journald:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: journald

ansible-collection-services-molecule-lldpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: lldpd

ansible-collection-services-molecule-manager:
  parent: abstract-ansible-collection-services-molecule
  nodeset:
    nodes:
    - name: debian-bookworm
      label: debian-bookworm
    - name: ubuntu-jammy
      label: ubuntu-jammy
    - name: ubuntu-noble
      label: ubuntu-noble
  vars:
    ansible_role: manager

ansible-collection-services-molecule-metering:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: metering

ansible-collection-services-molecule-netbox:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbox

Remove tang service
  .zuul.yaml
  molecule/delegated/prepare/tang.yml
  molecule/delegated/tests/tang.py
  molecule/delegated/vars/tang.yml
  roles/tang/README.md
  roles/tang/defaults/main.yml
  roles/tang/handlers/main.yml
  roles/tang/meta/main.yml
  roles/tang/tasks/create-extraconfig.yml
  roles/tang/tasks/install-Debian-family.yml
  roles/tang/tasks/install-RedHat-family.yml
  roles/tang/tasks/main.yml
  roles/tang/templates/tangd.socket.conf.j2
Due: none

Remove tang service (#1707)
  .zuul.yaml
  molecule/delegated/prepare/tang.yml
  molecule/delegated/tests/tang.py
  molecule/delegated/vars/tang.yml
  roles/tang/README.md
  roles/tang/defaults/main.yml
  roles/tang/handlers/main.yml
  roles/tang/meta/main.yml
  roles/tang/tasks/create-extraconfig.yml
  roles/tang/tasks/install-Debian-family.yml
  roles/tang/tasks/install-RedHat-family.yml
  roles/tang/tasks/main.yml
  roles/tang/templates/tangd.socket.conf.j2
Due: none

docker: fix installation of python3-docker @ Ubuntu 24.04
  roles/docker/tasks/install-docker-Debian-family.yml
Due: ansible-collection-services-molecule-docker

docker: fix installation of python3-docker @ Ubuntu 24.04 (#1709)
  roles/docker/tasks/install-docker-Debian-family.yml
Due: ansible-collection-services-molecule-docker

cephclient: rename keyring template
  roles/cephclient/tasks/container.yml
  roles/cephclient/tasks/package-Debian-family.yml
  roles/cephclient/tasks/package-RedHat-family.yml
  roles/cephclient/templates/keyring.j2
Due: ansible-collection-services-molecule-cephclient

cephclient: rename keyring template (#1717)
  roles/cephclient/tasks/container.yml
  roles/cephclient/tasks/package-Debian-family.yml
  roles/cephclient/tasks/package-RedHat-family.yml
  roles/cephclient/templates/keyring.j2
Due: ansible-collection-services-molecule-cephclient

Remove old keycloak role
  roles/keycloak/README.md
  roles/keycloak/defaults/main.yml
  roles/keycloak/meta/main.yml
  roles/keycloak/tasks/config.yml
  roles/keycloak/tasks/create-database.yml
  roles/keycloak/tasks/deploy.yml
  roles/keycloak/tasks/main.yml
  roles/keycloak/templates/cloudnative-pg-keycloak.yml.j2
  roles/keycloak/templates/codecentric-keycloak.yml.j2
  roles/keycloak/templates/secret-config.j2
Due: none

cgit: remove netbox repository from defaults
  roles/cgit/defaults/main.yml
Due: ansible-collection-services-molecule-cgit

wireguard: add wireguard_dns parameter
  roles/wireguard/defaults/main.yml
  roles/wireguard/templates/client.conf.j2
Due: ansible-collection-services-molecule-wireguard

homer: add cgit dashboard
  roles/homer/defaults/main.yml
  roles/homer/templates/config.yml.j2
Due: ansible-collection-services-molecule-homer

wireguard: make private key configurable via wireguard_users
  roles/wireguard/templates/client.conf.j2
Due: ansible-collection-services-molecule-wireguard

homer: fix issue & docs links
  roles/homer/templates/config.yml.j2
Due: ansible-collection-services-molecule-homer

homer: fix issue & docs links (#1735)
  roles/homer/templates/config.yml.j2
Due: ansible-collection-services-molecule-homer

homer: add skyline dashboard
  roles/homer/defaults/main.yml
  roles/homer/templates/config.yml.j2
Due: ansible-collection-services-molecule-homer

wireguard: use empty string as default for wiregurad_dns
  roles/wireguard/defaults/main.yml
Due: ansible-collection-services-molecule-wireguard

wireguard: use empty string as default for wiregurad_dns (#1737)
  roles/wireguard/defaults/main.yml
Due: ansible-collection-services-molecule-wireguard

containerd: use containerd_configure_repository
  molecule/delegated/tests/containerd/debian.py
  roles/containerd/defaults/main.yml
  roles/containerd/tasks/install-Debian-family.yml
  roles/containerd/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-containerd

containerd: use containerd_configure_repository (#1739)
  molecule/delegated/tests/containerd/debian.py
  roles/containerd/defaults/main.yml
  roles/containerd/tasks/install-Debian-family.yml
  roles/containerd/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-containerd

Remove old keycloak role (#1725)
  roles/keycloak/README.md
  roles/keycloak/defaults/main.yml
  roles/keycloak/meta/main.yml
  roles/keycloak/tasks/config.yml
  roles/keycloak/tasks/create-database.yml
  roles/keycloak/tasks/deploy.yml
  roles/keycloak/tasks/main.yml
  roles/keycloak/templates/cloudnative-pg-keycloak.yml.j2
  roles/keycloak/templates/codecentric-keycloak.yml.j2
  roles/keycloak/templates/secret-config.j2
Due: none

molecule: add ANSIBLE_COLLECTIONS_PATH
  molecule/delegated/molecule.yml
Due: none

molecule: add ANSIBLE_COLLECTIONS_PATH (#1746)
  molecule/delegated/molecule.yml
Due: none

falco: add not supported for CentOS message
  roles/falco/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-falco

falco: add not supported for CentOS message (#1748)
  roles/falco/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-falco

falco: use falco-modern-bpf.service
  roles/falco/defaults/main.yml
Due: ansible-collection-services-molecule-falco

Remove virtualbmc role
  .github/renovate.json
  .zuul.yaml
  molecule/delegated/prepare/virtualbmc.yml
  molecule/delegated/tests/virtualbmc.py
  molecule/delegated/vars/virtualbmc.yml
  roles/virtualbmc/README.md
  roles/virtualbmc/defaults/main.yml
  roles/virtualbmc/handlers/main.yml
  roles/virtualbmc/meta/main.yml
  roles/virtualbmc/tasks/config.yml
  roles/virtualbmc/tasks/main.yml
  roles/virtualbmc/tasks/service.yml
  roles/virtualbmc/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-virtualbmc

falco: use falco-modern-bpf.service (#1749)
  roles/falco/defaults/main.yml
Due: ansible-collection-services-molecule-falco

Remove virtualbmc role (#1747)
  .github/renovate.json
  .zuul.yaml
  molecule/delegated/prepare/virtualbmc.yml
  molecule/delegated/tests/virtualbmc.py
  molecule/delegated/vars/virtualbmc.yml
  roles/virtualbmc/README.md
  roles/virtualbmc/defaults/main.yml
  roles/virtualbmc/handlers/main.yml
  roles/virtualbmc/meta/main.yml
  roles/virtualbmc/tasks/config.yml
  roles/virtualbmc/tasks/main.yml
  roles/virtualbmc/tasks/service.yml
  roles/virtualbmc/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-virtualbmc

Add dnsmasq role
  .zuul.yaml
  molecule/delegated/prepare/dnsmasq.yml
  molecule/delegated/tests/dnsmasq.py
  molecule/delegated/vars/dnsmasq.yml
  molecule/delegated/verify/dnsmasq.yml
  roles/dnsmasq/README.md
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/handlers/main.yml
  roles/dnsmasq/meta/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/tasks/main.yml
  roles/dnsmasq/tasks/service.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
  roles/dnsmasq/templates/docker-compose.yml.j2
Due: none

Add dnsmasq role (#1750)
  .zuul.yaml
  molecule/delegated/prepare/dnsmasq.yml
  molecule/delegated/tests/dnsmasq.py
  molecule/delegated/vars/dnsmasq.yml
  molecule/delegated/verify/dnsmasq.yml
  roles/dnsmasq/README.md
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/handlers/main.yml
  roles/dnsmasq/meta/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/tasks/main.yml
  roles/dnsmasq/tasks/service.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
  roles/dnsmasq/templates/docker-compose.yml.j2
Due: none

dnsmasq: add missing -d parameter
  molecule/delegated/tests/dnsmasq.py
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/templates/docker-compose.yml.j2
Due: none

dnsmasq: add missing -d parameter (#1753)
  molecule/delegated/tests/dnsmasq.py
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/templates/docker-compose.yml.j2
Due: none

dnsmasq: add tftp support
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
  roles/dnsmasq/templates/docker-compose.yml.j2
Due: none

dnsmasq: add tftp support (#1754)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
  roles/dnsmasq/templates/docker-compose.yml.j2
Due: none

molecule: fix ANSIBLE_COLLECTIONS_PATH for CentOS
  molecule/delegated/molecule.yml
Due: none

molecule: fix ANSIBLE_COLLECTIONS_PATH for CentOS (#1755)
  molecule/delegated/molecule.yml
Due: none

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/prepare\/fail2ban.*$, ^molecule\/delegated\/tests\/fail2ban.*$, ^molecule\/delegated\/vars\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$
