Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$
  ansible-collection-services-molecule-bird: any of: ^roles\/bird\/.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$

Remove test section in keycloak/tasks/main.yml
  roles/keycloak/tasks/main.yml
Due: none

Test changes after rebase
  .zuul.yaml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/vars/metering.yml
  roles/openstackclient/handlers/main.yml
Due: ansible-collection-services-molecule-openstackclient

Add Ansible handler & unittest for metering role
  .zuul.yaml
  molecule/delegated/tests/metering.py
  roles/metering/handlers/main.yml
Due: none

Test improved .zuul.yaml
  .zuul.yaml
  molecule/delegated/vars/zuul.yml
  molecule/requirements.txt
Due: none

Final cut
  .zuul.yaml
  README.md
  molecule/delegated/prepare/manager.yml
  molecule/delegated/tests/keycloak.py
  molecule/delegated/tests/manager.py
  molecule/delegated/tests/netdata.py
  molecule/delegated/tests/smartd.py
  molecule/delegated/vars/keycloak.yml
  molecule/delegated/vars/manager.yml
  molecule/delegated/vars/netdata.yml
  molecule/delegated/vars/zuul.yml
  molecule/requirements.txt
  roles/manager/handlers/main.yml
  roles/openldap/templates/env/udm-rest.env.j2
Due: none

manager: support OSISM_APPLY_RETRY env variable
  roles/manager/templates/wrapper/osism.j2
Due: none

manager: support OSISM_APPLY_RETRY env variable (#1258)
  roles/manager/templates/wrapper/osism.j2
Due: none

docker: force cache update
  roles/docker/README.rst
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-Debian.yml
Due: ansible-collection-services-molecule-docker

Create testinfra tests (#1184)
  .zuul.yaml
  README.md
  molecule/delegated/prepare/keycloak.yml
  molecule/delegated/prepare/manager.yml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/prepare/openldap.yml
  molecule/delegated/prepare/smartd.yml
  molecule/delegated/prepare/thanos_sidecar.yml
  molecule/delegated/prepare/zuul.yml
  molecule/delegated/tests/keycloak.py
  molecule/delegated/tests/manager.py
  molecule/delegated/tests/metering.py
  molecule/delegated/tests/netdata.py
  molecule/delegated/tests/nexus.py
  molecule/delegated/tests/openldap.py
  molecule/delegated/tests/osquery.py
  molecule/delegated/tests/smartd.py
  molecule/delegated/tests/thanos_sidecar.py
  molecule/delegated/tests/zuul.py
  molecule/delegated/vars/keycloak.yml
  molecule/delegated/vars/manager.yml
  molecule/delegated/vars/metering.yml
  molecule/delegated/vars/openldap.yml
  molecule/delegated/vars/thanos_sidecar.yml
  molecule/delegated/vars/zuul.yml
  roles/keycloak/tasks/service.yml
  roles/keycloak/templates/env/keycloak.env.j2
  roles/manager/handlers/main.yml
  roles/manager/tasks/service.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/metering/handlers/main.yml
  roles/openldap/templates/env/udm-rest.env.j2
  roles/openstackclient/handlers/main.yml
Due: ansible-collection-services-molecule-openstackclient

docker: force cache update (#1259)
  roles/docker/README.rst
  roles/docker/defaults/main.yml
  roles/docker/tasks/install-docker-Debian.yml
Due: ansible-collection-services-molecule-docker

docker: only unlock packages when they are installed
  roles/docker/tasks/install-docker-Debian.yml
Due: ansible-collection-services-molecule-docker

docker: only unlock packages when they are installed (#1260)
  roles/docker/tasks/install-docker-Debian.yml
Due: ansible-collection-services-molecule-docker

containerd: only unlock packages when they are installed
  roles/containerd/tasks/install-Debian.yml
Due: ansible-collection-services-molecule-containerd

zuul: disable jobs of role that probably will be removed in the future
  .zuul.yaml
Due: none

zuul: disable jobs of role that probably will be removed in the future (#1262)
  .zuul.yaml
Due: none

containerd: only unlock packages when they are installed (#1261)
  roles/containerd/tasks/install-Debian.yml
Due: ansible-collection-services-molecule-containerd

zuul: add restart policy unless-stopped
  roles/zuul/templates/docker-compose.yaml.j2
Due: none

Remove -it for docker exec command
  roles/openstackclient/templates/openstack.j2
Due: ansible-collection-services-molecule-openstackclient

Remove INTERACTIVE mode on docker exec
  roles/cephclient/templates/wrapper/ceph-authtool.j2
  roles/cephclient/templates/wrapper/ceph.j2
  roles/cephclient/templates/wrapper/crushtool.j2
  roles/cephclient/templates/wrapper/rados.j2
  roles/cephclient/templates/wrapper/radosgw-admin.j2
  roles/cephclient/templates/wrapper/rbd.j2
  roles/manager/handlers/main.yml
  roles/manager/templates/wrapper/osism-ansible.j2
  roles/manager/templates/wrapper/osism-ceph.j2
  roles/manager/templates/wrapper/osism-custom.j2
  roles/manager/templates/wrapper/osism-generic.j2
  roles/manager/templates/wrapper/osism-infrastructure.j2
  roles/manager/templates/wrapper/osism-kolla.j2
  roles/manager/templates/wrapper/osism-manager.j2
  roles/manager/templates/wrapper/osism-monitoring.j2
  roles/manager/templates/wrapper/osism-openstack.j2
  roles/manager/templates/wrapper/osism-run-without-secrets.j2
  roles/manager/templates/wrapper/osism-run.j2
  roles/manager/templates/wrapper/osism-state.j2
  roles/manager/templates/wrapper/osism-validate.j2
  roles/manager/templates/wrapper/osism.j2
Due: ansible-collection-services-molecule-cephclient

Add release notes
  releasenotes/notes/remove-docker-it-arguments-aa4a91d8fe079161.yaml
Due: none

Add release notes
  releasenotes/notes/remove-docker-it-arguments-fb704dc9acd8751d.yaml
Due: none

docker: move proxy settings to the daemon.json file
  roles/docker/templates/daemon.json.j2
  roles/docker/templates/overlay.conf.j2
Due: ansible-collection-services-molecule-docker

wireguard: use no_log for "Copy client configuration files"
  roles/wireguard/tasks/main.yml
Due: ansible-collection-services-molecule-wireguard

docker wrappers: make INTERACTIVE=false work
  roles/cephclient/templates/wrapper/ceph-authtool.j2
  roles/cephclient/templates/wrapper/ceph.j2
  roles/cephclient/templates/wrapper/crushtool.j2
  roles/cephclient/templates/wrapper/rados.j2
  roles/cephclient/templates/wrapper/radosgw-admin.j2
  roles/cephclient/templates/wrapper/rbd.j2
  roles/manager/templates/wrapper/osism.j2
  roles/openstackclient/templates/openstack.j2
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-openstackclient

Add autodetection of CPU architecture for cephclient role
  roles/cephclient/defaults/main.yml
Due: ansible-collection-services-molecule-cephclient

Add autodetection of CPU architecture for openstackclient role
  molecule/delegated/vars/openstackclient.yml
  roles/openstackclient/defaults/main.yml
Due: ansible-collection-services-molecule-openstackclient

Add autodetection of CPU architecture for netdata role
  roles/netdata/defaults/main.yml
Due: ansible-collection-services-molecule-netdata

Add autodetection of CPU architecture for docker role
  molecule/delegated/vars/docker.yml
  roles/docker/defaults/main.yml
Due: ansible-collection-services-molecule-docker

Add autodetection of CPU architecture for falco role
  molecule/delegated/vars/falco.yml
  roles/containerd/defaults/main.yml
  roles/falco/defaults/main.yml
Due: ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-falco

remove dynamic arch resolution
  molecule/delegated/tests/openstackclient/package.py
  molecule/delegated/vars/docker.yml
  molecule/delegated/vars/falco.yml
  molecule/delegated/vars/openstackclient.yml
  roles/cephclient/README.rst
  roles/cephclient/defaults/main.yml
  roles/containerd/README.rst
  roles/containerd/defaults/main.yml
  roles/docker/README.rst
  roles/docker/defaults/main.yml
  roles/falco/README.rst
  roles/falco/defaults/main.yml
  roles/netdata/README.rst
  roles/netdata/defaults/main.yml
  roles/openstackclient/README.rst
  roles/openstackclient/defaults/main.yml
  roles/openstackclient/tasks/package-Debian.yml
  roles/osquery/README.rst
  roles/osquery/defaults/main.yml
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-osquery

Modify openstackclient role in package-Debian.yml and test in package.py
  molecule/delegated/vars/openstackclient.yml
  roles/openstackclient/tasks/package-Debian.yml
Due: ansible-collection-services-molecule-openstackclient

Add dynamic arch resolution (#1270)
  molecule/delegated/tests/openstackclient/package.py
  roles/cephclient/README.rst
  roles/cephclient/defaults/main.yml
  roles/containerd/README.rst
  roles/containerd/defaults/main.yml
  roles/docker/README.rst
  roles/docker/defaults/main.yml
  roles/falco/README.rst
  roles/falco/defaults/main.yml
  roles/netdata/README.rst
  roles/netdata/defaults/main.yml
  roles/openstackclient/README.rst
  roles/openstackclient/defaults/main.yml
  roles/openstackclient/tasks/package-Debian.yml
  roles/osquery/README.rst
  roles/osquery/defaults/main.yml
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-osquery

Fix netdata repo reference
  .ansible-lint
  roles/netdata/defaults/main.yml
Due: ansible-collection-services-molecule-netdata

Fix netdata repo reference (#1272)
  .ansible-lint
  roles/netdata/defaults/main.yml
Due: ansible-collection-services-molecule-netdata

Add Statsd configuration options for Zuul
  roles/zuul/defaults/main.yml
  roles/zuul/tasks/template_tasks.yml
  roles/zuul/templates/docker-compose.yaml.j2
  roles/zuul/templates/env/nodepool_builder.env.j2
  roles/zuul/templates/env/nodepool_launcher.env.j2
  roles/zuul/templates/zuul.conf.j2
Due: none
