Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-dnsmasq: any of: ^roles\/dnsmasq\/.*$, ^molecule\/delegated\/tests\/dnsmasq.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-httpd: any of: ^roles\/httpd\/.*$, ^molecule\/delegated\/tests\/httpd.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

manager: add more netbox parameters for the inventory reconciler (#1854)
  roles/manager/defaults/main.yml
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: add metalbox device role
  roles/netbox/templates/initializers/device_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

manager: add metalbox device role (#1855)
  roles/netbox/templates/initializers/device_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: remove OOB Leaf device role
  roles/netbox/templates/initializers/device_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: remove OOB Leaf device role (#1856)
  roles/netbox/templates/initializers/device_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

manager: rename netbox_filter_list to netbox_filter_conductor
  roles/manager/defaults/main.yml
  roles/manager/templates/env/conductor.env.j2
Due: ansible-collection-services-molecule-manager

manager: rename netbox_filter_list to netbox_filter_conductor (#1857)
  roles/manager/defaults/main.yml
  roles/manager/templates/env/conductor.env.j2
Due: ansible-collection-services-molecule-manager

manager: add netbox_filter_inventory parameter
  roles/manager/defaults/main.yml
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: add netbox_filter_inventory parameter (#1858)
  roles/manager/defaults/main.yml
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: make it possible to set the inventory-reconciler mode
  roles/manager/defaults/main.yml
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: make it possible to set the inventory-reconciler mode (#1859)
  roles/manager/defaults/main.yml
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

netbox: add custom field inventory_hostname
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add custom field inventory_hostname (#1860)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

manager: add parameters to configure job schedules
  roles/manager/defaults/main.yml
  roles/manager/tasks/config.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/templates/env/all.env.j2
Due: ansible-collection-services-molecule-manager

manager: add parameters to configure periodic job schedules (#1861)
  roles/manager/defaults/main.yml
  roles/manager/tasks/config.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/templates/env/all.env.j2
Due: ansible-collection-services-molecule-manager

netbox: add custom field dnsmasq_parameters
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add custom field dnsmasq_parameters (#1862)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: fix wrong data type of dnsmasq_parameters
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: fix wrong data type of dnsmasq_parameters (#1864)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

httpd: only run data container when httpd_data_enable
  roles/httpd/tasks/main.yml
Due: ansible-collection-services-molecule-httpd

httpd: only run data container when httpd_data_enable (#1865)
  roles/httpd/tasks/main.yml
Due: ansible-collection-services-molecule-httpd

dnsmasq: add support for multiple interfaces
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: add support for multiple interfaces (#1866)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: add support for dynamic hosts
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: add support for dynamic hosts (#1867)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

netbox: add cable management device role
  roles/netbox/templates/initializers/device_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add cable management device role (#1868)
  roles/netbox/templates/initializers/device_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

dnsmasq: only disable dns when not dnsmasq_enable_dns
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: only disable dns when not dnsmasq_enable_dns (#1869)
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: cleanup defaults
  roles/dnsmasq/defaults/main.yml
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: cleanup defaults (#1870)
  roles/dnsmasq/defaults/main.yml
Due: ansible-collection-services-molecule-dnsmasq

netbox: make it possible to skip service restarts
  roles/netbox/defaults/main.yml
  roles/netbox/handlers/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: make it possible to skip service restarts (#1871)
  roles/netbox/defaults/main.yml
  roles/netbox/handlers/main.yml
Due: ansible-collection-services-molecule-netbox

manager: make it possible to skip service restarts
  roles/manager/defaults/main.yml
  roles/manager/handlers/main.yml
Due: ansible-collection-services-molecule-manager

manager: make it possible to skip service restarts (#1872)
  roles/manager/defaults/main.yml
  roles/manager/handlers/main.yml
Due: ansible-collection-services-molecule-manager

manager: start after netbox service
  roles/manager/templates/manager.service.j2
Due: ansible-collection-services-molecule-manager

manager: start after netbox service (#1874)
  roles/manager/templates/manager.service.j2
Due: ansible-collection-services-molecule-manager

netbox: add netplan_parameters custom field to interfaces
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add netplan_parameters custom field to interfaces (#1875)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

manager: add manager_service_manual_start parameter
  roles/manager/defaults/main.yml
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager
