Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-bird: any of: ^roles\/bird\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/bird.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/zuul.*$

Rename lock_out to dnf_lock_out
  roles/auditd/tasks/install-RedHat-family.yml
  roles/cephclient/tasks/package-RedHat-family.yml
  roles/chrony/tasks/install-RedHat-family.yml
  roles/clamav/tasks/install-RedHat-family.yml
  roles/containerd/tasks/install-RedHat-family.yml
  roles/docker/tasks/install-docker-RedHat-family.yml
  roles/fail2ban/tasks/install-RedHat-family.yml
  roles/falco/tasks/install-RedHat-family_broken.yml
  roles/frr/tasks/install-RedHat-family.yml
  roles/hddtemp/tasks/install-RedHat-family.yml
  roles/lldpd/tasks/install-RedHat-family.yml
  roles/manager/tasks/install-RedHat-family.yml
  roles/netbird/tasks/install-RedHat-family.yml
  roles/netdata/tasks/install-RedHat-family.yml
  roles/openstackclient/tasks/package-RedHat-family.yml
  roles/osquery/tasks/install-RedHat-family.yml
  roles/rng/tasks/install-RedHat-family.yml
  roles/rsyslog/tasks/install-RedHat-family.yml
  roles/smartd/tasks/install-RedHat-family.yml
  roles/tang/tasks/install-RedHat-family.yml
  roles/tuned/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-tuned

Add mariadb-operator role
  roles/mariadb_operator/README.md
  roles/mariadb_operator/defaults/main.yml
  roles/mariadb_operator/meta/main.yml
  roles/mariadb_operator/tasks/config.yml
  roles/mariadb_operator/tasks/deploy.yml
  roles/mariadb_operator/tasks/main.yml
  roles/mariadb_operator/tasks/namespace.yml
  roles/mariadb_operator/templates/operator.yml.j2
Due: none

netdata: cleanup
  molecule/delegated/tests/netdata/redhat.py
  roles/netdata/tasks/install-Debian-family.yml
  roles/netdata/tasks/install-RedHat-family.yml
  roles/netdata/tasks/main.yml
Due: ansible-collection-services-molecule-netdata

netdata: cleanup (#1463)
  molecule/delegated/tests/netdata/redhat.py
  roles/netdata/tasks/install-Debian-family.yml
  roles/netdata/tasks/install-RedHat-family.yml
  roles/netdata/tasks/main.yml
Due: ansible-collection-services-molecule-netdata

molecule: use osism.commons.repository to add EPEL repo
  molecule/delegated/prepare/clamav.yml
  molecule/delegated/prepare/containerd.yml
  molecule/delegated/prepare/docker.yml
  molecule/delegated/prepare/fail2ban.yml
  molecule/delegated/prepare/falco.yml
  molecule/delegated/prepare/frr.yml
  molecule/delegated/prepare/hddtemp.yml
  molecule/delegated/prepare/netdata.yml
  molecule/delegated/prepare/openstackclient.yml
Due: none

Add mariadb-operator role (#1461)
  roles/mariadb_operator/README.md
  roles/mariadb_operator/defaults/main.yml
  roles/mariadb_operator/meta/main.yml
  roles/mariadb_operator/tasks/config.yml
  roles/mariadb_operator/tasks/deploy.yml
  roles/mariadb_operator/tasks/main.yml
  roles/mariadb_operator/tasks/namespace.yml
  roles/mariadb_operator/templates/operator.yml.j2
Due: none

molecule: use osism.commons.repository to add EPEL repo (#1464)
  molecule/delegated/prepare/clamav.yml
  molecule/delegated/prepare/containerd.yml
  molecule/delegated/prepare/docker.yml
  molecule/delegated/prepare/fail2ban.yml
  molecule/delegated/prepare/falco.yml
  molecule/delegated/prepare/frr.yml
  molecule/delegated/prepare/hddtemp.yml
  molecule/delegated/prepare/netdata.yml
  molecule/delegated/prepare/openstackclient.yml
Due: none

Rename lock_out to dnf_lock_out (#1462)
  roles/auditd/tasks/install-RedHat-family.yml
  roles/cephclient/tasks/package-RedHat-family.yml
  roles/chrony/tasks/install-RedHat-family.yml
  roles/clamav/tasks/install-RedHat-family.yml
  roles/containerd/tasks/install-RedHat-family.yml
  roles/docker/tasks/install-docker-RedHat-family.yml
  roles/fail2ban/tasks/install-RedHat-family.yml
  roles/falco/tasks/install-RedHat-family_broken.yml
  roles/frr/tasks/install-RedHat-family.yml
  roles/hddtemp/tasks/install-RedHat-family.yml
  roles/lldpd/tasks/install-RedHat-family.yml
  roles/manager/tasks/install-RedHat-family.yml
  roles/netbird/tasks/install-RedHat-family.yml
  roles/netdata/tasks/install-RedHat-family.yml
  roles/openstackclient/tasks/package-RedHat-family.yml
  roles/osquery/tasks/install-RedHat-family.yml
  roles/rng/tasks/install-RedHat-family.yml
  roles/rsyslog/tasks/install-RedHat-family.yml
  roles/smartd/tasks/install-RedHat-family.yml
  roles/tang/tasks/install-RedHat-family.yml
  roles/tuned/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-tuned

molecule: unify clamav tests
  molecule/delegated/tests/clamav/debian.py
  molecule/delegated/tests/clamav/main.py
Due: ansible-collection-services-molecule-clamav

molecule: unify clamav tests (#1465)
  molecule/delegated/tests/clamav/debian.py
  molecule/delegated/tests/clamav/main.py
Due: ansible-collection-services-molecule-clamav

Adding Debian specifics
  roles/netbox/README.md
Due: ansible-collection-services-molecule-netbox

Adding Debian specifics
  roles/hddtemp/README.md
Due: ansible-collection-services-molecule-hddtemp

zuul: do not install python3-docker package
  molecule/delegated/prepare/adminer.yml
  molecule/delegated/prepare/cephclient.yml
  molecule/delegated/prepare/cgit.yml
  molecule/delegated/prepare/dnsdist.yml
  molecule/delegated/prepare/homer.yml
  molecule/delegated/prepare/manager.yml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/prepare/netbox.yml
  molecule/delegated/prepare/nexus.yml
  molecule/delegated/prepare/openstack_health_monitor.yml
  molecule/delegated/prepare/openstackclient.yml
  molecule/delegated/prepare/phpmyadmin.yml
  molecule/delegated/prepare/scaphandre.yml
  molecule/delegated/prepare/squid.yml
  molecule/delegated/prepare/thanos_sidecar.yml
  molecule/delegated/prepare/traefik.yml
  molecule/delegated/prepare/virtualbmc.yml
  molecule/delegated/prepare/zuul.yml
Due: none

Uncomment nexus role in .zuul.yml to test testbed on CentOS
  .zuul.yaml
Due: none

Adding Debian specifics
  roles/hddtemp/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-hddtemp

Check kernel version
  .zuul.yaml
  roles/docker/tasks/install-docker-RedHat-family.yml
  roles/docker/tasks/main.yml
Due: ansible-collection-services-molecule-docker

zuul: do not install python3-docker package (#1473)
  molecule/delegated/prepare/adminer.yml
  molecule/delegated/prepare/cephclient.yml
  molecule/delegated/prepare/cgit.yml
  molecule/delegated/prepare/dnsdist.yml
  molecule/delegated/prepare/homer.yml
  molecule/delegated/prepare/manager.yml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/prepare/netbox.yml
  molecule/delegated/prepare/nexus.yml
  molecule/delegated/prepare/openstack_health_monitor.yml
  molecule/delegated/prepare/openstackclient.yml
  molecule/delegated/prepare/phpmyadmin.yml
  molecule/delegated/prepare/scaphandre.yml
  molecule/delegated/prepare/squid.yml
  molecule/delegated/prepare/thanos_sidecar.yml
  molecule/delegated/prepare/traefik.yml
  molecule/delegated/prepare/virtualbmc.yml
  molecule/delegated/prepare/zuul.yml
Due: none

Adding Debian specifics
  roles/hddtemp/defaults/main.yml
  roles/hddtemp/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-hddtemp

Adding Debian specifics
  molecule/delegated/tests/hddtemp/debian.py
Due: ansible-collection-services-molecule-hddtemp

manager: add manager_enable_openstack parameter
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: add manager_enable_openstack parameter (#1477)
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Add ansible.utils.ipwrap filter to configuration files
  roles/adminer/templates/docker-compose.yml.j2
  roles/cgit/templates/docker-compose.yml.j2
  roles/dnsdist/templates/docker-compose.yml.j2
  roles/homer/templates/docker-compose.yml.j2
  roles/manager/templates/docker-compose.yml.j2
  roles/netbox/templates/docker-compose.yml.j2
  roles/nexus/templates/docker-compose.yml.j2
  roles/phpmyadmin/templates/docker-compose.yml.j2
  roles/scaphandre/templates/docker-compose.yml.j2
  roles/squid/templates/docker-compose.yml.j2
  roles/thanos_sidecar/templates/docker-compose.yml.j2
  roles/traefik/templates/docker-compose.yml.j2
  roles/virtualbmc/templates/docker-compose.yml.j2
  roles/zuul/templates/docker-compose.yaml.j2
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-zuul

Remove other chaneg
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
Due: ansible-collection-services-molecule-frr

Adding Debian specifics
  roles/hddtemp/README.md
  roles/hddtemp/tasks/install-Debian-family.yml
  roles/netbox/README.md
Due: ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-netbox

hddtemp: Add flag hddtemp_enable_module (#1467)
  molecule/delegated/tests/hddtemp/debian.py
  roles/hddtemp/defaults/main.yml
  roles/hddtemp/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-hddtemp

rook: deploy via helm by default
  roles/rook/README.md
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-crd.yml
  roles/rook/tasks/deploy-helm.yml
  roles/rook/tasks/main.yml
  roles/rook/templates/01-helm-values-all.yml.j2
  roles/rook/templates/01_CephCluster.yml.j2
  roles/rook/templates/02-CRD-CephClient.yml.j2
  roles/rook/templates/02_Toolbox.yml.j2
  roles/rook/templates/03_CephBlockPool.yml.j2
  roles/rook/templates/04_CephFilesystem.yml.j2
  roles/rook/templates/05_CephObjectStore.yml.j2
  roles/rook_operator/defaults/main.yml
Due: none

rook_operator: placement and annotations
  roles/rook_operator/defaults/main.yml
  roles/rook_operator/templates/operator.yml.j2
Due: none

Use configmap to load various certs
  roles/keycloak/tasks/deploy.yml
  roles/keycloak/templates/codecentric-keycloak.yml.j2
  roles/keycloak/templates/configmap-certs.yml
Due: none

Add option for host networking instead of container networking for ceph- and openstackclient
  roles/cephclient/defaults/main.yml
  roles/cephclient/templates/docker-compose.yml.j2
  roles/openstackclient/defaults/main.yml
  roles/openstackclient/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-openstackclient

Add line return, bool filter
  roles/cephclient/templates/docker-compose.yml.j2
  roles/openstackclient/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-openstackclient

add label nodes and set ceph component affinity
  roles/rook/defaults/main.yml
  roles/rook/tasks/label-nodes.yml
  roles/rook/tasks/main.yml
Due: none

Add option for host networking instead of container networking (#1482)
  roles/cephclient/defaults/main.yml
  roles/cephclient/templates/docker-compose.yml.j2
  roles/openstackclient/defaults/main.yml
  roles/openstackclient/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-openstackclient

rook: initial kubernetes apply (#881)
  roles/rook/README.md
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/meta/main.yml
  roles/rook/tasks/apply.yml
  roles/rook/tasks/main.yml
  roles/rook/tasks/namespace.yml
  roles/rook/templates/01_CephCluster.yml.j2
  roles/rook/templates/02_Toolbox.yml.j2
  roles/rook/templates/03_CephBlockPool.yml.j2
  roles/rook/templates/04_CephFilesystem.yml.j2
  roles/rook/templates/05_CephObjectStore.yml.j2
  roles/rook/templates/06_CephClient.yml.j2
Due: none

rook: add fetch-keys task
  roles/rook/defaults/main.yml
  roles/rook/tasks/apply.yml
  roles/rook/tasks/fetch-keys.yml
  roles/rook/tasks/main.yml
Due: none

rook: simplify fetch-keys task
  roles/rook/defaults/main.yml
  roles/rook/tasks/fetch-keys.yml
Due: none

rook: increase mgr_count
  roles/rook/defaults/main.yml
Due: none

rook: add documentation
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/tasks/fetch-keys.yml
  roles/rook/templates/01_CephCluster.yml.j2
  roles/rook/templates/04_CephFilesystem.yml.j2
Due: none

rook: jinja template for CephBlockPools
  roles/rook/README.rst
  roles/rook/defaults/main.yml
  roles/rook/templates/03_CephBlockPool.yml.j2
Due: none
