Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

ansible-collection-services-molecule-adminer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: adminer

ansible-collection-services-molecule-auditd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: auditd

ansible-collection-services-molecule-cephclient:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cephclient

ansible-collection-services-molecule-cgit:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: cgit

ansible-collection-services-molecule-chrony:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: chrony

ansible-collection-services-molecule-clamav:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: clamav

ansible-collection-services-molecule-containerd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: containerd

ansible-collection-services-molecule-dnsdist:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: dnsdist

ansible-collection-services-molecule-docker:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: docker

ansible-collection-services-molecule-fail2ban:
  parent: abstract-ansible-collection-services-molecule
  nodeset:
    nodes:
    - name: centos-9-stream
      label: centos-9-stream
    - name: debian-bookworm
      label: debian-bookworm
    - name: ubuntu-jammy
      label: ubuntu-jammy
  vars:
    ansible_role: fail2ban

ansible-collection-services-molecule-falco:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: falco

ansible-collection-services-molecule-frr:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: frr

ansible-collection-services-molecule-hddtemp:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: hddtemp

ansible-collection-services-molecule-homer:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: homer

ansible-collection-services-molecule-journald:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: journald

ansible-collection-services-molecule-lldpd:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: lldpd

ansible-collection-services-molecule-manager:
  parent: abstract-ansible-collection-services-molecule
  nodeset:
    nodes:
    - name: debian-bookworm
      label: debian-bookworm
    - name: ubuntu-jammy
      label: ubuntu-jammy
    - name: ubuntu-noble
      label: ubuntu-noble
  vars:
    ansible_role: manager

ansible-collection-services-molecule-metering:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: metering

ansible-collection-services-molecule-netbox:
  parent: abstract-ansible-collection-services-molecule
  vars:
    ansible_role: netbox

clamav: enhance CI tests (#1642)
  molecule/delegated/tests/clamav/main.py
Due: ansible-collection-services-molecule-clamav

frr: Enhance CI tests
  molecule/delegated/tests/frr.py
  molecule/delegated/vars/frr.yml
  roles/frr/templates/frr_test.conf.j2
Due: ansible-collection-services-molecule-frr

hddtemp: Enhance CI tests
  molecule/delegated/tests/hddtemp/debian.py
  molecule/delegated/tests/hddtemp/redhat.py
Due: ansible-collection-services-molecule-hddtemp

homer: Enhance CI tests
  molecule/delegated/tests/homer.py
Due: ansible-collection-services-molecule-homer

lldpd: Enhance CI tests
  molecule/delegated/tests/lldpd.py
Due: ansible-collection-services-molecule-lldpd

manager: Enhance CI tests
  molecule/delegated/tests/manager.py
Due: ansible-collection-services-molecule-manager

lldpd: enhance CI tests (#1649)
  molecule/delegated/tests/lldpd.py
Due: ansible-collection-services-molecule-lldpd

homer: enhance CI tests (#1648)
  molecule/delegated/tests/homer.py
Due: ansible-collection-services-molecule-homer

openstackclient: Enhance CI tests
  molecule/delegated/tests/openstackclient/main.py
Due: ansible-collection-services-molecule-openstackclient

osquery: Enhance CI tests
  molecule/delegated/tests/osquery/main.py
Due: ansible-collection-services-molecule-osquery

osquery: enhance CI tests (#1652)
  molecule/delegated/tests/osquery/main.py
Due: ansible-collection-services-molecule-osquery

openstackclient: enhance CI tests (#1651)
  molecule/delegated/tests/openstackclient/main.py
Due: ansible-collection-services-molecule-openstackclient

fail2ban: Install a jail for sshd by default
  roles/fail2ban/tasks/main.yml
  roles/fail2ban/templates/sshd.conf.j2
Due: ansible-collection-services-molecule-fail2ban

fail2ban: Enhance CI tests
  molecule/delegated/tests/fail2ban.py
Due: ansible-collection-services-molecule-fail2ban

frr: enhance CI tests (#1646)
  molecule/delegated/tests/frr.py
  molecule/delegated/vars/frr.yml
  roles/frr/templates/frr_test.conf.j2
Due: ansible-collection-services-molecule-frr

manager: enhance CI tests (#1650)
  molecule/delegated/tests/manager.py
Due: ansible-collection-services-molecule-manager

netbox: use tmpfs instead of zram for tests
  molecule/delegated/vars/netbox.yml
Due: none

nexus: add nexus_force_init parameter
  roles/nexus/defaults/main.yml
  roles/nexus/tasks/main.yml
Due: ansible-collection-services-molecule-nexus

netbox: use tmpfs instead of zram for tests (#1656)
  molecule/delegated/vars/netbox.yml
Due: none

nexus: add nexus_force_init parameter (#1657)
  roles/nexus/defaults/main.yml
  roles/nexus/tasks/main.yml
Due: ansible-collection-services-molecule-nexus

netbox: improve the wait for healty service handler
  roles/netbox/defaults/main.yml
  roles/netbox/handlers/main.yml
  roles/netbox/tasks/rescue-service.yml
  roles/netbox/tasks/restart-service.yml
  roles/netbox/tasks/service.yml
  roles/netbox/tasks/wait-for-healthy-service.yml
  roles/netbox/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-netbox

rsyslog: Enhance CI tests
  molecule/delegated/tests/rsyslog.py
Due: ansible-collection-services-molecule-rsyslog

rsyslog: Make working directory configurable
  roles/rsyslog/tasks/main.yml
  roles/rsyslog/templates/rsyslog.conf.j2
  roles/rsyslog/vars/CentOS-dist.yml
  roles/rsyslog/vars/Debian-dist.yml
  roles/rsyslog/vars/Ubuntu-dist.yml
Due: ansible-collection-services-molecule-rsyslog

rsyslog: enhance CI tests (#1653)
  molecule/delegated/tests/rsyslog.py
  roles/rsyslog/tasks/main.yml
  roles/rsyslog/templates/rsyslog.conf.j2
  roles/rsyslog/vars/CentOS-dist.yml
  roles/rsyslog/vars/Debian-dist.yml
  roles/rsyslog/vars/Ubuntu-dist.yml
Due: ansible-collection-services-molecule-rsyslog

scaphandre: Enhance CI tests
  molecule/delegated/tests/scaphandre.py
  molecule/delegated/vars/scaphandre.yml
  roles/scaphandre/defaults/main.yml
  roles/scaphandre/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-scaphandre

tang: Enhance CI tests
  molecule/delegated/tests/tang.py
Due: none

thanos_sidecar: Enhance CI tests
  molecule/delegated/tests/thanos_sidecar.py
Due: ansible-collection-services-molecule-thanos_sidecar

Enhance CI tests for Docker role
  molecule/delegated/tests/docker/main.py
Due: ansible-collection-services-molecule-docker

Enhance CI tests for squid role
  molecule/delegated/tests/squid.py
Due: ansible-collection-services-molecule-squid

traefik: Enhance CI tests
  molecule/delegated/tests/traefik.py
Due: ansible-collection-services-molecule-traefik

Enhance CI tests for zabbix_agent role
  molecule/delegated/tests/zabbix_agent.py
Due: none

virtualbmc: Enhance CI tests
  molecule/delegated/tests/virtualbmc.py
Due: ansible-collection-services-molecule-virtualbmc

Enhance CI tests for wireguard role
  molecule/delegated/tests/wireguard.py
Due: ansible-collection-services-molecule-wireguard

wireguard: enhance CI tests (#1669)
  molecule/delegated/tests/wireguard.py
Due: ansible-collection-services-molecule-wireguard

virtualbmc: enhance CI tests (#1668)
  molecule/delegated/tests/virtualbmc.py
Due: ansible-collection-services-molecule-virtualbmc

zabbix_agent: enhance CI tests (#1664)
  molecule/delegated/tests/zabbix_agent.py
Due: none

traefik: enhance CI tests (#1663)
  molecule/delegated/tests/traefik.py
Due: ansible-collection-services-molecule-traefik

squid: enhance CI tests (#1659)
  molecule/delegated/tests/squid.py
Due: ansible-collection-services-molecule-squid

docker: enhance CI tests (#1607)
  molecule/delegated/tests/docker/main.py
Due: ansible-collection-services-molecule-docker

thanos_sidecar: enhance CI tests (#1662)
  molecule/delegated/tests/thanos_sidecar.py
Due: ansible-collection-services-molecule-thanos_sidecar

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/prepare\/fail2ban.*$, ^molecule\/delegated\/tests\/fail2ban.*$, ^molecule\/delegated\/vars\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$
