Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

zuul: fix typo (#1832)
  roles/zuul/defaults/main.yml
Due: ansible-collection-services-molecule-zuul

zuul: add missing quote
  roles/zuul/templates/docker-compose.yaml.j2
Due: ansible-collection-services-molecule-zuul

zuul: add missing quote (#1833)
  roles/zuul/templates/docker-compose.yaml.j2
Due: ansible-collection-services-molecule-zuul

zuul: refresh secrets
  .zuul.yaml
Due: none

zuul: refresh secrets (#1835)
  .zuul.yaml
Due: none

zuul: fix wrong secret
  .zuul.yaml
Due: none

manager: add parameters to change container namespaces
  molecule/delegated/vars/manager.yml
  roles/manager/defaults/main.yml
Due: ansible-collection-services-molecule-manager

zuul: fix wrong secret (#1836)
  .zuul.yaml
Due: none

manager: add parameters to change container namespaces (#1837)
  molecule/delegated/vars/manager.yml
  roles/manager/defaults/main.yml
Due: ansible-collection-services-molecule-manager

Add osism netbox parameter to manager role
  roles/manager/defaults/main.yml
  roles/manager/tasks/config-netbox.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/templates/env/conductor.env.j2
Due: ansible-collection-services-molecule-manager

netbox: add parameters to change container namespaces
  molecule/delegated/vars/netbox.yml
  roles/netbox/defaults/main.yml
Due: ansible-collection-services-molecule-netbox

manager: add new netbox parameters (#1834)
  roles/manager/defaults/main.yml
  roles/manager/tasks/config-netbox.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/templates/env/conductor.env.j2
Due: ansible-collection-services-molecule-manager

netbox: add parameters to change container namespaces (#1838)
  molecule/delegated/vars/netbox.yml
  roles/netbox/defaults/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: use version 4.2.2
  roles/netbox/defaults/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: use version 4.2.2 (#1797)
  roles/netbox/defaults/main.yml
Due: ansible-collection-services-molecule-netbox

manager: support OSISM_RETRY env variable
  roles/manager/templates/wrapper/osism.j2
Due: ansible-collection-services-molecule-manager

manager: support OSISM_RETRY env variable (#1839)
  roles/manager/templates/wrapper/osism.j2
Due: ansible-collection-services-molecule-manager

docker: add parameter to set fixed-cidr-v6
  roles/docker/defaults/main.yml
  roles/docker/templates/daemon.json.j2
Due: ansible-collection-services-molecule-docker

docker: add parameter to set fixed-cidr-v6 (#1840)
  roles/docker/defaults/main.yml
  roles/docker/templates/daemon.json.j2
Due: ansible-collection-services-molecule-docker

netbox: add custom fields for netplan and frr
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add custom fields for netplan and frr (#1843)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

dnsmasq: make it possible to provide dhcp ranges/hosts via host vars
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: none

dnsmasq: make it possible to provide dhcp ranges/hosts via host vars (#1844)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: none

dnsmasq: add support for dhcp-mac entries
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: none

dnsmasq: add support for dhcp-mac entries (#1845)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: none

dnsmasq: add support for dhcp-option entries
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: none

netbox: add custom field dnsmasq_dhcp_tag
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

dnsmasq: add support for dhcp-option entries (#1846)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: none

netbox: add custom field dnsmasq_dhcp_tag (#1847)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add custom field frr_local_as
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add custom field frr_local_as (#1848)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: cleanup/extend device roles and tags
  roles/netbox/templates/initializers/device_roles.yml.j2
  roles/netbox/templates/initializers/tags.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: cleanup/extend device roles and tags (#1849)
  roles/netbox/templates/initializers/device_roles.yml.j2
  roles/netbox/templates/initializers/tags.yml.j2
Due: ansible-collection-services-molecule-netbox

manager: add inventory-reconciler env file
  roles/manager/defaults/main.yml
  roles/manager/tasks/config-netbox.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

docker: fix ipv6 configuration
  roles/docker/defaults/main.yml
  roles/docker/templates/daemon.json.j2
Due: ansible-collection-services-molecule-docker

docker: fix ipv6 configuration (#1852)
  roles/docker/defaults/main.yml
  roles/docker/templates/daemon.json.j2
Due: ansible-collection-services-molecule-docker

manager: add inventory-reconciler env file (#1850)
  roles/manager/defaults/main.yml
  roles/manager/tasks/config-netbox.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: use json for NETBOX_DATA_TYPES
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: use json for NETBOX_DATA_TYPES (#1853)
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: add more netbox parameters for the inventory reconciler
  roles/manager/defaults/main.yml
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager
