Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/prepare\/fail2ban.*$, ^molecule\/delegated\/tests\/fail2ban.*$, ^molecule\/delegated\/vars\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

manager: stop copying old wrapper scripts (#1493)
  roles/manager/vars/wrapper.yml
Due: ansible-collection-services-molecule-manager

netbox: SECRET_KEY must be at least 50 characters in length
  roles/netbox/defaults/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: disable osism plugin by default
  roles/netbox/defaults/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: SECRET_KEY must be at least 50 characters in length (#1494)
  roles/netbox/defaults/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: disable osism plugin by default (#1495)
  roles/netbox/defaults/main.yml
Due: ansible-collection-services-molecule-netbox

traefik: remove parameter traefik_pilot_dashboard
  roles/traefik/defaults/main.yml
  roles/traefik/templates/traefik.env.j2
Due: ansible-collection-services-molecule-traefik

traefik: remove parameter traefik_pilot_dashboard (#1496)
  roles/traefik/defaults/main.yml
  roles/traefik/templates/traefik.env.j2
Due: ansible-collection-services-molecule-traefik

rook: improve some nits
  roles/rook/defaults/main.yml
  roles/rook/tasks/wait-for-cluster-deleted.yml
  roles/rook/tasks/wait-for-cluster.yml
Due: none

rook: improve some nits (#1502)
  roles/rook/defaults/main.yml
  roles/rook/tasks/wait-for-cluster-deleted.yml
  roles/rook/tasks/wait-for-cluster.yml
Due: none

netbox: improve service start
  molecule/delegated/prepare/netbox.yml
  molecule/delegated/vars/netbox.yml
  roles/netbox/handlers/main.yml
  roles/netbox/tasks/service.yml
Due: ansible-collection-services-molecule-netbox

netbox: improve service start (#1503)
  molecule/delegated/prepare/netbox.yml
  molecule/delegated/vars/netbox.yml
  roles/netbox/handlers/main.yml
  roles/netbox/tasks/service.yml
Due: ansible-collection-services-molecule-netbox

netbox: wait up to 10 minutes for netbox
  roles/netbox/handlers/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: wait up to 10 minutes for netbox (#1504)
  roles/netbox/handlers/main.yml
Due: ansible-collection-services-molecule-netbox

hddtemp: Add drivetemp module check
  molecule/delegated/tests/hddtemp/debian.py
  roles/hddtemp/defaults/main.yml
  roles/hddtemp/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-hddtemp

hddtemp: Add drivetemp module check (#1506)
  molecule/delegated/tests/hddtemp/debian.py
  roles/hddtemp/defaults/main.yml
  roles/hddtemp/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-hddtemp

Generate configmap using ansible
  roles/keycloak/defaults/main.yml
  roles/keycloak/tasks/deploy.yml
  roles/keycloak/templates/codecentric-keycloak.yml.j2
  roles/keycloak/templates/configmap-ca.yml.j2
Due: none

Migrate first kubernetes roles to osism/osism-kubernetes
  roles/mariadb_operator/README.md
  roles/mariadb_operator/defaults/main.yml
  roles/mariadb_operator/meta/main.yml
  roles/mariadb_operator/tasks/config.yml
  roles/mariadb_operator/tasks/deploy.yml
  roles/mariadb_operator/tasks/main.yml
  roles/mariadb_operator/tasks/namespace.yml
  roles/mariadb_operator/templates/operator.yml.j2
  roles/rabbitmq_operator/README.md
  roles/rabbitmq_operator/defaults/main.yml
  roles/rabbitmq_operator/meta/main.yml
  roles/rabbitmq_operator/tasks/main.yml
  roles/rabbitmq_operator/templates/operator.yml.j2
Due: none

Migrate first kubernetes roles to osism/osism-kubernetes (#1508)
  roles/mariadb_operator/README.md
  roles/mariadb_operator/defaults/main.yml
  roles/mariadb_operator/meta/main.yml
  roles/mariadb_operator/tasks/config.yml
  roles/mariadb_operator/tasks/deploy.yml
  roles/mariadb_operator/tasks/main.yml
  roles/mariadb_operator/tasks/namespace.yml
  roles/mariadb_operator/templates/operator.yml.j2
  roles/rabbitmq_operator/README.md
  roles/rabbitmq_operator/defaults/main.yml
  roles/rabbitmq_operator/meta/main.yml
  roles/rabbitmq_operator/tasks/main.yml
  roles/rabbitmq_operator/templates/operator.yml.j2
Due: none

hddtemp: Fix drivetemp module check
  roles/hddtemp/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-hddtemp

hddtemp: fix drivetemp module check (#1507)
  roles/hddtemp/tasks/install-Debian-family.yml
Due: ansible-collection-services-molecule-hddtemp

netbox: ensure that jq is installed
  roles/netbox/defaults/main.yml
  roles/netbox/tasks/install-Debian-family.yml
  roles/netbox/tasks/install-RedHat-family.yml
  roles/netbox/tasks/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: ensure that jq is installed (#1509)
  roles/netbox/defaults/main.yml
  roles/netbox/tasks/install-Debian-family.yml
  roles/netbox/tasks/install-RedHat-family.yml
  roles/netbox/tasks/main.yml
Due: ansible-collection-services-molecule-netbox

netbox: remove OSISM webhook for the moment
  roles/netbox/README.rst
  roles/netbox/defaults/main.yml
  roles/netbox/templates/initializers/webhooks.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: remove OSISM webhook for the moment (#1513)
  roles/netbox/README.rst
  roles/netbox/defaults/main.yml
  roles/netbox/templates/initializers/webhooks.yml.j2
Due: ansible-collection-services-molecule-netbox

close #1078: do a exec
  roles/openstackclient/templates/openstack.j2
Due: ansible-collection-services-molecule-openstackclient

docker: remove two changed_when that are not necessary
  roles/docker/tasks/install-docker-Debian-family.yml
  roles/docker/tasks/install-docker-RedHat-family.yml
Due: ansible-collection-services-molecule-docker

docker: remove two changed_when that are not necessary (#1518)
  roles/docker/tasks/install-docker-Debian-family.yml
  roles/docker/tasks/install-docker-RedHat-family.yml
Due: ansible-collection-services-molecule-docker

Require ansible >= 2.16
  meta/runtime.yml
Due: none

Require ansible >= 2.16 (#1520)
  meta/runtime.yml
Due: none

Remove metering tests & mark metering as tech preview
  .zuul.yaml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/tests/metering.py
  molecule/delegated/vars/metering.yml
  roles/metering/tasks/main.yml
Due: ansible-collection-services-molecule-metering

openstackclient: make use within screen possible without problems (#1515)
  roles/openstackclient/templates/openstack.j2
Due: ansible-collection-services-molecule-openstackclient

Remove metering tests & mark metering as tech preview (#1519)
  .zuul.yaml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/tests/metering.py
  molecule/delegated/vars/metering.yml
  roles/metering/tasks/main.yml
Due: ansible-collection-services-molecule-metering

openstack_health_monitor: remove tests & mark as tech preview
  .zuul.yaml
  molecule/delegated/prepare/openstack_health_monitor.yml
  molecule/delegated/tests/openstack_health_monitor.py
  molecule/delegated/vars/openstack_health_monitor.yml
  roles/openstack_health_monitor/tasks/main.yml
Due: ansible-collection-services-molecule-openstack_health_monitor

openstack_health_monitor: remove tests & mark as tech preview (#1521)
  .zuul.yaml
  molecule/delegated/prepare/openstack_health_monitor.yml
  molecule/delegated/tests/openstack_health_monitor.py
  molecule/delegated/vars/openstack_health_monitor.yml
  roles/openstack_health_monitor/tasks/main.yml
Due: ansible-collection-services-molecule-openstack_health_monitor

traefik: do not check for new versions
  roles/traefik/templates/traefik.yml.j2
Due: ansible-collection-services-molecule-traefik

traefik: do not check for new versions (#1523)
  roles/traefik/templates/traefik.yml.j2
Due: ansible-collection-services-molecule-traefik

squid: Add max_filedescriptors limit to config
  roles/squid/templates/osism.conf.j2
Due: ansible-collection-services-molecule-squid

add cleanup possible legacy cephclient wrapper installations
  roles/cephclient/tasks/clean-container.yml
  roles/cephclient/tasks/clean-package-Debian-family.yml
  roles/cephclient/tasks/clean-package-RedHat-family.yml
  roles/cephclient/tasks/rook.yml
Due: ansible-collection-services-molecule-cephclient

squid: Add max_filedescriptors limit to config (#1525)
  roles/squid/templates/osism.conf.j2
Due: ansible-collection-services-molecule-squid

squid: Handle the start of the service gracefully
  roles/squid/defaults/main.yml
  roles/squid/handlers/main.yml
  roles/squid/tasks/install-Debian-family.yml
  roles/squid/tasks/install-RedHat-family.yml
  roles/squid/tasks/main.yml
Due: ansible-collection-services-molecule-squid
