Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-bird: any of: ^roles\/bird\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/bird.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/manager.*$
  ansible-collection-services-molecule-metering: any of: ^roles\/metering\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/metering.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^roles\/openstack_health_monitor\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstack_health_monitor.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/requirements\.txt$, ^molecule\/delegated\/[^\/]*yml$, ^molecule\/delegated\/tests\/zuul.*$

molecule: install missing docker package in venv
  molecule/delegated/prepare/adminer.yml
  molecule/delegated/prepare/cephclient.yml
  molecule/delegated/prepare/cgit.yml
  molecule/delegated/prepare/dnsdist.yml
  molecule/delegated/prepare/homer.yml
  molecule/delegated/prepare/manager.yml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/prepare/netbox.yml
  molecule/delegated/prepare/nexus.yml
  molecule/delegated/prepare/openstack_health_monitor.yml
  molecule/delegated/prepare/openstackclient.yml
  molecule/delegated/prepare/phpmyadmin.yml
  molecule/delegated/prepare/scaphandre.yml
  molecule/delegated/prepare/squid.yml
  molecule/delegated/prepare/thanos_sidecar.yml
  molecule/delegated/prepare/traefik.yml
  molecule/delegated/prepare/virtualbmc.yml
  molecule/delegated/prepare/zuul.yml
Due: none

manager: fix syntax issue in osism-update-manager script (#1392)
  roles/manager/templates/wrapper/osism-update-manager.j2
Due: ansible-collection-services-molecule-manager

molecule: install missing docker package in venv (#1394)
  molecule/delegated/prepare/adminer.yml
  molecule/delegated/prepare/cephclient.yml
  molecule/delegated/prepare/cgit.yml
  molecule/delegated/prepare/dnsdist.yml
  molecule/delegated/prepare/homer.yml
  molecule/delegated/prepare/manager.yml
  molecule/delegated/prepare/metering.yml
  molecule/delegated/prepare/netbox.yml
  molecule/delegated/prepare/nexus.yml
  molecule/delegated/prepare/openstack_health_monitor.yml
  molecule/delegated/prepare/openstackclient.yml
  molecule/delegated/prepare/phpmyadmin.yml
  molecule/delegated/prepare/scaphandre.yml
  molecule/delegated/prepare/squid.yml
  molecule/delegated/prepare/thanos_sidecar.yml
  molecule/delegated/prepare/traefik.yml
  molecule/delegated/prepare/virtualbmc.yml
  molecule/delegated/prepare/zuul.yml
Due: none

cephclient: wait until the managed service is active
  roles/cephclient/handlers/main.yml
  roles/cephclient/tasks/container.yml
Due: ansible-collection-services-molecule-cephclient

openstackclient: wait until the managed service is active
  roles/openstackclient/handlers/main.yml
  roles/openstackclient/tasks/container-Debian-family.yml
  roles/openstackclient/tasks/container-RedHat-family.yml
Due: ansible-collection-services-molecule-openstackclient

manager: wait until the managed service is active
  roles/manager/handlers/main.yml
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager

cephclient: wait until the managed service is active (#1393)
  roles/cephclient/handlers/main.yml
  roles/cephclient/tasks/container.yml
Due: ansible-collection-services-molecule-cephclient

openstackclient: wait until the managed service is active (#1395)
  roles/openstackclient/handlers/main.yml
  roles/openstackclient/tasks/container-Debian-family.yml
  roles/openstackclient/tasks/container-RedHat-family.yml
Due: ansible-collection-services-molecule-openstackclient

manager: wait until the managed service is active (#1396)
  roles/manager/handlers/main.yml
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager

adminer: wait until the managed service is active
  roles/adminer/handlers/main.yml
  roles/adminer/tasks/main.yml
Due: ansible-collection-services-molecule-adminer

cgit: wait until the managed service is active
  roles/cgit/handlers/main.yml
  roles/cgit/tasks/service.yml
Due: ansible-collection-services-molecule-cgit

dnsdist: wait until the managed service is active
  roles/dnsdist/handlers/main.yml
  roles/dnsdist/tasks/service.yml
Due: ansible-collection-services-molecule-dnsdist

homer: wait until the managed service is active
  roles/homer/handlers/main.yml
  roles/homer/tasks/main.yml
Due: ansible-collection-services-molecule-homer

phpmyadmin: wait until the managed service is active
  roles/phpmyadmin/handlers/main.yml
  roles/phpmyadmin/tasks/main.yml
Due: ansible-collection-services-molecule-phpmyadmin

scaphandre: wait until the managed service is active
  roles/scaphandre/handlers/main.yml
  roles/scaphandre/tasks/service.yml
Due: ansible-collection-services-molecule-scaphandre

virtualbmc: wait until the managed service is active
  roles/virtualbmc/handlers/main.yml
  roles/virtualbmc/tasks/service.yml
Due: ansible-collection-services-molecule-virtualbmc

adminer: wait until the managed service is active (#1398)
  roles/adminer/handlers/main.yml
  roles/adminer/tasks/main.yml
Due: ansible-collection-services-molecule-adminer

cgit: wait until the managed service is active (#1399)
  roles/cgit/handlers/main.yml
  roles/cgit/tasks/service.yml
Due: ansible-collection-services-molecule-cgit

dnsdist: wait until the managed service is active (#1400)
  roles/dnsdist/handlers/main.yml
  roles/dnsdist/tasks/service.yml
Due: ansible-collection-services-molecule-dnsdist

homer: wait until the managed service is active (#1401)
  roles/homer/handlers/main.yml
  roles/homer/tasks/main.yml
Due: ansible-collection-services-molecule-homer

phpmyadmin: wait until the managed service is active (#1402)
  roles/phpmyadmin/handlers/main.yml
  roles/phpmyadmin/tasks/main.yml
Due: ansible-collection-services-molecule-phpmyadmin

scaphandre: wait until the managed service is active (#1403)
  roles/scaphandre/handlers/main.yml
  roles/scaphandre/tasks/service.yml
Due: ansible-collection-services-molecule-scaphandre

virtualbmc: wait until the managed service is active (#1404)
  roles/virtualbmc/handlers/main.yml
  roles/virtualbmc/tasks/service.yml
Due: ansible-collection-services-molecule-virtualbmc

nexus: wait until the managed service is active
  roles/nexus/handlers/main.yml
  roles/nexus/tasks/service.yml
Due: ansible-collection-services-molecule-nexus

nexus: wait until the managed service is active (#1405)
  roles/nexus/handlers/main.yml
  roles/nexus/tasks/service.yml
Due: ansible-collection-services-molecule-nexus

netbox: wait until the managed service is active
  roles/netbox/handlers/main.yml
  roles/netbox/tasks/service.yml
Due: ansible-collection-services-molecule-netbox

netbox: wait until the managed service is active (#1407)
  roles/netbox/handlers/main.yml
  roles/netbox/tasks/service.yml
Due: ansible-collection-services-molecule-netbox

docker: use prefix variables for OS specific defaults
  molecule/delegated/prepare/docker.yml
  molecule/delegated/tests/docker/debian.py
  molecule/delegated/tests/docker/redhat.py
  roles/docker/tasks/main.yml
  roles/docker/vars/Debian-family.yml
  roles/docker/vars/RedHat-family.yml
Due: ansible-collection-services-molecule-docker

docker: use prefix variables for OS specific defaults (#1406)
  molecule/delegated/prepare/docker.yml
  molecule/delegated/tests/docker/debian.py
  molecule/delegated/tests/docker/redhat.py
  roles/docker/tasks/main.yml
  roles/docker/vars/Debian-family.yml
  roles/docker/vars/RedHat-family.yml
Due: ansible-collection-services-molecule-docker

rsyslog: use prefix variables for OS specific defaults
  molecule/delegated/tests/rsyslog.py
  roles/rsyslog/tasks/main.yml
  roles/rsyslog/vars/CentOS-dist.yml
  roles/rsyslog/vars/Debian-dist.yml
  roles/rsyslog/vars/Ubuntu-dist.yml
Due: ansible-collection-services-molecule-rsyslog

rsyslog: use prefix variables for OS specific defaults (#1408)
  molecule/delegated/tests/rsyslog.py
  roles/rsyslog/tasks/main.yml
  roles/rsyslog/vars/CentOS-dist.yml
  roles/rsyslog/vars/Debian-dist.yml
  roles/rsyslog/vars/Ubuntu-dist.yml
Due: ansible-collection-services-molecule-rsyslog

containerd: use prefix variables for OS specific defaults
  molecule/delegated/tests/containerd/debian.py
  roles/containerd/tasks/main.yml
  roles/containerd/vars/CentOS-dist.yml
  roles/containerd/vars/Debian-dist.yml
  roles/containerd/vars/Ubuntu-dist.yml
Due: ansible-collection-services-molecule-containerd

chrony: use prefix variables for OS specific defaults
  roles/chrony/tasks/main.yml
  roles/chrony/vars/Debian-family.yml
  roles/chrony/vars/RedHat-family.yml
Due: ansible-collection-services-molecule-chrony

containerd: use prefix variables for OS specific defaults (#1409)
  molecule/delegated/tests/containerd/debian.py
  roles/containerd/tasks/main.yml
  roles/containerd/vars/CentOS-dist.yml
  roles/containerd/vars/Debian-dist.yml
  roles/containerd/vars/Ubuntu-dist.yml
Due: ansible-collection-services-molecule-containerd

chrony: use prefix variables for OS specific defaults (#1410)
  roles/chrony/tasks/main.yml
  roles/chrony/vars/Debian-family.yml
  roles/chrony/vars/RedHat-family.yml
Due: ansible-collection-services-molecule-chrony

Adding metadata for Debian, CentOS and newer Ubuntu distros.
  roles/adminer/meta/main.yml
  roles/auditd/meta/main.yml
  roles/cephclient/meta/main.yml
  roles/cgit/meta/main.yml
  roles/chrony/meta/main.yml
  roles/clamav/meta/main.yml
  roles/cloudnative_pg/meta/main.yml
  roles/containerd/meta/main.yml
  roles/dnsdist/meta/main.yml
  roles/docker/meta/main.yml
  roles/fail2ban/meta/main.yml
  roles/falco/meta/main.yml
  roles/frr/meta/main.yml
  roles/hddtemp/meta/main.yml
  roles/homer/meta/main.yml
  roles/journald/meta/main.yml
  roles/keycloak/meta/main.yml
  roles/lldpd/meta/main.yml
  roles/manager/meta/main.yml
  roles/metering/meta/main.yml
  roles/netbox/meta/main.yml
  roles/netdata/meta/main.yml
  roles/nexus/meta/main.yml
  roles/openstack_health_monitor/meta/main.yml
  roles/openstackclient/meta/main.yml
  roles/osquery/meta/main.yml
  roles/phpmyadmin/meta/main.yml
  roles/rng/meta/main.yml
  roles/rook_operator/meta/main.yml
  roles/rsyslog/meta/main.yml
  roles/scaphandre/meta/main.yml
  roles/smartd/meta/main.yml
  roles/squid/meta/main.yml
  roles/tang/meta/main.yml
  roles/thanos_sidecar/meta/main.yml
  roles/traefik/meta/main.yml
  roles/tuned/meta/main.yml
  roles/virtualbmc/meta/main.yml
  roles/wireguard/meta/main.yml
  roles/zuul/meta/main.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

docker: Use the cli version for the cli package
  roles/docker/tasks/install-docker-Debian-family.yml
Due: ansible-collection-services-molecule-docker

Adding metadata for Debian, CentOS and newer Ubuntu distros (#1373)
  roles/adminer/meta/main.yml
  roles/auditd/meta/main.yml
  roles/cephclient/meta/main.yml
  roles/cgit/meta/main.yml
  roles/chrony/meta/main.yml
  roles/clamav/meta/main.yml
  roles/cloudnative_pg/meta/main.yml
  roles/containerd/meta/main.yml
  roles/dnsdist/meta/main.yml
  roles/docker/meta/main.yml
  roles/fail2ban/meta/main.yml
  roles/falco/meta/main.yml
  roles/frr/meta/main.yml
  roles/hddtemp/meta/main.yml
  roles/homer/meta/main.yml
  roles/journald/meta/main.yml
  roles/keycloak/meta/main.yml
  roles/lldpd/meta/main.yml
  roles/manager/meta/main.yml
  roles/metering/meta/main.yml
  roles/netbox/meta/main.yml
  roles/netdata/meta/main.yml
  roles/nexus/meta/main.yml
  roles/openstack_health_monitor/meta/main.yml
  roles/openstackclient/meta/main.yml
  roles/osquery/meta/main.yml
  roles/phpmyadmin/meta/main.yml
  roles/rng/meta/main.yml
  roles/rook_operator/meta/main.yml
  roles/rsyslog/meta/main.yml
  roles/scaphandre/meta/main.yml
  roles/smartd/meta/main.yml
  roles/squid/meta/main.yml
  roles/tang/meta/main.yml
  roles/thanos_sidecar/meta/main.yml
  roles/traefik/meta/main.yml
  roles/tuned/meta/main.yml
  roles/virtualbmc/meta/main.yml
  roles/wireguard/meta/main.yml
  roles/zuul/meta/main.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-metering, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zuul

manager: also get versions in the osism-update-docker script
  roles/manager/templates/wrapper/osism-update-docker.j2
Due: ansible-collection-services-molecule-manager

docker: use the cli version for the cli package (#1411)
  roles/docker/tasks/install-docker-Debian-family.yml
Due: ansible-collection-services-molecule-docker
