Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-gnmic, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-dnsmasq: any of: ^roles\/dnsmasq\/.*$, ^molecule\/delegated\/tests\/dnsmasq.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-gnmic: any of: ^roles\/gnmic\/.*$, ^molecule\/delegated\/tests\/gnmic.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-httpd: any of: ^roles\/httpd\/.*$, ^molecule\/delegated\/tests\/httpd.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

httpd: bind port 80 also to ipv6 addresses (#1952)
  roles/httpd/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-httpd

netbox: change default value of maintenance from false to true
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: change default value of maintenance from false to true (#1956)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

nexus: add default filter to prevent undefined variable errors
  roles/nexus/tasks/initialize.yml
Due: ansible-collection-services-molecule-nexus

nexus: add default filter to prevent undefined variable errors (#1959)
  roles/nexus/tasks/initialize.yml
Due: ansible-collection-services-molecule-nexus

dnsmasq: add support for extra parameters
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

dnsmasq: add support for extra parameters (#1958)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/tasks/config.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: ansible-collection-services-molecule-dnsmasq

frr: use loopback0 as default vor frr_dummy_interface
  roles/frr/defaults/main.yml
Due: ansible-collection-services-molecule-frr

Fix ansible broken conditionals
  roles/netbird/tasks/main.yml
  roles/netbox/tasks/restart-service.yml
  roles/netbox/tasks/wait-for-healthy-service.yml
  roles/traefik/tasks/config.yml
Due: ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-traefik

Fix ansible 2.19 broken conditionals (#1963)
  roles/netbird/tasks/main.yml
  roles/netbox/tasks/restart-service.yml
  roles/netbox/tasks/wait-for-healthy-service.yml
  roles/traefik/tasks/config.yml
Due: ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-traefik

netbox: add storage prefix role
  roles/netbox/templates/initializers/prefix_vlan_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add storage prefix role (#1965)
  roles/netbox/templates/initializers/prefix_vlan_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add custom field device_interface_label
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox; add transfer prefix role
  roles/netbox/templates/initializers/prefix_vlan_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add custom field device_interface_label (#1967)
  roles/netbox/templates/initializers/custom_fields.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add transfer prefix role (#1968)
  roles/netbox/templates/initializers/prefix_vlan_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

manager: add frontend service
  molecule/delegated/vars/manager.yml
  roles/httpd/tasks/main.yml
  roles/manager/defaults/main.yml
  roles/manager/tasks/config-frontend.yml
  roles/manager/tasks/config.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/templates/env/frontend.env.j2
  roles/netbox/tasks/wait-for-healthy-service.yml
  roles/wazuh_agent/tasks/main.yml
Due: ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox

manager: add INVENTORY_IGNORE_PROVISION_STATE env var
  roles/manager/defaults/main.yml
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: add INVENTORY_IGNORE_PROVISION_STATE env var (#1977)
  roles/manager/defaults/main.yml
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: add frontend service (#1972)
  molecule/delegated/vars/manager.yml
  roles/httpd/tasks/main.yml
  roles/manager/defaults/main.yml
  roles/manager/tasks/config-frontend.yml
  roles/manager/tasks/config.yml
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/templates/env/frontend.env.j2
  roles/netbox/tasks/wait-for-healthy-service.yml
  roles/wazuh_agent/tasks/main.yml
Due: ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox

Revert "chore(deps): update dependency python to 3.13 (#1970)"
  .github/workflows/publish-collection.yml
Due: none

Revert "chore(deps): update dependency python to 3.13 (#1970)" (#1980)
  .github/workflows/publish-collection.yml
Due: none

netbird: add parameter to disable DNS
  roles/netbird/defaults/main.yml
  roles/netbird/tasks/main.yml
Due: ansible-collection-services-molecule-netbird

netbird: add parameter to disable DNS (#1983)
  roles/netbird/defaults/main.yml
  roles/netbird/tasks/main.yml
Due: ansible-collection-services-molecule-netbird

netbird: also set --dns-resolver-address="" for no DNS
  roles/netbird/tasks/main.yml
Due: ansible-collection-services-molecule-netbird

netbird: also set --dns-resolver-address="" for no DNS (#1984)
  roles/netbird/tasks/main.yml
Due: ansible-collection-services-molecule-netbird

netbird: bind dns resolv to 127.0.0.1:1053
  roles/netbird/tasks/main.yml
Due: ansible-collection-services-molecule-netbird

netbird: bind dns resolver to 127.0.0.1:1053 (#1985)
  roles/netbird/tasks/main.yml
Due: ansible-collection-services-molecule-netbird

manager: add share volume to the openstack service
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: move INVENTORY_FROM_NETBOX -> inventory-reconciler.env
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: add manager_inventory_ignore_maintenance_state
  roles/manager/defaults/main.yml
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: add manager_inventory_ignore_maintenance_state (#1988)
  roles/manager/defaults/main.yml
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: move INVENTORY_FROM_NETBOX -> inventory-reconciler.env (#1987)
  roles/manager/templates/docker-compose.yml.j2
  roles/manager/templates/env/inventory-reconciler.env.j2
Due: ansible-collection-services-molecule-manager

manager: add share volume to the openstack service (#1986)
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: add CA certificates to the API service
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: add CA certificates to the API service (#1990)
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Cleanup .ansible-lint file
  .ansible-lint
Due: none

Cleanup .ansible-lint file (#1991)
  .ansible-lint
Due: none

manager: add container version verification system
  roles/manager/tasks/main.yml
  roles/manager/tasks/verify-versions.yml
  roles/manager/templates/check-service-manager-versions.sh.j2
Due: ansible-collection-services-molecule-manager
