Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^roles\/virtualbmc\/.*$, ^molecule\/delegated\/tests\/virtualbmc.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

Add httpd role
  .zuul.yaml
  molecule/delegated/prepare/httpd.yml
  molecule/delegated/tests/httpd.py
  molecule/delegated/vars/httpd.yml
  molecule/delegated/verify/httpd.yml
  roles/httpd/README.md
  roles/httpd/defaults/main.yml
  roles/httpd/handlers/main.yml
  roles/httpd/meta/main.yml
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
Due: none

Add httpd role (#1756)
  .zuul.yaml
  molecule/delegated/prepare/httpd.yml
  molecule/delegated/tests/httpd.py
  molecule/delegated/vars/httpd.yml
  molecule/delegated/verify/httpd.yml
  roles/httpd/README.md
  roles/httpd/defaults/main.yml
  roles/httpd/handlers/main.yml
  roles/httpd/meta/main.yml
  roles/httpd/tasks/main.yml
  roles/httpd/templates/docker-compose.yml.j2
Due: none

httpd: support data sidecar container images
  molecule/delegated/vars/httpd.yml
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/main.yml
Due: none

httpd: support data sidecar container images (#1757)
  molecule/delegated/vars/httpd.yml
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/main.yml
Due: none

docker: docker_storage_containerd_snapshotter should be boolean
  roles/docker/defaults/main.yml
  roles/docker/templates/daemon.json.j2
Due: ansible-collection-services-molecule-docker

docker: docker_storage_containerd_snapshotter should be boolean (#1761)
  roles/docker/defaults/main.yml
  roles/docker/templates/daemon.json.j2
Due: ansible-collection-services-molecule-docker

docker: use docker_version by default
  molecule/delegated/tests/docker/debian.py
  molecule/delegated/tests/docker/main.py
  molecule/delegated/tests/docker/redhat.py
  roles/docker/vars/Debian-family.yml
  roles/docker/vars/RedHat-family.yml
Due: ansible-collection-services-molecule-docker

docker: use docker_version by default (#1762)
  molecule/delegated/tests/docker/debian.py
  molecule/delegated/tests/docker/main.py
  molecule/delegated/tests/docker/redhat.py
  roles/docker/vars/Debian-family.yml
  roles/docker/vars/RedHat-family.yml
Due: ansible-collection-services-molecule-docker

docker: print used versions
  roles/docker/tasks/main.yml
Due: ansible-collection-services-molecule-docker

docker: print used versions (#1763)
  roles/docker/tasks/main.yml
Due: ansible-collection-services-molecule-docker

manager: fix depends_on of the inventory reconciler service
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: fix depends_on of the inventory reconciler service (#1764)
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Remove usage of `osism_netbox_image` in manager role
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Remove usage of `osism_netbox_image` in manager role (#1775)
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Only default to interactive mode in openstackclient if all of stdin, stdout and stderr are a terminals
  roles/openstackclient/templates/openstack.j2
Due: ansible-collection-services-molecule-openstackclient

Use registry.osism.tech
  roles/cephclient/defaults/main.yml
  roles/cgit/defaults/main.yml
  roles/dnsdist/defaults/main.yml
  roles/dnsmasq/defaults/main.yml
  roles/homer/defaults/main.yml
  roles/httpd/defaults/main.yml
  roles/manager/defaults/main.yml
  roles/manager/templates/wrapper/osism-update-manager.j2
  roles/netbox/defaults/main.yml
  roles/nexus/defaults/main.yml
  roles/openstackclient/defaults/main.yml
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient

Use registry.osism.tech (#1777)
  roles/cephclient/defaults/main.yml
  roles/cgit/defaults/main.yml
  roles/dnsdist/defaults/main.yml
  roles/dnsmasq/defaults/main.yml
  roles/homer/defaults/main.yml
  roles/httpd/defaults/main.yml
  roles/manager/defaults/main.yml
  roles/manager/templates/wrapper/osism-update-manager.j2
  roles/netbox/defaults/main.yml
  roles/nexus/defaults/main.yml
  roles/openstackclient/defaults/main.yml
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient

netbox: group postgres version updates
  .github/renovate.json
Due: none

netbox: group postgres version updates (#1781)
  .github/renovate.json
Due: none

manager: add OS_CACERT to openstack environment
  roles/manager/templates/env/openstack.env.j2
Due: ansible-collection-services-molecule-manager

manager: add OS_CACERT to openstack environment (#1783)
  roles/manager/templates/env/openstack.env.j2
Due: ansible-collection-services-molecule-manager

manager: add flux wrapper script
  roles/manager/tasks/config-wrapper.yml
  roles/manager/templates/wrapper/flux.j2
Due: ansible-collection-services-molecule-manager

manager: add flux wrapper script (#1786)
  roles/manager/tasks/config-wrapper.yml
  roles/manager/templates/wrapper/flux.j2
Due: ansible-collection-services-molecule-manager

Remove rook roles
  roles/rook/README.md
  roles/rook/defaults/main.yml
  roles/rook/meta/main.yml
  roles/rook/tasks/change-labels.yml
  roles/rook/tasks/cleanup-labels.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-loadbalancer.yml
  roles/rook/tasks/deploy.yml
  roles/rook/tasks/fetch-keys.yml
  roles/rook/tasks/label-nodes.yml
  roles/rook/tasks/main.yml
  roles/rook/tasks/wait-for-cluster-deleted.yml
  roles/rook/tasks/wait-for-cluster.yml
  roles/rook/templates/cephclients.yml.j2
  roles/rook/templates/loadbalancer-dashboard.yml.j2
  roles/rook/templates/loadbalancer-rgw.yml.j2
  roles/rook/templates/secret-keystone-user.yml.j2
  roles/rook/templates/values.yml.j2
  roles/rook/vars/main.yml
  roles/rook_operator/README.md
  roles/rook_operator/defaults/main.yml
  roles/rook_operator/meta/main.yml
  roles/rook_operator/tasks/main.yml
  roles/rook_operator/vars/main.yml
Due: none

Remove rook roles (#1787)
  roles/rook/README.md
  roles/rook/defaults/main.yml
  roles/rook/meta/main.yml
  roles/rook/tasks/change-labels.yml
  roles/rook/tasks/cleanup-labels.yml
  roles/rook/tasks/cleanup.yml
  roles/rook/tasks/deploy-loadbalancer.yml
  roles/rook/tasks/deploy.yml
  roles/rook/tasks/fetch-keys.yml
  roles/rook/tasks/label-nodes.yml
  roles/rook/tasks/main.yml
  roles/rook/tasks/wait-for-cluster-deleted.yml
  roles/rook/tasks/wait-for-cluster.yml
  roles/rook/templates/cephclients.yml.j2
  roles/rook/templates/loadbalancer-dashboard.yml.j2
  roles/rook/templates/loadbalancer-rgw.yml.j2
  roles/rook/templates/secret-keystone-user.yml.j2
  roles/rook/templates/values.yml.j2
  roles/rook/vars/main.yml
  roles/rook_operator/README.md
  roles/rook_operator/defaults/main.yml
  roles/rook_operator/meta/main.yml
  roles/rook_operator/tasks/main.yml
  roles/rook_operator/vars/main.yml
Due: none

Cleanup ansible-lint configuration
  .ansible-lint
Due: none

manager: fix healthchecks with new alpine based image
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

manager: fix healthchecks with new alpine based image (#1789)
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-manager

Remove cloudnative_pg role
  roles/cloudnative_pg/README.md
  roles/cloudnative_pg/meta/main.yml
  roles/cloudnative_pg/tasks/main.yml
Due: none

Remove cloudnative_pg role (#1790)
  roles/cloudnative_pg/README.md
  roles/cloudnative_pg/meta/main.yml
  roles/cloudnative_pg/tasks/main.yml
Due: none

Default to non-interactive mode in wrapper scripts
  roles/cephclient/templates/wrapper/ceph-authtool.j2
  roles/cephclient/templates/wrapper/ceph.j2
  roles/cephclient/templates/wrapper/crushtool.j2
  roles/cephclient/templates/wrapper/rados.j2
  roles/cephclient/templates/wrapper/radosgw-admin.j2
  roles/cephclient/templates/wrapper/rbd.j2
  roles/cephclient/templates/wrapper/rook.j2
  roles/manager/templates/wrapper/cilium.j2
  roles/manager/templates/wrapper/flux.j2
  roles/manager/templates/wrapper/osism.j2
  roles/openstackclient/templates/openstack.j2
Due: ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-openstackclient

dnsmasq: support dns
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: none

dnsmasq: support dns (#1791)
  roles/dnsmasq/defaults/main.yml
  roles/dnsmasq/templates/dnsmasq.conf.j2
Due: none

Cleanup ansible-lint configuration (#1788)
  .ansible-lint
Due: none

netbox: set postgres shared memory size
  roles/netbox/defaults/main.yml
  roles/netbox/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: set postgres shared memory size (#1794)
  roles/netbox/defaults/main.yml
  roles/netbox/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add DPU device role
  roles/netbox/templates/initializers/device_roles.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add postgres configuration file
  roles/netbox/tasks/config-postgres.yml
  roles/netbox/templates/docker-compose.yml.j2
  roles/netbox/templates/postgresql.conf.j2
Due: ansible-collection-services-molecule-netbox
