Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

ansible-collection-services-molecule-adminer:
  parent: ansible-molecule
  vars:
    ansible_role: adminer
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-auditd:
  parent: ansible-molecule
  vars:
    ansible_role: auditd
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-bird:
  parent: ansible-molecule
  vars:
    ansible_role: bird
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-cephclient:
  parent: ansible-molecule
  vars:
    ansible_role: cephclient
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-cgit:
  parent: ansible-molecule
  vars:
    ansible_role: cgit
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-chrony:
  parent: ansible-molecule
  vars:
    ansible_role: chrony
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-clamav:
  parent: ansible-molecule
  vars:
    ansible_role: clamav
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-containerd:
  parent: ansible-molecule
  vars:
    ansible_role: containerd
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-dnsdist:
  parent: ansible-molecule
  vars:
    ansible_role: dnsdist
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-docker:
  parent: ansible-molecule
  vars:
    ansible_role: docker
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-fail2ban:
  parent: ansible-molecule
  vars:
    ansible_role: fail2ban
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-falco:
  parent: ansible-molecule
  vars:
    ansible_role: falco
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-frr:
  parent: ansible-molecule
  vars:
    ansible_role: frr
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-hddtemp:
  parent: ansible-molecule
  vars:
    ansible_role: hddtemp
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-homer:
  parent: ansible-molecule
  vars:
    ansible_role: homer
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-journald:
  parent: ansible-molecule
  vars:
    ansible_role: journald
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-lldpd:
  parent: ansible-molecule
  vars:
    ansible_role: lldpd
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-openstack_health_monitor:
  parent: ansible-molecule
  vars:
    ansible_role: openstack_health_monitor
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-netbox:
  parent: ansible-molecule
  vars:
    ansible_role: netbox
    ansible_molecule_ansible_version: 8.7.0

ansible-collection-services-molecule-rng:
  parent: ansible-molecule
  vars:
    ansible_role: rng
    ansible_molecule_ansible_version: 8.7.0

Review wireguard test
  molecule/delegated/vars/wireguard.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Review rsyslog test
  molecule/delegated/tests/rsyslog.py
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Update zuul.yaml
  .zuul.yaml
Due: none

Review traefik test
  molecule/delegated/tests/traefik.py
  molecule/delegated/vars/traefik.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Add "become: true" in container-Debian.yml :70
  roles/cephclient/tasks/container-Debian.yml
Due: ansible-collection-services-molecule-cephclient

Modified delegated/tests/vars/wireguard.yml
  molecule/delegated/vars/wireguard.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Changed nexus.py
  molecule/delegated/tests/nexus.py
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Fix Errors
  molecule/delegated/prepare/cephclient.yml
  molecule/delegated/vars/wireguard.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

zuul: Make volume settings configurable
  releasenotes/notes/zuul-volume-settings-dfdcc32a900018cb.yaml
  roles/zuul/defaults/main.yml
  roles/zuul/templates/docker-compose.yaml.j2
Due: none

thanos_sidecar: add thanos sidecar role (#1221)
  README.md
  roles/thanos_sidecar/README.md
  roles/thanos_sidecar/README.rst
  roles/thanos_sidecar/defaults/main.yml
  roles/thanos_sidecar/handlers/main.yml
  roles/thanos_sidecar/meta/main.yml
  roles/thanos_sidecar/tasks/config.yml
  roles/thanos_sidecar/tasks/main.yml
  roles/thanos_sidecar/tasks/service.yml
  roles/thanos_sidecar/templates/docker-compose.yml.j2
Due: none

manager: allow arguments in the osism update scripts
  releasenotes/notes/manager-update-wrapper-arguments-2f5ea72ac68aa8ec.yaml
  roles/manager/templates/wrapper/osism.j2
Due: none

manager: allow arguments in the osism update scripts (#1242)
  releasenotes/notes/manager-update-wrapper-arguments-2f5ea72ac68aa8ec.yaml
  roles/manager/templates/wrapper/osism.j2
Due: none

squid: allow access to .gtihubusercontent.com
  releasenotes/notes/squid-allow-githubusercontent.com-7302dde58974d3b0.yaml
  roles/squid/defaults/main.yml
Due: ansible-collection-services-molecule-squid

manager: add ara_server_mariadb_volume_type parameter
  releasenotes/notes/manager-ara-server-mariadb-volume-type-cb20abe7946ecbed.yaml
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
Due: none

manager: add ara_server_mariadb_volume_type parameter (#1244)
  releasenotes/notes/manager-ara-server-mariadb-volume-type-cb20abe7946ecbed.yaml
  roles/manager/defaults/main.yml
  roles/manager/templates/docker-compose.yml.j2
Due: none

netbox: add netbox_postgres_volume_type parameter
  releasenotes/notes/netbox-netbox_postgres_volume_typ-ade52938ba4a2185.yaml
  roles/netbox/defaults/main.yml
  roles/netbox/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-netbox

netbox: add netbox_postgres_volume_type parameter (#1245)
  releasenotes/notes/netbox-netbox_postgres_volume_typ-ade52938ba4a2185.yaml
  roles/netbox/defaults/main.yml
  roles/netbox/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-netbox

openstackclient: improve service start
  roles/openstackclient/handlers/main.yml
  roles/openstackclient/tasks/container-Debian.yml
Due: none

openstackclient: improve service start (#1246)
  roles/openstackclient/handlers/main.yml
  roles/openstackclient/tasks/container-Debian.yml
Due: none

squid: remove dstdomain whitelisting
  molecule/delegated/tests/squid.py
  releasenotes/notes/squid-remove-whitelist-42419d9868936912.yaml
  roles/squid/defaults/main.yml
  roles/squid/tasks/main.yml
  roles/squid/templates/osism.conf.j2
  roles/squid/templates/osism_allow_list.conf.j2
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

squid: remove dstdomain whitelisting (#1249)
  molecule/delegated/tests/squid.py
  releasenotes/notes/squid-remove-whitelist-42419d9868936912.yaml
  roles/squid/defaults/main.yml
  roles/squid/tasks/main.yml
  roles/squid/templates/osism.conf.j2
  roles/squid/templates/osism_allow_list.conf.j2
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

homer: remove homer_kibana_url parameter
  releasenotes/notes/homer-remove-kibana-d0c81feafe1af25e.yaml
  roles/homer/README.rst
  roles/homer/defaults/main.yml
  roles/homer/tasks/main.yml
  roles/homer/templates/config.yml.j2
Due: ansible-collection-services-molecule-homer

homer: remove homer_kibana_url parameter (#1251)
  releasenotes/notes/homer-remove-kibana-d0c81feafe1af25e.yaml
  roles/homer/README.rst
  roles/homer/defaults/main.yml
  roles/homer/tasks/main.yml
  roles/homer/templates/config.yml.j2
Due: ansible-collection-services-molecule-homer

zuul: cleanup files (pt. 1)
  .zuul.yaml
Due: none

zuul: cleanup files (pt. 1) (#1253)
  .zuul.yaml
Due: none

nexus: revive the service
  molecule/delegated/tests/nexus.py
  roles/nexus/README.rst
  roles/nexus/defaults/main.yml
  roles/nexus/tasks/call-script.yml
  roles/nexus/tasks/declare-script.yml
  roles/nexus/templates/docker-compose.yml.j2
  roles/nexus/templates/nexus.env.j2
  roles/nexus/templates/nexus.properties.j2
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

nexus: revive the service (#1252)
  molecule/delegated/tests/nexus.py
  roles/nexus/README.rst
  roles/nexus/defaults/main.yml
  roles/nexus/tasks/call-script.yml
  roles/nexus/tasks/declare-script.yml
  roles/nexus/templates/docker-compose.yml.j2
  roles/nexus/templates/nexus.env.j2
  roles/nexus/templates/nexus.properties.j2
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Add netdata testing
  molecule/delegated/tests/netdata.py
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Add smartd testing
  molecule/delegated/prepare/smartd.yml
  molecule/delegated/tests/smartd.py
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Add zuul unittest
  .zuul.yaml
  molecule/delegated/prepare/zuul.yml
  molecule/delegated/tests/zuul.py
  molecule/delegated/vars/zuul.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Add osquery test
  molecule/delegated/tests/osquery.py
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Modified udm-rest.env.j2 and add openldap unittest
  molecule/delegated/prepare/openldap.yml
  molecule/delegated/tests/openldap.py
  molecule/delegated/vars/openldap.yml
  roles/openldap/templates/env/udm-rest.env.j2
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Add unittest for manager role
  .zuul.yaml
  molecule/delegated/prepare/manager.yml
  molecule/delegated/tests/manager.py
  molecule/delegated/tests/netdata.py
  molecule/delegated/tests/nexus.py
  molecule/delegated/tests/osquery.py
  molecule/delegated/tests/smartd.py
  molecule/delegated/vars/manager.yml
  roles/manager/handlers/main.yml
  roles/manager/tasks/service.yml
  roles/manager/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Add unittest for keycloak role
  .zuul.yaml
  molecule/delegated/prepare/keycloak.yml
  molecule/delegated/tests/keycloak.py
  molecule/delegated/tests/manager.py
  molecule/delegated/vars/keycloak.yml
  roles/keycloak/tasks/main.yml
  roles/keycloak/tasks/service.yml
  roles/keycloak/templates/env/keycloak.env.j2
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Add modified README.md with links to unittests
  README.md
Due: none

Add unittest for thanos_sidecar role
  .zuul.yaml
  README.md
  molecule/delegated/prepare/thanos_sidecar.yml
  molecule/delegated/tests/thanos_sidecar.py
  molecule/delegated/vars/thanos_sidecar.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Fix race condition in osquery.py
  molecule/delegated/tests/osquery.py
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Check smartd role and test again
  molecule/delegated/tests/smartd.py
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Check netdata role and test again
  molecule/delegated/tests/netdata.py
  molecule/delegated/vars/netdata.yml
Due: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-bird, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-openstack_health_monitor, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-virtualbmc, ansible-collection-services-molecule-wireguard

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/adminer\/.*$, ^roles\/adminer\/.*$
  ansible-collection-services-molecule-auditd: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/auditd\/.*$, ^roles\/auditd\/.*$
  ansible-collection-services-molecule-bird: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/bird\/.*$, ^roles\/bird\/.*$
  ansible-collection-services-molecule-cephclient: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/cephclient\/.*$, ^roles\/cephclient\/.*$
  ansible-collection-services-molecule-cgit: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/cgit\/.*$, ^roles\/cgit\/.*$
  ansible-collection-services-molecule-chrony: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/chrony\/.*$, ^roles\/chrony\/.*$
  ansible-collection-services-molecule-clamav: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/clamav\/.*$, ^roles\/clamav\/.*$
  ansible-collection-services-molecule-containerd: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/containerd\/.*$, ^roles\/containerd\/.*$
  ansible-collection-services-molecule-dnsdist: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/dnsdist\/.*$, ^roles\/dnsdist\/.*$
  ansible-collection-services-molecule-docker: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/docker\/.*$, ^roles\/docker\/.*$
  ansible-collection-services-molecule-fail2ban: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/fail2ban\/.*$, ^roles\/fail2ban\/.*$
  ansible-collection-services-molecule-falco: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/falco\/.*$, ^roles\/falco\/.*$
  ansible-collection-services-molecule-frr: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/frr\/.*$, ^roles\/frr\/.*$
  ansible-collection-services-molecule-hddtemp: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/hddtemp\/.*$, ^roles\/hddtemp\/.*$
  ansible-collection-services-molecule-homer: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/homer\/.*$, ^roles\/homer\/.*$
  ansible-collection-services-molecule-journald: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/journald\/.*$, ^roles\/journald\/.*$
  ansible-collection-services-molecule-lldpd: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/lldpd\/.*$, ^roles\/lldpd\/.*$
  ansible-collection-services-molecule-openstack_health_monitor: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/openstack_health_monitor\/.*$, ^roles\/openstack_health_monitor\/.*$
  ansible-collection-services-molecule-netbox: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/netbox\/.*$, ^roles\/netbox\/.*$
  ansible-collection-services-molecule-nexus: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/nexus\/.*$, ^roles\/nexus\/.*$
  ansible-collection-services-molecule-osquery: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/osquery\/.*$, ^roles\/osquery\/.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/phpmyadmin\/.*$, ^roles\/phpmyadmin\/.*$
  ansible-collection-services-molecule-rng: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/rng\/.*$, ^roles\/rng\/.*$
  ansible-collection-services-molecule-rsyslog: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/rsyslog\/.*$, ^roles\/rsyslog\/.*$
  ansible-collection-services-molecule-scaphandre: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/scaphandre\/.*$, ^roles\/scaphandre\/.*$
  ansible-collection-services-molecule-squid: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/squid\/.*$, ^roles\/squid\/.*$
  ansible-collection-services-molecule-traefik: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/traefik\/.*$, ^roles\/traefik\/.*$
  ansible-collection-services-molecule-tuned: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/tuned\/.*$, ^roles\/tuned\/.*$
  ansible-collection-services-molecule-virtualbmc: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/virtualbmc\/.*$, ^roles\/virtualbmc\/.*$
  ansible-collection-services-molecule-wireguard: any of: ^molecule\/delegated\/.*$, ^molecule\/requirements\.txt$, ^molecule\/wireguard\/.*$, ^roles\/wireguard\/.*$
