Repository osism/ansible-collection-services: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collection-services-molecule-adminer, ansible-collection-services-molecule-auditd, ansible-collection-services-molecule-cephclient, ansible-collection-services-molecule-cgit, ansible-collection-services-molecule-chrony, ansible-collection-services-molecule-clamav, ansible-collection-services-molecule-containerd, ansible-collection-services-molecule-dnsdist, ansible-collection-services-molecule-dnsmasq, ansible-collection-services-molecule-docker, ansible-collection-services-molecule-fail2ban, ansible-collection-services-molecule-falco, ansible-collection-services-molecule-frr, ansible-collection-services-molecule-gnmic, ansible-collection-services-molecule-hddtemp, ansible-collection-services-molecule-homer, ansible-collection-services-molecule-httpd, ansible-collection-services-molecule-journald, ansible-collection-services-molecule-lldpd, ansible-collection-services-molecule-manager, ansible-collection-services-molecule-netbox, ansible-collection-services-molecule-netbird, ansible-collection-services-molecule-netdata, ansible-collection-services-molecule-nexus, ansible-collection-services-molecule-openstackclient, ansible-collection-services-molecule-osquery, ansible-collection-services-molecule-phpmyadmin, ansible-collection-services-molecule-rng, ansible-collection-services-molecule-rsyslog, ansible-collection-services-molecule-scaphandre, ansible-collection-services-molecule-smartd, ansible-collection-services-molecule-sshd, ansible-collection-services-molecule-squid, ansible-collection-services-molecule-thanos_sidecar, ansible-collection-services-molecule-teleport, ansible-collection-services-molecule-traefik, ansible-collection-services-molecule-tuned, ansible-collection-services-molecule-wazuh-agent, ansible-collection-services-molecule-wireguard, ansible-collection-services-molecule-zabbix_agent, ansible-collection-services-molecule-zuul

Path conditions:
  ansible-collection-services-molecule-adminer: any of: ^roles\/adminer\/.*$, ^molecule\/delegated\/tests\/adminer.*$
  ansible-collection-services-molecule-auditd: any of: ^roles\/auditd\/.*$, ^molecule\/delegated\/tests\/auditd.*$
  ansible-collection-services-molecule-cephclient: any of: ^roles\/cephclient\/.*$, ^molecule\/delegated\/tests\/cephclient.*$
  ansible-collection-services-molecule-cgit: any of: ^roles\/cgit\/.*$, ^molecule\/delegated\/tests\/cgit.*$
  ansible-collection-services-molecule-chrony: any of: ^roles\/chrony\/.*$, ^molecule\/delegated\/tests\/chrony.*$
  ansible-collection-services-molecule-clamav: any of: ^roles\/clamav\/.*$, ^molecule\/delegated\/tests\/clamav.*$
  ansible-collection-services-molecule-containerd: any of: ^roles\/containerd\/.*$, ^molecule\/delegated\/tests\/containerd.*$
  ansible-collection-services-molecule-dnsdist: any of: ^roles\/dnsdist\/.*$, ^molecule\/delegated\/tests\/dnsdist.*$
  ansible-collection-services-molecule-dnsmasq: any of: ^roles\/dnsmasq\/.*$, ^molecule\/delegated\/tests\/dnsmasq.*$
  ansible-collection-services-molecule-docker: any of: ^roles\/docker\/.*$, ^molecule\/delegated\/tests\/docker.*$
  ansible-collection-services-molecule-fail2ban: any of: ^roles\/fail2ban\/.*$, ^molecule\/delegated\/tests\/fail2ban.*$
  ansible-collection-services-molecule-falco: any of: ^roles\/falco\/.*$, ^molecule\/delegated\/tests\/falco.*$
  ansible-collection-services-molecule-frr: any of: ^roles\/frr\/.*$, ^molecule\/delegated\/tests\/frr.*$
  ansible-collection-services-molecule-gnmic: any of: ^roles\/gnmic\/.*$, ^molecule\/delegated\/tests\/gnmic.*$
  ansible-collection-services-molecule-hddtemp: any of: ^roles\/hddtemp\/.*$, ^molecule\/delegated\/tests\/hddtemp.*$
  ansible-collection-services-molecule-homer: any of: ^roles\/homer\/.*$, ^molecule\/delegated\/tests\/homer.*$
  ansible-collection-services-molecule-httpd: any of: ^roles\/httpd\/.*$, ^molecule\/delegated\/tests\/httpd.*$
  ansible-collection-services-molecule-journald: any of: ^roles\/journald\/.*$, ^molecule\/delegated\/tests\/journald.*$
  ansible-collection-services-molecule-lldpd: any of: ^roles\/lldpd\/.*$, ^molecule\/delegated\/tests\/lldpd.*$
  ansible-collection-services-molecule-manager: any of: ^roles\/manager\/.*$, ^molecule\/delegated\/prepare\/manager.*$, ^molecule\/delegated\/tests\/manager.*$, ^molecule\/delegated\/vars\/manager.*$
  ansible-collection-services-molecule-netbox: any of: ^roles\/netbox\/.*$, ^molecule\/delegated\/tests\/netbox.*$
  ansible-collection-services-molecule-netbird: any of: ^roles\/netbird\/.*$, ^molecule\/delegated\/tests\/netbird.*$
  ansible-collection-services-molecule-netdata: any of: ^roles\/netdata\/.*$, ^molecule\/delegated\/tests\/netdata.*$
  ansible-collection-services-molecule-nexus: any of: ^roles\/nexus\/.*$, ^molecule\/delegated\/tests\/nexus.*$
  ansible-collection-services-molecule-openstackclient: any of: ^roles\/openstackclient\/.*$, ^molecule\/delegated\/tests\/openstackclient.*$
  ansible-collection-services-molecule-osquery: any of: ^roles\/osquery\/.*$, ^molecule\/delegated\/tests\/osquery.*$
  ansible-collection-services-molecule-phpmyadmin: any of: ^roles\/phpmyadmin\/.*$, ^molecule\/delegated\/tests\/phpmyadmin.*$
  ansible-collection-services-molecule-rng: any of: ^roles\/rng\/.*$, ^molecule\/delegated\/tests\/rng.*$
  ansible-collection-services-molecule-rsyslog: any of: ^roles\/rsyslog\/.*$, ^molecule\/delegated\/tests\/rsyslog.*$
  ansible-collection-services-molecule-scaphandre: any of: ^roles\/scaphandre\/.*$, ^molecule\/delegated\/tests\/scaphandre.*$
  ansible-collection-services-molecule-smartd: any of: ^roles\/smartd\/.*$, ^molecule\/delegated\/tests\/smartd.*$
  ansible-collection-services-molecule-sshd: any of: ^roles\/sshd\/.*$, ^molecule\/delegated\/tests\/sshd.*$
  ansible-collection-services-molecule-squid: any of: ^roles\/squid\/.*$, ^molecule\/delegated\/tests\/squid.*$
  ansible-collection-services-molecule-thanos_sidecar: any of: ^roles\/thanos_sidecar\/.*$, ^molecule\/delegated\/tests\/thanos_sidecar.*$
  ansible-collection-services-molecule-teleport: any of: ^roles\/teleport\/.*$, ^molecule\/delegated\/tests\/teleport.*$
  ansible-collection-services-molecule-traefik: any of: ^roles\/traefik\/.*$, ^molecule\/delegated\/tests\/traefik.*$
  ansible-collection-services-molecule-tuned: any of: ^roles\/tuned\/.*$, ^molecule\/delegated\/tests\/tuned.*$
  ansible-collection-services-molecule-wazuh-agent: any of: ^roles\/wazuh-agent\/.*$, ^molecule\/delegated\/tests\/wazuh-agent.*$
  ansible-collection-services-molecule-wireguard: any of: ^roles\/wireguard\/.*$, ^molecule\/delegated\/tests\/wireguard.*$
  ansible-collection-services-molecule-zabbix_agent: any of: ^roles\/zabbix_agent\/.*$, ^molecule\/delegated\/prepare\/zabbix_agent.*$, ^molecule\/delegated\/tests\/zabbix_agent.*$, ^molecule\/delegated\/vars\/zabbix_agent.*$
  ansible-collection-services-molecule-zuul: any of: ^roles\/zuul\/.*$, ^molecule\/delegated\/tests\/zuul.*$

thanos_sidecar: drop the role and service
  .zuul.yaml
  molecule/delegated/tests/thanos_sidecar.py
  roles/thanos_sidecar/README.md
  roles/thanos_sidecar/defaults/main.yml
  roles/thanos_sidecar/handlers/main.yml
  roles/thanos_sidecar/meta/main.yml
  roles/thanos_sidecar/tasks/config.yml
  roles/thanos_sidecar/tasks/main.yml
  roles/thanos_sidecar/tasks/service.yml
  roles/thanos_sidecar/templates/docker-compose.yml.j2
Due: ansible-collection-services-molecule-thanos_sidecar

kepler: pin, mirror, and Renovate-track image
  .github/renovate.json
  roles/kepler/defaults/main.yml
Due: none

substation: pin and Renovate-track image
  roles/substation/defaults/main.yml
Due: none

substation: pin and Renovate-track image (#2138)
  roles/substation/defaults/main.yml
Due: none

docker: retry python3-docker deb download on transient failures
  roles/docker/tasks/install-docker-Debian-family.yml
Due: ansible-collection-services-molecule-docker

httpd: stringify USER_ID/GROUP_ID env values
  roles/httpd/tasks/main.yml
Due: ansible-collection-services-molecule-httpd

netbox: fix quoted version guard in restart
  roles/netbox/tasks/restart-service.yml
Due: ansible-collection-services-molecule-netbox

httpd: stringify USER_ID/GROUP_ID env values (#2144)
  roles/httpd/tasks/main.yml
Due: ansible-collection-services-molecule-httpd

netbox: fix quoted version guard in restart (#2143)
  roles/netbox/tasks/restart-service.yml
Due: ansible-collection-services-molecule-netbox

zuul: bump molecule ansible test pin to 12.3.0
  .zuul.yaml
Due: none

changelog: add release notes for v0.20260429.0 through v0.20260721.0
  CHANGELOG.md
Due: none

frr: make maximum-paths configurable
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_leaf.conf.j2
  roles/frr/templates/frr_loadbalancer.conf.j2
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
  roles/frr/templates/frr_yrzn001.conf.j2
Due: ansible-collection-services-molecule-frr

manager: retry image pull on transient errors
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager

manager: retry image pull on transient errors (#2150)
  roles/manager/tasks/service.yml
Due: ansible-collection-services-molecule-manager

frr: make maximum-paths configurable (#2147)
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_leaf.conf.j2
  roles/frr/templates/frr_loadbalancer.conf.j2
  roles/frr/templates/frr_loadbalancer_external_uplink.conf.j2
  roles/frr/templates/frr_yrzn001.conf.j2
Due: ansible-collection-services-molecule-frr

changelog: add release notes for v0.20260730.0
  CHANGELOG.md
Due: none

changelog: add release notes for v0.20260730.0 (#2151)
  CHANGELOG.md
Due: none

frr: allow locking the installed package version
  molecule/delegated/tests/frr.py
  roles/frr/defaults/main.yml
  roles/frr/tasks/install-Debian-family.yml
  roles/frr/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-frr

frr: allow locking the installed package version (#2152)
  molecule/delegated/tests/frr.py
  roles/frr/defaults/main.yml
  roles/frr/tasks/install-Debian-family.yml
  roles/frr/tasks/install-RedHat-family.yml
Due: ansible-collection-services-molecule-frr

manager: remove osism-update-manager wrapper script
  .github/renovate.json
  molecule/delegated/tests/manager.py
  roles/manager/defaults/main.yml
  roles/manager/templates/wrapper/osism-update-manager.j2
  roles/manager/templates/wrapper/osism.j2
  roles/manager/vars/wrapper.yml
Due: ansible-collection-services-molecule-manager

Allow server definitions with arbitrary paramters
  roles/dnsdist/defaults/main.yml
  roles/dnsdist/templates/dnsdist.conf.j2
Due: ansible-collection-services-molecule-dnsdist

Make dnsdist ACLs configurable
  roles/dnsdist/defaults/main.yml
  roles/dnsdist/templates/dnsdist.conf.j2
Due: ansible-collection-services-molecule-dnsdist

dnsdist restart on config change
  roles/dnsdist/tasks/config.yml
Due: ansible-collection-services-molecule-dnsdist

changelog: add release notes for v0.20260806.0
  CHANGELOG.md
Due: none

changelog: add release notes for v0.20260806.0 (#2156)
  CHANGELOG.md
Due: none

httpd: serve a stable onie-installer for ONIE
  molecule/delegated/tests/httpd.py
  molecule/delegated/vars/httpd.yml
  roles/httpd/defaults/main.yml
  roles/httpd/tasks/sonic-ztp.yml
  roles/httpd/templates/httpd.conf.j2
Due: ansible-collection-services-molecule-httpd

changelog: add release notes for v0.20260818.0
  CHANGELOG.md
Due: none

changelog: add release notes for v0.20260818.0 (#2159)
  CHANGELOG.md
Due: none

manager: reload the services when an environment file changes
  roles/manager/tasks/config-ansible.yml
  roles/manager/tasks/config-ara.yml
  roles/manager/tasks/config-celery.yml
  roles/manager/tasks/config-frontend.yml
  roles/manager/tasks/config-netbox.yml
  roles/manager/tasks/config-vault.yml
  roles/manager/tasks/config.yml
Due: ansible-collection-services-molecule-manager

frr: add numbered BGP neighbors and prefix based bgp_out clauses
  roles/frr/defaults/main.yml
  roles/frr/templates/frr_leaf.conf.j2
Due: ansible-collection-services-molecule-frr
